body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.header {
    background: url(../img/background.png) no-repeat center top / cover;
    height: 720px;
    width: 100%;
}
.conteiner {
    margin: 0 auto;
    width: 1170px;  
}


/* Navigation */


.navigation {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.nav {
    position: relative;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    padding-top: 26px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
}
.nav>li {
    padding-left: 40px;    
}
.nav>li>a{
    text-decoration: none;
    color: #3b3944;
    border-bottom: 2px dotted #3b3944;
}
.logo_text {
    position: absolute;
    padding-top: 32px;
    padding-left: 20px;   
}
.title_header {
    padding-top: 68px;
    font-size: 64px;
    font-weight: 700;
}
.title_description {
    color: #4b69b0;
    font-size: 34px;
    font-weight: 500;
    width: 445px;
    margin-bottom: 46px;
}
.menu-inner {
    display: table-column;
}


/* Header content */


.main_content {
    display: flex;
    justify-content: space-between;
}

.properties_description {
    font-weight: 500;
    font-size: 20px;
    color: #3b3944;
}    
.properties_description p {
    background: url(../img/radio_icon.png) no-repeat;
    height: 20px;
    padding-left: 40px;
    margin-bottom: 18px;
}
.form_action {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    right: 0;
    width: 270px;
    height: 432px;
    background-color: #fff;
    border-radius: 2%;
}
.title_form{
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    padding-top: 22px;
    color: #5774b8;
}
.form_action__price {
    display: flex;
    justify-content: space-between; 
    padding-top: 25px;   
}
.form_action p {
    margin: 0;
    padding: 0;
}
.new_price {
    font-size: 14px;
    color: #737e96;
    padding-left: 17px;   
}
.new_price p {
    padding-bottom: 4px;
}
.old_price {
    color: #737e96;
    font-size: 13px;
    border-right: 1px solid #d9ecf2;
    padding-right: 17px;
    height: 53px;
}
.old_price p{
    padding-bottom: 16px;
}
.form {
    padding-top: 25px;
    text-align: center;
    
}
.input {
    padding-left: 20px;
    background: url(../img/icon_name.png) no-repeat center left 20px;
    width: 220px;
    height: 55px;
    padding-left: 50px;
}
input {
    border-radius: 5px;
    border: 1px solid #b5c1de;
    margin-bottom: 15px;
    font-size: 18px;
    color: #a6aebb;
    box-shadow: inset 3px 4px 2px #f6f8f9;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
.btn {
    width: 220px;
    height: 70px;
    background: rgba(46,149,204,1);
    background: -moz-linear-gradient(top, rgba(46,149,204,1) 0%, rgba(52,170,216,1) 50%, rgba(58,190,227,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,149,204,1)), color-stop(50%, rgba(52,170,216,1)), color-stop(100%, rgba(58,190,227,1)));
    background: -webkit-linear-gradient(top, rgba(46,149,204,1) 0%, rgba(52,170,216,1) 50%, rgba(58,190,227,1) 100%);
    background: -o-linear-gradient(top, rgba(46,149,204,1) 0%, rgba(52,170,216,1) 50%, rgba(58,190,227,1) 100%);
    background: -ms-linear-gradient(top, rgba(46,149,204,1) 0%, rgba(52,170,216,1) 50%, rgba(58,190,227,1) 100%);
    background: linear-gradient(to bottom, rgba(46,149,204,1) 0%, rgba(52,170,216,1) 50%, rgba(58,190,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e95cc', endColorstr='#3abee3', GradientType=0 );
    border-radius: 5px;
    border-bottom: 4px solid #2d96cc;
    color: #fff;
    transition: all 0.7s ease;
}
.btn:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn>span {
    font-weight: bold;
    font-size: 27px;
    line-height: 0.2em;
}
.tel {
    background: url(../img/icon_tel.png) no-repeat center left 20px;   
}
.package {
    position: relative;
    left: 32%;
    top: -175px; 
    width: 46%;    
}
.package-bg {
    width: 100%;
    top: -25px;
    position: relative;
    left: 8px;
}


/* Block Symptom */


.symptom{
    padding-top: 126px;
    height: 1207px;
}
.symptom-bg {
    background: url(../img/symtom_bg.png) no-repeat center;
    background-origin: content-box;
    background-position: top 32px left 300px;
}
.title-symptom {
    text-align: center;
    font-size: 49px;
}
.title-symptom>span {
    color: #f56856;
}
.symptom_values {
    padding-top: 81px;
}
.value {
    background: url(../img/symptom_lightning.png) no-repeat top left;
    padding-left: 120px;
    padding-bottom: 50px;
}
.value-title {    
    font-size: 32px;  
}
.value-text {
    margin-top: 12px;
    font-size: 20px;
    color: #7e7c89;
    width: auto;
}
.value-lock {
    background: url(../img/symtom_lock.png) no-repeat top left;
}
.value-foot {
    background: url(../img/symtom_foot.png) no-repeat top left;
}
.content {
    display: flex;
}
.bg-man {
    position: relative;
    padding-bottom: 180px;
}
.symptom-warning {
    display: flex;
    margin-top: 38px;  
}
.symptom-warning img {
    border-top: 3px solid #b9cfdd;
    padding-top: 30px;
    margin-right: 50px;
}
img.align-self {
    align-self: center;
}
.symptom-warning p{
    position: relative;
    padding-top: 30px;
    font-size: 25px;  
}
.border::before {
    content: "";
    position: absolute;
    top: 7px;
    width: 40%;
    border-top: 3px solid #e5f2fa;
}


/* Block Order */


.order {
    background: url(../img/order_bg.png) no-repeat center top / cover;
    height: 310px;
    width: 100%;
}
.order-title{    
    font-size: 60px;
    padding-top: 42px;
    line-height: 0.4em;    
}
.order-title_change {
    color: #5774b8;
}
.order-title_description {
    font-size: 28px;
    padding-top: 38px;
    width: 595px;   
}
.btn-order {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 37px;   
}
.btn-order .btn span {
    font-weight: bold;
    font-size: 27px;
    line-height: 0.2em;
}
.btn a {
    text-decoration: none;
    color: #fff;
}
.btn-order .btn {
    padding-top: 10px;
    font-size: 21px;
}
.order-package {
    left: 629px;
    top: -340px;

}
.order .conteiner {
    display: flex;
}
.content-composition {
    padding-top: 176px;
    display: flex;
}
.composition-description {
    width: 498px;
    margin-right: 100px;
}
.composition-title {
    font-size: 46px;
    line-height: 52px;  
}
.composition-title_img {
    padding-top: 55px;
}
.consist {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.consist-wrapper {
    width: 33%;
    margin-right: 64px;
    margin-bottom: 75px;   
}
.consist-title {
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 3px solid #e0e9ee;
}
.consist-img {
    padding-top: 37px;
}
.consist-intro {
    font-size: 18px;
    color: #8e8c95;
}
.consist-sylfat p {
    width: 264px;
}
































@media (min-width: 1025px) and (max-width: 1200px) {
    .conteiner{
        overflow: hidden;
        width: 100%;
    }   
    /* menu */
    .menu-outter{
        width: 200px;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        position: fixed;
        right: -200px;
        box-shadow: 1px 1px 3px 0;
        transition:left .7s;
    }
    .menu-outter:hover{
        right:0px;
    } 
    .menu-inner{
        display: block;
        width: 40px;
        height: 40px;
        background-color:gray;
        position:absolute;
        left:-40px;
        top:25px;
        border-radius: 5px 0 0 5px;
        box-shadow: 1px 1px 2px 0 rgba(0, 0 , 0 .7);
        font-size:1.5em;
        text-align:center;
        vertical-align:middle;
        color:#eee;
    }
    .nav{
        display: block;
        list-style:none;
        font-size: 1em;
        line-height: 1.7em;
        font-family: Arial, sans-serif;
        padding-top: 5px;
    }
    .nav li {
        padding-left: 0;
    }
    .nav a{
        text-decoration:none;
        color:black;
        padding: 0px;  
    }
    .nav>li>a {
        border-bottom: none;
        padding-left: 0;
    }
    .nav li:hover{
        background-color: #5774b8;
        border-radius:5px 0 0  5px; 
    }
    .media-left{
        padding-left: 2%;
    }
    .form_action {
        right: 2%;
    }
    .package {
        left: 36%;   
    }
    .consist-sylfat p {
        width: 100%;
    }
    .content-composition {
        width: 100%;
    }
    .composition-title {
        font-size: 32px;
        width: 100%;
    }
    .composition-title_img {
        width: 100%;
    }
    .composition-description {
        width: 100%;
        margin-right: 0;
    }
    .consist{
        width: 100%;
    }
    .order {
        width: 100%;
    }
    .order-package{
        width: 92%;
        
    }
    .package-bg { 
        top: 0;    
    }
    
}
@media  (min-width: 769px) and (max-width: 1024px) {
    
    .header {
        background: url(../img/order_bg.png) no-repeat center / cover;
    }
    
/* menu */
    .menu-outter{
     width: 200px;
     height: auto;
     background-color: #fff;
     border-radius: 5px;
     position: fixed;
     right: -200px;
     box-shadow: 1px 1px 3px 0;
     transition:left .7s;
    }
    .menu-outter:hover{
     right:0px;
    } 
    .menu-outter:active{
        right:0px;
        } 
    .menu-inner{
     width: 40px;
     height: 40px;
     background-color:gray;
     position:absolute;
     left:-40px;
     top:25px;
     border-radius: 5px 0 0 5px;
     box-shadow: 1px 1px 2px 0 rgba(0, 0 , 0 .7);
     font-size:1.5em;
     text-align:center;
     vertical-align:middle;
     color:#eee;
  }
  .nav{
    display: block;
    list-style:none;
    font-size: 1em;
    line-height: 1.7em;
    font-family: Arial, sans-serif;
    padding-top: 5px;
  }
  .nav li {
      padding-left: 0;
  }
  .nav a{
      text-decoration:none;
      color:black;
      padding: 0px;
      
  }
  .nav>li>a {
      border-bottom: none;
      padding-left: 0;
  }
  
  .nav li:hover{
    background-color: #5774b8;
    border-radius:5px 0 0  5px; 
  }

    .conteiner {
        overflow: hidden;
        width: 100%;
    }
    .media-left{
        padding-left: 2%;
        padding-right: 2%;
    }
    .main_content {
        padding-left: 2%;
        
    }
    
    .consist-wrapper {
        width: 37%;
        margin-right: 16%;
        margin-bottom: 19%;
    }
    .package {
        left: 30%;
        width: 34%;
        top: 8%;  
    }
    
    .package-bg {
        display: none;
    }
    .bg-man {
        display: none;
    }
    .order-package {
        display: none;
    }
    .order-content {
        text-align: center;
    }
    .offer h1 {
        font-size: 42px;
    }
    
    .title_description {
        padding-top: 4%;
        font-size: 28px;
    }
    .properties_description {
       font-size: 22px;
    }
    .form_action {
        margin-top: 6%;
        right: 1%;
        
    }
     .bg-man {
        width: 36%;
        padding: 0;
    }
    .symptom {
        height: 90%;
        padding-bottom: 5%;
    }
    .order .conteiner {
        display: block;
    }
    .order {
        

        width: 100%;
        height: 100%;
        margin-top: 5%;
    }
    .order .package-bg {
        top: 0;   
    }
    .order-package {
        width: 95%;
        
    }
    .consist{
        width: 100%;
    }
    .consist-wrapper{
        width: 34%;
    }
    .consist-sylfat p {
        width: 100%;
    }
    .composition-title {
        font-size: 29px;
        width: 100%;
    }
    .composition-title_img {
        width: 100%;
    }
    .composition-description {
        width: 100%;
        margin-right: 0;
    }
    .content  {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .value {
        background: url(../img/symptom_lightning.png) no-repeat top center;
        padding-left: 0;
        
    }
    .value-title {
        padding-top: 10%;
    }
    .value-lock {
        background: url(../img/symtom_lock.png) no-repeat top center;
    }
    .value-foot {
        background: url(../img/symtom_foot.png) no-repeat top center;
    }
    p .values-text {
        width: 100%;
    }
    .symptom .symptom_values {
        padding-left: 0;

    }
    .symptom-warning {
        display: flex;
        margin-top: 0;
        align-items: center;
        text-align: left;
    }
    .symptom-warning img {
        width: 11%;
    }
    .symptom-warning p {
        width: 117%;
    }
    .display-none {
        display: none;
    }
    .order-title_description {
        width: 100%;
    }
    .btn {
        width: 100%;
    }

}
@media  (min-width: 321px) and (max-width: 768px) {
    
      .header {
          background: url(../img/order_bg.png) no-repeat center / cover;
        height: 100%;
        }
      
    .input {
        width: 100%;
    }
    .conteiner {
        overflow: hidden;
        width: 100%;
    }
    
/* menu */
.menu-outter{
    width: 200px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    right: -200px;
    box-shadow: 1px 1px 3px 0;
    transition:left .7s;
  }
   .menu-outter:active{
    right:0px;
   
  } 
  .menu-inner{
    width: 40px;
    height: 40px;
    background-color:gray;
    position:absolute;
    left:-40px;
    top:25px;
    border-radius: 5px 0 0 5px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0 , 0 .7);
    font-size:1.5em;
    text-align:center;
    vertical-align:middle;
    color:#eee;
  }
  
  .nav{
    display: block;
    list-style:none;
    font-size: 1em;
    line-height: 1.7em;
    font-family: Arial, sans-serif;
    padding-top: 5px;
  }
  .nav li {
      padding-left: 0;
  }
  .nav a{
      text-decoration:none;
      color:black;
      padding: 0px;
      
  }
  .nav>li>a {
      border-bottom: none;
      padding-left: 0;
  }
  
  .nav li:hover{
    background-color: #5774b8;
  /*   padding-left:10px; */
    border-radius:5px 0 0  5px; 
  }

    .order .conteiner {
        display: block;
    }
    .media-left{
        padding-left: 2%;
        padding-right: 2%;
    }
    .main_content {
        padding-left: 2%;
        
    }
    .offer {
        text-align: left;
    }
    
    .package {
        left: 30%;
        width: 40%;
        top: -20%;   
    }
    .package-bg {
        display: none;
    }
    .bg-man {
        display: none;
    }
    .offer h1 {
        font-size: 32px;
        
    }
    .offer p {
        width: 100%;
    }
    .composition-title {
        font-size: 46px;
    }
    .composition-title_img {
        width: 170%;
    }
    .title_description {
        padding-top: 4%;
        font-size: 28px;
    }
    .properties_description {
       font-size: 16px;
       text-align: left;
    }
    .form_action {
        margin-top: 6%;
        margin-bottom: 6%;
        left: 0;
        width: 100%;
    }
    .content  {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .content-composition {
        display: block;
    }
     .bg-man {
        width: 36%;
        padding: 0;
    }
    .symptom {
        height: 90%;
        padding-bottom: 5%;
    }
    .symtom_warning p {
        font-size: 14px;
    }
    .display-none {
        display: none;
    }
    .consist-wrapper {
        width: 43%;
        margin-right: 20px;
        margin-bottom: 75px;
    }
    .consist-img {
        width: 100%;
    }
    .consist-sylfat p {
        width: 100%;
    }
    .order {
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }
    .order-title {
        font-size: 40px;
        text-align: center;
    }
    .order-package {
        width: 95%;
        
    }
    .order-content {
        background: url(../img/order_bg.png) no-repeat center / cover;
        height: 100%;
    }
    .order-title_description {
        padding-top: 5%;
        text-align: center;
    }
    .composition-title {
        font-size: 36px;
        width: 100%;
        
    }
    .composition-title_img {
        width: 100%;
    }
    .composition-description {
        width: 100%;
    }
    .value {
        background: url(../img/symptom_lightning.png) no-repeat top center;
        padding-left: 0;
        
    }
    .value-title {
        padding-top: 25%;
    }
    .value-lock {
        background: url(../img/symtom_lock.png) no-repeat top center;
    }
    .value-foot {
        background: url(../img/symtom_foot.png) no-repeat top center;
    }
    p .values-text {
        width: 100%;
    }
    .symptom .symptom_values {
        padding-left: 0;

    }
    .title-symptom {
        font-size: 42px;

    }
    .symptom-warning {
        display: flex;
        margin-top: 0;
        
        text-align: left;
    }
    .symptom-warning img {
        width: 11%;
    }
    .symptom-warning p {
        width: 117%;
        font-size: 14px;
    }
    .display-none {
        display: none;
    }
    .order-title_description {
        width: 100%;
    }
    .main_content {
        display: flex;
        flex-direction: column;
    }
    .btn {
        width: 100%;
    }
    .form_action__price {
        justify-content: center;
    }
}

@media (min-width: 0px) and (max-width: 320px) {

    .header {
        background: url(../img/order_bg.png) no-repeat center / cover;
      height: 100%;
      }
    
    




/* menu */
.menu-outter{
    width: 200px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    right: -200px;
    box-shadow: 1px 1px 3px 0;
    transition:left .7s;
  }
   .menu-outter:active{
    right:0px;
   
  } 
  .menu-inner{
    display: block;
    width: 40px;
    height: 40px;
    background-color:gray;
    position:absolute;
    left:-40px;
    top:25px;
    border-radius: 5px 0 0 5px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0 , 0 .7);
    font-size:1.5em;
    text-align:center;
    vertical-align:middle;
    color:#eee;
  }
  
  .nav{
    display: block;
    list-style:none;
    font-size: 1em;
    line-height: 1.7em;
    font-family: Arial, sans-serif;
    padding-top: 5px;
  }
  .nav li {
      padding-left: 0;
  }
  .nav a{
      text-decoration:none;
      color:black;
      padding: 0px;
      
  }
  .nav>li>a {
      border-bottom: none;
      padding-left: 0;
  }
  
  .nav li:hover{
    background-color: #5774b8;
  /*   padding-left:10px; */
    border-radius:5px 0 0  5px; 
  }






  .conteiner {
      overflow: hidden;
      width: 100%;
  }
  
  .media-left{
      padding-left: 2%;
  }
  .main_content {
      padding-left: 2%;
      
  }
  .offer {
      text-align: left;
  }
  
  .package {
      left: 30%;
      width: 40%;
      top: -20%;   
  }
  .package-bg {
      display: none;
  }
  .bg-man {
      display: none;
  }
  .offer h1 {
      font-size: 32px;
      
  }
  .offer p {
      width: 100%;
  }
  .composition-title {
      font-size: 46px;
  }
  .composition-title_img {
      width: 170%;
  }
  .title_description {
      padding-top: 4%;
      font-size: 28px;
  }
  .properties_description {
     font-size: 16px;
     text-align: left;
  }
  .form_action {
      margin-top: 6%;
      margin-bottom: 6%;
      left: 2%;
      width: 94%;
  }
  .content  {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  .content-composition {
    display: block;
    padding: 0;
  }
  
   .bg-man {
      width: 36%;
      padding: 0;
  }
  .symptom {
      height: 90%;
      padding-bottom: 5%;
  }
  .symtom_warning p {
      font-size: 14px;
  }
  .order {
      width: 100%;
      margin-top: 5%;
  }
  .order-title {
      font-size: 40px;
      text-align: center;
  }
  .display-none {
      display: none;
  }
  .order .package-bg {
      top: 0;   
  }
  .order-package {
      width: 95%;
      
  }
  .order-content {
      background: url(../img/order_bg.png) no-repeat center / cover;
      height: 100%;
  }
  .order-title_description {
      padding-top: 5%;
      text-align: center;
      font-size: 21px;
  }
  .composition-title {
      font-size: 36px;
      width: 100%;
      
  }
  .composition-title_img {
      width: 100%;
  }
  .composition-description {
      width: 100%;
  }
  .value {
      background: url(../img/symptom_lightning.png) no-repeat top center;
      padding-left: 0;
      
  }
  .value-title {
      padding-top: 25%;
  }
  .value-lock {
      background: url(../img/symtom_lock.png) no-repeat top center;
  }
  .value-foot {
      background: url(../img/symtom_foot.png) no-repeat top center;
  }
  p .values-text {
      width: 100%;
  }
  .symptom .symptom_values {
      padding-left: 0;

  }
  .title-symptom {
      font-size: 42px;

  }
  .symptom-warning {
      display: flex;
      margin-top: 0;
      align-items: center;
      text-align: left;
  }
  .symptom-warning img {
      width: 11%;
  }
  .symptom-warning p {
      width: 117%;
      font-size: 14px;
  }
  .display-none {
      display: none;
  }
  .order-title_description {
      width: 100%;
  }
  .main_content {
      display: flex;
      flex-direction: column;
  }
  .btn {
      width: 98%;
  }
  .form_action__price {
    justify-content: center;
    padding-top: 25px;
  }
  .consist-wrapper {
      width: 100%;
  }
}

