.c-orange {
    color: #FF7B2D; }

.n-header {
    padding-top: 30px; }
.n-header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.n-header__row-2 {
    margin-top: 20px; }
.n-header__inner-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.n-header__top {
    padding-left: 70px; }
.n-header__menu {
    margin-top: 20px; }
.n-header__btm-text {
    padding-left: 15px;
    font-size: 22px;
    margin-top: 20px; }
.n-header__section-title {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background: #FD923A;
    color: #000;
    border-radius: 6px 6px 0 0;
    font-size: 19px;
    font-weight: bold; }
.n-header__menu-wrap {
    position: relative; }
.n-header__menu-wrap:before {
    content: '';
    position: absolute;
    left: -107px;
    bottom: -85px;
    width: 132px;
    height: 224px;
    background: url(images/header-cosmonaut.png) center center no-repeat; }
.n-header__m-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.n-header__mobile {
    padding: 5px 20px 9px 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background: #fff; }
.n-header__mobile:after {
    content: '';
    position: absolute;
    right: -20px;
    left: -20px;
    bottom: 0;
    height: 4px;
    background: #FF7B2D; }
.n-header-logo {
    margin-top: -13px;
    font-size: 0; }
.n-header-logo a {
    display: inline-block; }
.n-header-worktime {
    position: relative;
    padding-left: 20px;
    margin-left: 30px;
    font-size: 15px; }
.n-header-worktime:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url(images/time-icon.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
.n-header-email {
    position: relative;
    padding-left: 20px;
    margin-left: 50px;
    font-size: 15px; }
.n-header-email:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 16px;
    height: 12px;
    background: url(images/email-icon.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
.n-header-email a {
    color: #000; }
.n-header-email a:hover {
    text-decoration: underline; }
.n-header-phones {
    position: relative;
    padding-left: 25px;
    margin-left: 40px;
    margin-top: -3px;
    font-size: 21px;
    font-weight: bold; }
.n-header-phones:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 14px;
    height: 17px;
    background: url(images/phone-icon.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
.n-header-phones a {
    color: #000; }

.callback-btn {
    display: inline-block;
    height: 38px;
    line-height: 36px;
    padding: 0 30px;
    border: 1px solid #FF7B2D;
    color: #FF7B2D;
    border-radius: 3px;
    font-size: 15px; }

.n-search {
    position: relative; }
.n-search__input {
    display: block;
    width: 390px;
    height: 50px;
    padding: 0 43px 0 23px;
    border: 1px solid #B8B8B8;
    font-size: 15px;
    color: #000; }
.n-search__input::-webkit-input-placeholder {
    color: #000; }
.n-search__input:-ms-input-placeholder {
    color: #000; }
.n-search__input::-ms-input-placeholder {
    color: #000; }
.n-search__input::placeholder {
    color: #000; }
.n-search__btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 0;
    width: 40px;
    text-align: center;
    border: none;
    background: none;
    margin: 0;
    padding: 0; }
.n-search__btn:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
.n-search__btn .ic-search {
    vertical-align: middle; }

.ic-search {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/search-icon.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }

.actions-btn {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    width: 200px;
    background: #F7E9D5;
    color: #000;
    font-size: 18px; }
.actions-btn span {
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 900; 
}

.cart-btn {
    position: relative;
    display: block;
    height: 50px;
    padding: 6px 20px 6px 40px;
    width: 250px;
    background: #F7E9D5;
    color: #000;
    font-size: 15px;
    line-height: 1.2; 
}

.account-link {
    position: relative;
    padding-left: 28px;
    display: inline-block;
    color: #000;
    font-size: 15px;
    margin-top: 5px; }
.account-link__ic {
    position: absolute;
    left: 0;
    top: 0; }

.ic-cabinet {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(images/cabinet-icon.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }

.ic-registration {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(images/registration-icon.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }

.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #F7E9D5; }
.header-menu > li {
    margin-left: 30px;
    position: relative; }
.header-menu > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    color: #000;
    font-size: 15px;
    line-height: 1.1;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
.header-menu > li > a:hover {
    color: #ff8827; }
.header-menu__first {
    margin-left: 0 !important; }
.header-menu__first > a {
    padding: 0 30px 0 15px !important;
    background: #FB770A;
    font-size: 17px !important;
    color: #fff !important; }
.header-menu__gamburger {
    display: inline-block;
    margin-right: 8px;
    margin-top: -2px;
    width: 18px;
    min-width: 18px;
    font-size: 0; }
.header-menu__gamburger span {
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 3px;
    background: #fff;
    border-radius: 2px; }
.header-menu__gamburger span:first-child {
    margin-top: 0; }
.header-menu__submenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: -30px;
    top: 100%;
    padding: 20px 10px;
    background: #fff;
    border: 1px solid #B8B8B8;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s; 
    z-index: 100;
}
.header-menu > li:hover .header-menu__submenu {
    visibility: visible;
    opacity: 1; }
.header-menu > li:first-child .header-menu__submenu {
    left: 0 !important; }
.header-menu__categories {
    width: 930px;
    margin: 0;
    padding: 0;
    font-size: 0; }
.header-menu__categories > li {
    display: inline-block;
    vertical-align: top;
    width: 16.66%;
    font-size: 15px; }
.header-menu__submenu-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.header-menu__submenu-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    min-width: 300px;
    padding: 10px 40px 10px 20px; }
.header-menu__submenu-col:last-child {
    padding-right: 20px; }
.header-menu__submenu-section {
    margin-top: 30px; }
.header-menu__submenu-section:first-child {
    margin-top: 0; }
.header-menu__submenu-title {
    font-weight: bold;
    font-size: 15px; }
.header-menu__submenu-list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
.header-menu__submenu-list li {
    margin-top: 12px; }
.header-menu__submenu-list li a {
    display: block;
    font-size: 15px;
    color: #000;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
.header-menu__submenu-list li a:hover {
    color: #ff8827; }

.menu-category {
    display: block;
    padding: 10px 12px;
    font-size: 15px;
    line-height: 1.3;
    color: #000000;
    text-align: center;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
.menu-category__img {
    display: block;
    height: 60px;
    font-size: 0;
    margin-bottom: 5px; }
.menu-category__img:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
.menu-category__img img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%; }

.n-header-account {
    padding-right: 30px; }

.n-header-action, .n-header-cart {
    margin-left: 10px; }

.visible-tablet {
    display: none; }

.n-header-menu-btn {
    padding: 10px 15px;
    margin: 0 10px 0 -15px;
    background: none;
    border: none; }
.n-header-menu-btn span {
    display: block;
    margin-top: 4px;
    width: 26px;
    height: 4px;
    border-radius: 2px;
    background: #FF7B2D; }
.n-header-menu-btn span:first-child {
    margin-top: 0; }

.n-header-r-btns {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0; }
.n-header-r-btns > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px; }
.n-header-r-btns a {
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    background: #FD923A;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    justify-content: center;
    align-items: center;
}
.n-header-r-btns a .quantity {
    position: absolute;
    left: 100%;
    bottom: 100%;
    padding: 0 4px;
    margin-left: -4px;
    margin-bottom: -4px;
    background: #FD923A;
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    border-radius: 6px;
    font-size: 8px;
    color: #fff; }

.ic-phone {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 10px;
    background: url(images/phone-icon-white.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }

.ic-cart {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 13px;
    background: url(images/cart-icon-white.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.sm-menu-backdrop {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 9998;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
.sm-menu-backdrop.active {
    visibility: visible;
    opacity: 1; }

.sm-menu {
    display: none;
    position: fixed;
    padding: 25px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 280px;
    z-index: 9999;
    background: #fff;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
.sm-menu.active {
    visibility: visible;
    -webkit-box-shadow: 5px 0 30px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 5px 0 30px 0 rgba(0, 0, 0, 0.15);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
.sm-menu__close {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    border: none;
    padding: 10px;
    content: '';
    font-size: 0; }
.sm-menu__close svg {
    display: inline-block;
    width: 11px;
    height: 11px; }
.sm-menu__screen {
    display: none; }
.sm-menu__screen.active {
    display: block; }
.sm-menu__menu {
    list-style-type: none;
    margin: 0;
    padding: 0; }
.sm-menu__menu_inner {
    display: none; }
.sm-menu__menu_inner.active {
    display: block; }
.sm-menu__menu_inner-active > li > a {
    display: none !important; }
.sm-menu__menu > li {
    font-size: 14px; }
.sm-menu__menu > li > a {
    position: relative;
    display: block;
    padding: 7px 0;
    color: #000;
    font-size: 14px;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
.sm-menu__menu > li > a:hover {
    color: #FF7B2D; }
.sm-menu__menu > li.has-submenu > a {
    padding-right: 20px; }
.sm-menu__menu > li.has-submenu > a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    width: 6px;
    height: 9px;
    background: url(images/sm-menu-next.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
.sm-menu__menu > li.back > a {
    color: #FF7B2D; }
.sm-menu__menu > li.back > a:after {
    content: '';
    position: absolute;
    left: -13px;
    top: 11px;
    width: 6px;
    height: 9px;
    background: url(images/sm-menu-back.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
.sm-menu__divider {
    padding: 7px 0; }
.sm-menu__divider:before {
    content: '';
    display: block;
    height: 1px;
    background: #E5E5E5; }
.sm-menu__ic-link {
    position: relative;
    padding: 7px 0 7px 20px !important; }
.sm-menu__ic-link a {
    color: #000; }
.sm-menu__ic-link .ic {
    position: absolute;
    left: 0;
    top: 7px; }
.sm-menu__ic-link .ic-city {
    top: 9px; }
.sm-menu__ic-link .ic-time {
    top: 11px; }
.sm-menu__ic-link .ic-phone-2 {
    top: 10px; }

.sm-menu__collapse {
    padding: 7px 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.sm-menu__collapse:after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    height: 6px;
    background: url(images/sm-menu-collapse.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
.sm-menu__collapse.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.sm-menu__collapse-content {
    display: none; }
.sm-menu__collapse-content.active {
    display: block; }

.ic-city {
    font-size: 0; }
.ic-city svg {
    display: inline-block;
    width: 10px;
    height: 14px; }

.ic-time {
    width: 11px;
    height: 11px;
    background: url(images/time-icon.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }

.ic-phone-2 {
    width: 11px;
    height: 11px;
    background: url(images/phone-icon.svg) center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }

.bold {
    font-weight: bold; }

.sm-text {
    font-size: 9px; }

.n-header-fixed {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #fff; }
.n-header-fixed_active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2); }
.n-header-fixed .centered-block {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.n-header-fixed__phones {
    font-size: 16px;
    line-height: 1.3; }
.n-header-fixed__phones a {
    color: #000; }
.n-header-fixed__search .n-search__input {
    width: 315px;
    height: 40px; }
.n-header-fixed__link a {
    color: #000;
    font-size: 14px;
    text-decoration: underline; }
.n-header-fixed__link a:hover {
    color: #FF7B2D; }
.n-header-fixed__cart .cart-btn {
    padding: 0;
    background: #fff;
    height: auto;
    width: auto; }
.n-header-fixed__cart .cart-btn::before {
    display: none; }

@media screen and (max-width: 1300px) {
    .n-header__menu-wrap:before {
        display: none; }
    .n-header__top {
        padding-left: 0; } }

@media screen and (max-width: 1199px) {
    .header-menu {
        padding-right: 20px; }
    .header-menu > li {
        margin-left: 20px; }
    .header-menu__first > a {
        max-width: 150px;
        font-size: 14px !important; }
    .header-menu__gamburger {
        margin-right: 15px; } }

@media screen and (max-width: 1100px) {
    .n-header-phones {
        font-size: 16px;
        margin-top: 0; }
    .n-header-phones:before {
        top: 2px; }
    .n-search__input {
        width: 320px; }
    .header-menu__categories {
        width: 860px; }
    .header-menu__categories > li {
        width: 20%; }
    .n-header-fixed__logo img {
        max-width: 150px; }
    .n-header-fixed__search .n-search__input {
        width: 250px; }
    .n-header-fixed__cart .cart-btn {
        font-size: 14px; } }

@media screen and (max-width: 1099px) {
    .n-header-logo {
        padding-top: 5px; }
    .n-header-logo img {
        max-width: 150px; }
    .n-search__input {
        width: 260px; }
    .n-header-account {
        padding-right: 10px; }
    .account-link {
        font-size: 14px; } }

@media screen and (max-width: 1024px) {
    .callback-btn {
        padding: 0 15px; } }

@media screen and (max-width: 991px) {
    .header_top_container{
        display:none;
    }    
    .hidden-tablet {
        display: none; }
    .n-header {
        padding-top: 50px; }
    .visible-tablet {
        display: block; }
    .n-header-logo {
        padding-top: 10px; }
    .n-header-logo img {
        max-width: 130px; }
    .n-header__btm-text {
        font-size: 20px;
        padding: 0; }
    .n-header__section-title {
        font-size: 16px; }
    .n-header__inner-row_mobile {
        width: 100%; }
    .n-header-search {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
    .n-header-action {
        margin-left: 0;
        margin-right: 5px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        white-space: nowrap; }
    .n-search__input {
        padding-left: 15px;
        font-size: 14px;
        width: 100%; }
    .sm-menu {
        display: block; }
    .sm-menu-backdrop {
        display: block; }
    .n-header-fixed {
        display: none; } }

@media screen and (max-width: 767px) {
    .n-header__btm-text {
        font-size: 18px; }
    .n-header__section-title {
        padding: 10px;
        font-size: 14px; }
    .actions-btn {
        width: auto;
        height: 40px;
        line-height: 40px;
        font-size: 14px; }
    .actions-btn span {
        font-size: 16px; }
    .n-search__input {
        height: 40px; } }
