/* template_styles.css */
/* О Компании */
a{
    cursor: pointer;
}

.company--info-block,
.company--last{
    padding-bottom: 40px;

    border-bottom: 1px solid #f2f2f2;
}
.company--info-block{
    margin-bottom: 30px;
}
.company--text{
    float: left;

    width: 450px;
    margin-left: 30px;
}
.company--child.company--child--image .company--text{
    width: 450px;
    margin-left: 30px;
}
.company--image{
    float: left;

    width: 220px;
}
.company--text a{
    color: #ff922b;
}
/* END О Компании */

/* Рейтинг */
.reting_info{
    font-size: 1.3em;

    padding: 5px 0;

    color: #fd923a;
}
.reting_info i{
    padding-right: 2px;
}
/* END Рейтинг */

/* Панель управления каталогом (Сортировка, Вид отображения... ) */
.control_panel_catalog{
    margin-bottom: 15px;
    /*padding: 10px 10px 8px;
    border: 1px solid #bbb;
    border-radius: 5px;*/
}
.control_panel_catalog .control_block_catalog{
    display: inline-block;

    margin-right: 20px;
    margin-bottom: 3px;

    white-space: nowrap;
}

.control_panel_catalog .title_control_panel_catalog{
    font-size: 18px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    margin-bottom: 20px;

    letter-spacing: -.36px;

    color: #000;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.control_panel_catalog .title_control_panel_catalog:after{
    display: block;

    height: 1px;
    margin-left: 5px;

    content: '';

    background-color: #7f7f7f;

    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.control_panel_catalog.developer_link{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

/*.control_panel_catalog.developer_link b {
    font-weight: bold;
    text-decoration: underline;
    padding-right: 40px;
    padding-bottom: 5px;
    display: inline-block;
    min-width: 150px;
    width: 12%;
    white-space: nowrap;
}*/

.control_panel_catalog.developer_link a,
.control_panel_catalog.developer_link b{
    font-size: 14px;
    font-weight: 700;

    display: inline-block;

    width: 14.28%;
    padding-right: 5px;
    padding-bottom: 5px;

    text-decoration: none;
    letter-spacing: -.14px;

    color: #0063dd;
}

.control_panel_catalog.developer_link a:hover{
    text-decoration: underline;
}
.control_panel_catalog .modern-page-navigation{
    padding: 0;

    text-align: right;
}

.control_panel_catalog.tags_link_panel{
    margin-bottom: 28px;
}

.control_panel_catalog.tags_link_panel > p{
    font-size: 16px;

    letter-spacing: -.32px;
}

.control_panel_catalog.tags_link_panel b{
    margin-right: 6px;

    color: #141414;
}

.control_panel_catalog.tags_link_panel a,
.control_panel_catalog.tags_link_panel span{
    margin-right: 4px;
}
.control_panel_catalog.tags_link_panel a:after,
.control_panel_catalog.tags_link_panel span:after{
    font-weight: normal;

    padding-left: 8px;

    content: '|';
    text-decoration: none;

    color: #333;
}
.control_panel_catalog.tags_link_panel p :last-child:after{
    display: none;
}
/* END Панель управления каталогом (Сортировка, Вид отображения... ) */

/* Доставка по Москве и МО */
.shipping-info{
    float: left;

    width: 310px;
    padding-bottom: 34px;
}
.shipping-auto{
    padding: 0 0 21px;
}
.shipping-info h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    margin: 0 0 16px;
    padding: 0;;
}
.shipping-info ul{
    margin: 0;
    padding: 0;
}
.shipping-info ul li{
    font-size: 14px;

    padding: 0 0 16px 25px;

    list-style: none;

    background: url(../../../images/marker-pointer.jpg) 0 4px no-repeat;;
}
.shipping-page{
    width: 648px;
}

.shipping-payment{
    margin: 0 0 3px;
    padding: 3px;

    border-radius: 10px;
    background: #fbeee0;;
}
.shipping-pay{
    float: right;

    width: 310px;
    padding-top: 3px;
    padding-bottom: 32px;;
}
.shipping-pay-message{
    margin: 0 0 3px;
    padding: 3px;

    border-radius: 10px;
    background: #fbeee0;;
}
.shipping-pay-message-in{
    font-size: 16px;

    padding: 8px 10px 12px 93px;

    border: 1px solid #f5d6b5;
    border-radius: 10px;
    background: url(../../../images/ico-auto-pay.png) 19px 12px no-repeat;;
}
.shipping-payment{
    margin: 0 0 3px;
    padding: 3px;

    border-radius: 10px;
    background: #fbeee0;;
}
.shipping-payment-in{
    padding: 17px 26px 9px 28px;

    border: 1px solid #f5d6b5;
    border-radius: 10px;
}
.shipping-payment h2{
    font-size: 23px;
    font-weight: 700;
    line-height: 25px;

    margin: 0;
    padding: 0 0 20px;
}
.shipping-payment-header,
.shipping-payment-namber{
    font-size: 18px;

    float: left;
}
.shipping-payment-total{
    overflow: hidden;

    margin: 0 -26px 15px -28px;
    padding: 4px 26px 10px 28px;

    background: #fff;;
}
.color_red{
    color: red;
}
.shipping-payment-header{
    padding: 12px 20px 0 0;
}
.shipping-payment-namber span{
    font-size: 30px;
}
.shipping-header{
    font-size: 16px;

    padding: 0 0 8px;;
}
.shipping-radio,
.shipping-select{
    padding: 0 0 16px;
}
.shipping-select .jq-selectbox__select-text{
    width: 100% !important;
}
.shipping-radio{
    font-size: 16px;

    position: relative;

    margin-right: -30px;;
}
.shipping-radio label{
    padding-right: 22px;

    cursor: pointer;
}

.shipping-distance-header{
    float: left;

    width: 145px;
    padding: 10px 0 0;
}
.shipping-distance-input{
    float: right;
}
.shipping-distance-input .input-style{
    font-size: 18px;

    width: 97px;
    padding: 13px 20px;

    border-radius: 10px;
}
.shipping-contacts{
    font-size: 14px;
    line-height: 16px;

    margin: 0 0 10px;
    padding: 6px 5px 10px 70px;

    color: #fff;
    background: url(../../../images/ico-contacts.png) 12px 6px no-repeat #ff922a;;
}
.shipping-contacts-phone{
    font-weight: 700;

    padding: 5px 0 0;;
}
.shipping-button{
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;

    display: block;

    height: 50px;
    margin-bottom: 9px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 24px;
    background: #ff952b;
    background: -webkit-linear-gradient(90deg,#ff952b 0,#ff701f 100%);
    background:      -o-linear-gradient(90deg,#ff952b 0,#ff701f 100%);
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #ff952b),to(#ff701f));
    background: -webkit-linear-gradient(top,#ff952b 0,#ff701f 100%);
    background:      -o-linear-gradient(top,#ff952b 0,#ff701f 100%);
    background:         linear-gradient(180deg,#ff952b 0,#ff701f 100%);
}
.shipping-button:hover{
    color: #fff!important;
}
.shipping-button-comment{
    font-size: 12px;

    text-align: center;;
}
.shipping-form h2{
    font-size: 20px;
    font-weight: 700;

    margin: 0;
    padding: 0 0 20px;;
}
.shipping-form-box{
    padding: 0 0 6px;
}
.shipping-form-header{
    float: left;

    width: 170px;
    padding: 9px 0 0;
}
.input-style,
.shipping-form-textarea{
    padding: 8px 10px;

    border-top: 1px solid #d0b69a;
    border-right: 1px solid #ebceae;
    border-bottom: 1px solid #f5d6b5;
    border-left: 1px solid #ebceae;;
}
.shipping-form-cont{
    float: right;

    width: 470px;
}
.input-style{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 5px 5px 0 rgba(217,217,217,.75);
            box-shadow: inset 0 5px 5px 0 rgba(217,217,217,.75);
}
.shipping-form-cont .input-style,
.shipping-form-cont .shipping-form-textarea{
    width: 445px;
}
.label-radio{
    display: block;
    float: left;

    width: 187px;
}
.shipping-form-textarea{
    height: 114px;

    resize: none;

    border-radius: 5px;
    -webkit-box-shadow: inset 0 5px 5px 0 rgba(217,217,217,.75);
            box-shadow: inset 0 5px 5px 0 rgba(217,217,217,.75);;
}
.shipping-form-comment{
    font-size: 12px;

    padding-top: 5px;
}
.shipping-clock{
    margin: 0 0 14px;
    padding: 18px 10px 20px 25px;

    background: #fbeee0;
}
.jq-radio{
    width: 16px;
    height: 16px;
    margin: -2px 7px 0 0;

    cursor: pointer;
    vertical-align: middle;

    border: 1px solid #f5d7b7;
    border-radius: 50%;
    background: #f6f6f6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) 0 -1px repeat-x;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #fff, inset 1px -1px #fff;
            box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #fff, inset 1px -1px #fff;
}
.jq-radio.checked .jq-radio__div{
    width: 12px;
    height: 12px;
    margin: 1px 0 0 1px;

    border-radius: 50%;
    background: rgb(253, 216, 126);
    background: -webkit-linear-gradient(90deg, rgb(253, 216, 126) 30%, rgb(255, 128, 49) 70%);
    background:      -o-linear-gradient(90deg, rgb(253, 216, 126) 30%, rgb(255, 128, 49) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgb(253, 216, 126)), color-stop(70%, rgb(255, 128, 49)));
    background: -webkit-linear-gradient(top, rgb(253, 216, 126) 30%, rgb(255, 128, 49) 70%);
    background:      -o-linear-gradient(top, rgb(253, 216, 126) 30%, rgb(255, 128, 49) 70%);
    background:         linear-gradient(180deg, rgb(253, 216, 126) 30%, rgb(255, 128, 49) 70%);
}
/* END Доставка по Москве и МО */

/* Модальные окна в Каталоге */
.modal-info{
    width: 320px;
    padding: 40px 35px;

    text-align: center;

    border-radius: 4px;
}
.modal-info .modal-image{
    margin-bottom: 30px;
}
.modal-info .modal-info-content p{
    font-size: 16px;

    margin: 0 0 16px;

    color: #000;
}
.modal-info .modal-info-content p:last-child{
    margin: 0;
}
.modal-info .modal-info-content p.modal-add-info{
    font-size: 11px;

    color: #959595;
}

.modal-dog{
    width: 500px;
    padding: 20px 30px;

    border-radius: 4px;
    background: url('../../../images/modal-bg.png') 100% 100% no-repeat #ff8907;
}
.modal-dog img.modal-img{
    margin-right: 30px;
}
.modal-dog .modal-text{
    padding-top: 25px;
}
.modal-dog .modal-text p{
    font-size: 18px;

    color: #000;
}
.modal-dog .modal-text h2{
    font-size: 24px;

    margin-top: 10px;

    color: #fff;
}

.credit-info-popup{
    width: 430px;
    padding: 25px;

    border-radius: 4;
    background-color: #fff;
}
.credit-info-popup .buy-credit-info{
    margin-top: 20px;
    padding-top: 20px;

    border-top: 1px dashed #696969;
}
.credit-info-popup .buy-credit-info .bank-logos{
    padding-left: 10px;
}
.credit-info-popup .buy-credit-info i{
    font-style: normal;

    color: #1f7be9;
}

.fast_dop_foto a{
    display: inline-block;

    width: 60px;
    height: 60px;
    padding: 5px;

    background-position: 50% 50%;
    background-size: cover;
}

.fast_detail_block .credit_info{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    margin: 5px 0;
    padding: 6px 15px 9px;

    border-radius: 5px;
    background: #ebebeb;
}
.fast_detail_block .credit_info a{
    color: #1e7be5;
    border-bottom: 1px dashed;
}
.fast_detail_block .icon_left_info.present_list{
    margin-top: -5px;
    padding: 10px 10px 10px 45px;

    border-radius: 5px;
    background-color: #faecdc;
}
.fast_detail_block .icon_left_info.present_list i.fa{
    top: 10px;
    left: 10px;
}

.fast_detail_block table.table_list_property{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.fast_detail_block table.table_list_property > tbody > tr > td{
    padding: 2px 8px;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #f0f0f0;
}
.fast_detail_block .fast_order_link_fd{
    font-size: 14px;

    position: relative;
    bottom: 2px;

    border-bottom: 1px dotted;
}
.red_btn_big,
.red_o_btn_big{
    font-size: 18px;
    line-height: 28px;

    display: inline-block;

    margin: 10px 15px 10px 0;
    padding: 0 25px;

    cursor: pointer;
    -webkit-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    border: 2px solid #fc770a;
    border-radius: 5px;
}
.red_btn_big{
    color: #fff;
    background-color: #fc770a;
}
.red_o_btn_big{
    color: #fc770a;
}

.red_btn_big:hover,
.red_o_btn_big:hover{
    color: #fff;
    border: 2px solid #fd923a;
    background-color: #fd923a;
}
.red_btn_big:active,
.red_o_btn_big:active{
    color: #fff;
    border: 2px solid #ff6800;
    background-color: #ff6800;
}

/* END Модальные окна в Каталоге */


.loader_in_form{
    display: none;

    padding-left: 15px;

    color: #999;
}
.loader_in_form i.fa-pulse,
.loader_in_form i.fa-spin{
    line-height: normal;

    color: #333;
}
.redstarz{
    color: red;
}
.img_tovar_left{
    margin-right: 15px;
    padding: 15px;

    border: 1px solid #bbb;
}

.block_confidentiality{
    padding: 10px 5px;

    -webkit-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}
.block_confidentiality.error_confidentiality{
    background-color: #fcc;
}

.info_discontinued{
    font-size: 14px;
    font-weight: bold;

    margin-top: 10px;
}
.info_discontinued i.fa{
    color: #999;
}
.popup-window-titlebar{
    font-size: 18px;

    padding: 15px 0 0;
}
select.checkout_list{
    max-width: 100%;
}
.bx_catalog_table_home .bx_catalog_item_articul{
    /*     position: absolute;
    z-index: 9;
    left: 0px;
    bottom: -100%;
    height: 100%;
    width:101%;
    background: white;
    padding: 0px 10px 10px 10px;
    border: 1px solid #fc770a;
    border-top: 0px;
    margin: 0px -1px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 6px 8px -3px grey; */
    display: none!important;
}

/* styles LK */
.sale-order-list-button{
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;

    display: block;
    float: right;

    width: 144px;
    height: 28px;
    margin: 0 0 5px;

    text-align: center;
    text-decoration: none;

    color: #fff!important;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: #ff952b;
    background: -webkit-linear-gradient(90deg,#ff952b 0,#ff701f 100%);
    background:      -o-linear-gradient(90deg,#ff952b 0,#ff701f 100%);
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #ff952b),to(#ff701f));
    background: -webkit-linear-gradient(top,#ff952b 0,#ff701f 100%);
    background:      -o-linear-gradient(top,#ff952b 0,#ff701f 100%);
    background:         linear-gradient(180deg,#ff952b 0,#ff701f 100%);
}
.sale-order-list-button:hover{
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #ff952b),to(#ff701f));
    background: -webkit-linear-gradient(top,#ff952b 0,#ff701f 100%);
    background:      -o-linear-gradient(top,#ff952b 0,#ff701f 100%);
    background:         linear-gradient(180deg,#ff952b 0,#ff701f 100%);
}
.sale-order-list-title-container{
    background-color: #f2f2f2;
}
.sale-order-list-change-payment:first-letter{
    text-transform: uppercase;
}
span.sale-order-list-status-alert{
    padding: 5px;
}
.sale-order-list-cancel-link{
    font: bold 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    display: inline-block;

    color: #9b9b9b;
}
.sale-order-list-repeat-link{
    font: bold 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main-profile-block-date-info{
    font-family: Arial, Helvetica,sans-serif;
    font-size: 13.6px;
    font-weight: lighter;

    margin-top: 15px;

    color: grey;
}
.main-profile-block-date-info *{
    font-weight: normal;
}
input.btn.btn-themes.btn-default.btn-md.main-profile-submit,
input.btn.btn-themes.btn-default.btn-md{
    font-weight: 700;

    border: 0;
}
.sale-order-list-payment-title,
.sale-order-list-shipment-title,
.sale-order-detail-methods-title,
.sale-order-detail-payment-options-methods-shipment-list-item-title{
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;

    color: #333;
}
.sale-order-list-payment-check,
.sale-order-list-payment-price{
    padding: 4px 0 0 0;
}
.sale-order-list-cancel-container,
.sale-order-list-repeat-container{
    text-align: right;
}
.sale-order-list-shipment-status{
    margin: 0 0 0 0;
}
.sale-order-list-change-payment{
    margin: 9px 0 0 0;
}
a.btn-theme.sale-order-detail-payment-options-methods-button-element-new-window{
    font-size: 12px !important;
    line-height: 28px;

    width: 100%;
    height: auto;
    margin: -5px 0 0 !important;
    margin-top: -2px!important;

    color: #fff !important;
    border-radius: 4px !important;
    background: #ff952b !important;
    background: -webkit-linear-gradient(90deg,#ff952b 0,#ff701f 100%) !important;
    background:      -o-linear-gradient(90deg,#ff952b 0,#ff701f 100%) !important;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #ff952b),to(#ff701f)) !important;
    background: -webkit-linear-gradient(top,#ff952b 0,#ff701f 100%) !important;
    background:      -o-linear-gradient(top,#ff952b 0,#ff701f 100%) !important;
    background:         linear-gradient(180deg,#ff952b 0,#ff701f 100%) !important;
}
a.sale-order-detail-about-order-inner-container-repeat-button{
    line-height: 28px;

    height: auto;
    margin-top: 2px!important;
}
.sale-order-detail-order-item-td-text{
    padding-top: 6px;
}
.autorize-popup-sale{
    font-size: 18px;
    font-weight: 700;

    position: relative;
    z-index: 50;

    float: right;

    width: 242px;
    height: 40px;
    margin: 0 auto;
    padding: 8px 40px;

    color: white;
    border-radius: 0 4px 5px 1px;
    background: -webkit-linear-gradient(265deg,#ff952b 0,#ff701f 100%);
    background:      -o-linear-gradient(265deg,#ff952b 0,#ff701f 100%);
    background:         linear-gradient(185deg,#ff952b 0,#ff701f 100%);
    -webkit-box-shadow: 1px 1px 3px 0 #5e5e5e;
            box-shadow: 1px 1px 3px 0 #5e5e5e;
}
.autorize-popup-sale:before{
    position: absolute;
    top: 0;
    left: -40px;

    width: 0;
    height: 0;

    content: '';

    border: 20px solid transparent;
    border-right: 20px solid #ff7f24;
}
.autorize-popup-sale:after{
    position: absolute;
    top: 12px;
    left: -2px;

    width: 15px;
    height: 16px;

    content: '';

    border-top: 2px solid #b7631e;
    border-bottom: 1px solid #fab67f;
    border-radius: 50%;
    background: white;
}

.catalog-submenu ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 15px 0 20px;
    padding: 0;

    list-style-type: none;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.catalog-submenu ul li{
    font-size: 17px;
    font-weight: 700;

    width: 50%;
    margin-bottom: 15px;
    padding-right: 10px;

    letter-spacing: -.34px;
}

.catalog-submenu ul img{
    max-width: 100%;
    max-height: 100%;
}

.catalog-submenu ul li a{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-transition: color .3s ease;
         -o-transition: color .3s ease;
            transition: color .3s ease;

    color: #141414;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.catalog-submenu ul li a:hover{
    color: #fd8836;;
}

.catalog-submenu ul li .catalog-submenu-img{
    width: 14%;
    margin-right: 2%;

    text-align: center;
}

.catalog-submenu ul li .catalog-submenu-title{
    line-height: 1.1;

    width: 84%;
    padding-right: 3%;
}

.control_block_catalog-wrapper > .bx-filter{
    margin-top: 10px;
    margin-bottom: 0;
}

.control_block_catalog-wrapper{
    padding: 15px;

    border: 1px solid #dcdcdc;
    border-bottom: 0;
}

.control_block_catalog-wrapper + .pull-right{
    width: 100%;
    padding: 0 15px 15px;

    border: 1px solid #dcdcdc;
    border-top: 0;
}

.boxberry_container{
    /*    top: 0 !important;*/
}

.bx_catalog_table_home .bx_catalog_item_images_double,
.bx_catalog_table_home .bx_catalog_item_images{
    text-align: center;

    background-position: center !important;
    background-size: contain !important;;
}

.td4{
    width: 100%;
    height: 180px;
}

@media(max-width: 1200px){
    .bx_catalog_table_home .bx_catalog_item_images_double,
    .bx_catalog_table_home .bx_catalog_item_images{
        padding-top: 0 !important;
    }
}

.form777{
    max-width: 600px;
}

.form-header7{
    font-size: 24px;

    margin-top: 20px;
    margin-bottom: 15px;

    text-align: center;
}

.form777 .col-sm-6{
    width: 82%;
}


.c_props td:nth-child(1){
    overflow: visible !important;
    /* position: static !important; */

    white-space: normal !important;
    text-overflow: unset !important;
}


.vklad{
    font-family: Roboto;

    display: inline-block;

    width: 100%;
    margin-top: 5px;
}

.vklad2{
    font-size: 14px;
    line-height: 20px;

    float: left;

    margin-top: 10px;
    margin-right: 50px;

    cursor: pointer;

    color: #fd923a;
    border-bottom: 1px dashed #fd923a;
}


.inner-info{
    display: inline-block;

    width: 100%;
    margin-top: 38px;/* line-height: 23px; *//* font-size: 16px; */
    margin-bottom: 40px;
}

.left-bl1{
    font-size: 16px;

    float: left;

    width: 65%;
}



.table1{
    margin-top: 35px;
}

.head1{
    font-size: 14px;

    display: inline-block;

    width: 100%;

    color: #666;
}

.td1{
    float: left;
}

.head1 .td1{
    width: 35%;
}

.body1{
    display: inline-block;

    width: 100%;
}

.body1 .td1{
    font-size: 14px;

    color: #666;
}

.body1 .bb{
    font-size: 16px;
    font-weight: bold;

    width: 35%;

    color: #000;
}

.tr1{
    display: inline-block;

    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid #c9c9c9;
}

.text1{
    font-size: 16px;

    margin-top: 50px;
}

.right-bl1{
    float: right;

    width: 28%;
}

.right-elem1{
    margin-top: 36px;
}



.text14{
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;

    margin-top: 10px;
}


.bld4{
    font-size: 16px;
    font-weight: bold;

    color: #000;
}

.activ{
    font-size: 14px;

    margin-top: 6px;
    padding: 4px 17px;
    /* text-align: center; */

    color: #333;
    border: 1px solid #fd923a;
    border-radius: 30px;
}

.more_block1{
    margin-top: 39px;
}

.bl14{
    margin-top: 15px;
    padding-top: 24px;
    padding-left: 28px;

    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}

.bl14h{
    font-size: 16px;
    font-weight: bold;
    line-height: normal;

    color: #333;
}

.bl15{
    margin-top: 20px;
}



.text15 p{
    margin-bottom: 2px;
}

.images15{
    line-height: 47px;

    margin-top: 5px;
    margin-left: -3px;
}

.im115{
    margin-top: 12px;
    margin-right: 7px;
}

.aft15{
    font-size: 14px;

    margin-top: 20px;
    padding-right: 25px;
    padding-bottom: 26px;

    color: #666;
}

.ssss{
    display: none;
}

@media(max-width: 700px){
    .left-bl1{
        float: none;

        width: 100%;
    }
    .right-bl1{
        float: none;

        width: 100%;
    }

    .right-elem1{
        text-align: center;
    }
}
.n-tabs-nav{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style-type: none;
}
.n-tabs-nav li{
    display: inline-block;

    margin-top: 10px;
    margin-right: 30px;

    vertical-align: middle;
}
.n-tabs-nav li:last-child{
    margin-right: 0;
}
.n-tabs-nav a{
    font-size: 14px;
    line-height: 34px;

    display: inline-block;

    height: 36px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-decoration: none;

    color: #fd923a;
    border: 1px solid transparent;
    border-radius: 18px;
}
.n-tabs-nav a:focus,
.n-tabs-nav a:hover{
    text-decoration: none;

    color: #fd923a;
}
.n-tabs-nav a span{
    border-bottom: 1px dashed #fd923a;
}
.n-tabs-nav a:hover span{
    border-bottom-style: solid;
}
.n-tabs-nav a.active{
    padding: 0 15px;

    color: #333;
    border-color: #fd923a;
}
.n-tabs-nav a.active span{
    border-color: transparent;
}
.n-tabs-nav_delivery{
    margin-top: 20px;
}
.n-tabs-nav a.active:focus,
.n-tabs-nav a.active:hover{
    text-decoration: none;

    color: #333;
}

.n-tabs{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
.n-tab{
    display: none;
}
.n-tab_active{
    display: block;

    -webkit-animation: tab-active .3s;
            animation: tab-active .3s;
}
.n-tabs_delivery{
    margin-top: 31px;
}
@-webkit-keyframes tab-active{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes tab-active{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.n-del-text{
    font-size: 16px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.n-del-text__section{
    margin-top: 30px;
}
.n-del-text__section:first-child{
    margin-top: 0;
}
.n-del-text p{
    margin: 15px 0 0 0;
}
.n-del-text p:first-child{
    margin-top: 0;
}
.n-del-text ul{
    font-size: 14px;

    margin: 10px 0 0 0;
    padding: 0;

    list-style-type: none;

    color: #666;
}
.n-del-text ul:first-child{
    margin-top: 0;
}
.n-del-text ul li{
    position: relative;

    margin-top: 10px;
    padding-left: 15px;
}
.n-del-text ul li:first-child{
    margin-top: 0;
}
.n-del-text ul li:before{
    position: absolute;
    top: 7px;
    left: 0;

    width: 6px;
    height: 6px;

    content: '';

    border-radius: 50%;
    background: #fd923a;
}
.n-del-text a{
    color: #f00;
}
.n-del-text__r{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 450px;
    min-width: 450px;
    padding-left: 100px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.n-info{
    font-size: 15px;
    font-weight: bold;

    margin-top: 50px;
}
.n-info:first-child{
    margin-top: 0;
}
.n-info__icon{
    padding-bottom: 10px;
}



@media screen and (max-width: 1199px){
    .n-del-text{
        font-size: 15px;
    }
    .n-del-text__r{
        width: 350px;
        min-width: 350px;
        padding-left: 70px;
    }
    .n-info{
        font-size: 14px;
    }
}

@media screen and (max-width: 991px){
    .n-del-text{
        display: block;
    }
    .n-tabs_delivery{
        margin-top: 35px;
    }
    .n-del-text__r{
        width: 100%;
        min-width: 100%;
        margin-top: 30px;
        padding: 0;
    }
    .n-info{
        position: relative;

        margin-top: 30px;
        padding-left: 70px;
    }
    .n-info__icon{
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media screen and (max-width: 520px){
    .n-tabs-nav li{
        display: block;
    }
}

/* //styles LK */
.copmany-text{
    width: 65%;
    margin-top: 50px;
}

.company-slider{
    position: relative;

    margin: 16px 100px 12px 64px;
}
.more-link{
    font-size: 14px;

    margin-left: 64px;

    color: #fd923a!important;
}
.company-slider  .flex-direction-nav a{
    top: -30px;

    width: 24px;
    height: 24px;

    opacity: 1!important;
}
.company-slider img{
    width: auto;
    height: 65px;
}
@media screen and (max-width: 736px){
    .company-slider{
        position: relative;

        margin: 16px 0 12px 44px;
    }
    .company-slider .flex-direction-nav .flex-prev{
        left: -44px;
    }
    .company-slider .flex-direction-nav .flex-next{
        right: -242px;
    }
    .more-link{
        margin-left: 0;
    }
}
.company-slider li{
    display: inline-block;
    display: inline-flex!important;

    width: 170px;
    height: 80px;
    padding-left: 0!important;

    text-align: center;

    border: 1px solid #c9c9c9;

    justify-content: center;
    align-items: center;
}
.n-del-text .company-slider ul li:before{
    display: none;
}
.company-gallery{
    margin-top: 41px;
}
.company-gallery img,
.company-gallery div{
    margin-right: 10px;
}
.n-del-text .company-slider ul li:first-child{
    margin-top: 10px;
}

.company-slider .flex-direction-nav li{
    position: relative!important;

    width: auto;
    height: auto;
    margin: 0;
    margin-top: 0!important;
    padding: 0;

    border: 0;
}

.company-slider ul.flex-direction-nav{
    position: absolute;

    margin-top: 0;
}

.company-slider  .flex-direction-nav a.flex-prev:before{
    width: 24px;
    height: 24px;

    content: '';

    background: url('../../../images/corporation/company-prev.png') center no-repeat;
}
.company-slider  .flex-direction-nav a.flex-next:before{
    width: 24px;
    height: 24px;

    content: '';

    background: url('../../../images/corporation/company-next.png') center no-repeat;
}

.company-slider a.flex-prev{
    opacity: 1;
}

.company-slider a.flex-next{
    right: -612px;

    height: 24px;

    opacity: 1;
}
.comapny-margin,
.comapny-text1{
    margin-top: 30px;
}
.comapny-text1 a{
    text-decoration: none;

    color: #fd923a;
}
.comapny-img-card{
    display: flex;

    margin-top: 14px;
}

.comapny-img-card div{
    display: flex;

    width: 172px;
    height: 75px;
    margin-right: 20px;

    border: 1px solid #c9c9c9;

    justify-content: center;
    align-items: center;
}
.comapny-text1 .n-del-text__r{
    align-items: flex-end;
}
.bl14p{
    padding-right: 76px;
}
.comapny-text1 .bl14h{
    margin-bottom: 15px;
}
.poz{
    display: flex;

    margin-bottom: 3px;

    align-items: center;
}
.company--image.poz-dog{
    width: 364px;
}
.company-gallery-images-block{
    display: inline-flex;
    flex-direction: column;

    justify-content: space-between;
}
.blago-vk{
    margin-top: 35px;
}
.poz-img{
    display: flex;

    width: 68px;
    height: 30px;
    margin-right: 14px;

    border: 1px solid #c9c9c9;

    justify-content: center;
    align-items: center;
}

.poz-img img{
    max-width: 53px;
}

.poz-tel{
    margin-left: 80px;
}

.n-del-text.comapny-text1 a{
    color: #ff8827;
}

.comapny-text1 .bl14{
    padding-bottom: 24px;
}

a.black-ser:before{
    display: inline-block;

    width: 19px;
    height: 19px;
    margin-top: 17px;
    margin-right: 7px;
    margin-bottom: -4px;

    content: '';

    background: #c4c4c4;
}

a.black-ser{
    margin-top: 10px;
}

span.prava{
    font-weight: bold;

    display: inline-block;

    margin-top: 57px;
    margin-bottom: 16px;
    padding: 5px 30px 5px 0;

    color: #fd923a;
    background: url('../../../images/open-prava.png') right center no-repeat;
}

.prava-tab{
    display: none;

    margin-top: 16px;
}

span.prava.prava-open{
    margin-bottom: 16px;
    padding: 5px 35px 5px 0;

    background: url(../../../images/close-prava.png) right center no-repeat;
}

.n-del-text__section-line{
    font-size: 14px;

    position: relative;

    margin-top: 16px;
    margin-left: 30px;
    padding-left: 12px;

    color: #666;
}

.n-del-text__section-line:before{
    position: absolute;
    top: 4px;
    left: 0;

    display: inline-block;

    width: 4px;
    height: 70px;

    content: '';

    background-color: #fd923a;
}




.bp2{
    float: left;

    width: 30%;
    padding: 15px 21px;
    padding-bottom: 0;

    border: 2px solid #fb770a;
}

.bp3{
    float: right;

    width: 67%;
}

.bp4:nth-last-child(1){
    margin-bottom: 5PX;

    border-bottom: 0;
}

.bp4{
    display: inline-block;

    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 12px;

    color: black;
    border-bottom: 2px solid #fb770a;
}
.bp5{
    font-size: 16px;

    float: left;

    max-width: 80%;
}
.bp6{
    font-size: 16px;

    float: right;

    margin-right: 12px;
}




.el78{
    position: relative;

    float: left;

    width: 48%;
    margin-right: 3.5%;
    margin-bottom: 29px;

    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.img875{
    display: inline-block;

    width: 100%;
}

.im876{
    max-width: 100%;
    max-height: 224px;
    margin-top: 0;
    margin-bottom: 8px;
}

.prtttt{
    font-size: 13px;
    line-height: 16px;

    margin-top: 7px;
    margin-bottom: 65px;
    padding: 0 18px;

    color: black;
}

.im877{
    /*    float: right;
    margin-bottom: 11px;
    margin-right: 12px;
    margin-top: 6px;*/
    position: absolute;
    right: 13px;
    bottom: 13px;
}

.pager7{
    text-align: right;
}

.el78:nth-child(2n){
    margin-right: 0;
}

@media(max-width: 900px){
    .bp2{
        float: none;

        width: 100%;
        margin-top: 28px;
    }

    .bp3{
        float: none;

        width: 100%;
        margin-top: 32px;
    }
}

@media(max-width: 670px){
    .el78{
        display: inline-block;
        float: none;

        width: 100%;
        margin-top: 5px;
        margin-right: 0;
    }

    .prtttt{
        font-size: 16px;
    }

    .bp2{
        margin-top: 17px;
        padding-top: 0;
        padding-left: 0;

        border: none;
    }

    .bp4{
        width: auto;
        margin-bottom: 6px;
        padding-bottom: 0;

        white-space: nowrap;

        color: #ff7822;
        border-bottom: none;
        border-bottom: 1px dashed;
    }

    .bp5{
        font-size: 12px;

        float: none;

        width: 100%;
        margin-right: 0;
    }

    .bp6{
        display: none;
    }
    .bp4:nth-last-child(1){
        display: inline-block;

        border-bottom: 1px dashed;
        /* width: auto; */
        /* white-space: nowrap; */
    }

    .fdgdfg{
        display: inline-block;

        width: 100%;
    }
}

.det_text{
    font-size: 16px;
}

.ghjkklll{
    display: block;

    min-height: 224px;

    text-align: center;
}

.rth{
    width: 100%;
    height: 224px;
}

.rth td{
    width: 100%;
    height: 224px;

    text-align: center;
    vertical-align: middle;
}

.det_text img{
    max-width: 100%;
    height: auto;
}

.head274{
    /* font-size: 13px; */
    /* color: black; */
    font-size: 15px;
    font-weight: bold;

    margin-top: 4px;
    padding: 0 18px;

    text-align: left;

    color: black;
    /* margin-bottom: 65px; */
}

.td4 img{
    max-width: 100%;
    max-height: 150px;
}



.sreda{
    display: block;

    margin-top: 5px;
}

.srty{
    padding-top: 7px;
}

.pub4{
    font-size: 12px;

    position: absolute;
    bottom: 13px;
    left: 18px;

    color: black;
}

.back4{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .5;
    background: black;
}

.locs4{
    position: fixed;
    z-index: 10000;
    top: calc(50% - 144px);
    left: calc(50% - 217px);

    width: 434px;
    max-width: 90%;
    padding: 19px 25px;

    background: white;
}

.vh4{
    font-size: 18px;
    font-weight: bold;
}

.stolb{
    float: left;

    width: 48%;
    margin-right: 4%;
}

.stolb a{
    font-size: 17px;

    display: block;

    margin-bottom: 5px;

    color: black;
}

.stolbs{
    display: inline-block;

    width: 100%;
    margin-top: 11px;
}

.st895{
    margin-right: 0;
}

.no-region{
    font-size: 17px;

    display: block;
    clear: both;

    margin-top: 16px;

    text-align: center;

    color: #8c8c8c;
}

.cl118{
    position: absolute;
    top: 8px;
    right: 13px;

    cursor: pointer;
}

.header_gps{
    cursor: pointer;
}

.head117{
    position: absolute;
    z-index: 10;
    top: 32px;
    left: -5px;

    min-width: 304px;
    padding: 10px 22px;

    border-radius: 3px;
    background: white;/* width: 200px; */
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
}

.hd_nm{
    font-size: 17px;
    /* position: absolute; *//* top: 0; *//* background: white; *//* width: 200px; *//* background: #FFFFFF; *//* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); *//* border-radius: 3px; */white-space: nowrap;
}

.btns118{
    display: inline-block;

    width: 100%;
    margin-top: 13px;
    margin-bottom: 4px;
}

.btn_y{
    font-size: 15px;

    float: left;

    padding: 8px 23px;/* width: 122px; *//* height: 30px; */

    color: white;
    border-radius: 3px;
    background: #f9680f;
}

.btn_n{
    font-size: 15px;

    float: left;

    margin-left: 13px;
    padding: 7.4px 23px;

    color: #f9680f;
    border: 1px solid #f9680f;
    border-radius: 3px;
}

.tg1{
    width: 40%;
    padding-right: 5%;
}

.tg2{
    width: 23%;
    padding-right: 5%;
}

.tg3{
    width: 40%;
}

.tg4{
    min-width: 700px;
    max-width: 800px;
    margin-top: 17px;
}

.z250{
    padding-bottom: 21px;
}

.tg4 td{
    padding: 14px;

    vertical-align: top;
}

.tg4 th{
    padding: 14px;

    vertical-align: top;
}

.gjm{
    font-size: 16px;

    margin-top: 31px;
    margin-bottom: 33px;

    color: #333;
}

.tit118{
    font-size: 16px;
    font-weight: bold;

    margin-top: 16px;
    margin-bottom: 5px;

    color: #333;
}

.zabr{
    font-size: 16px;
    font-weight: bold;

    margin-top: 17px;
}

.header118{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    padding: 9px;
    padding-left: 20px;

    border-bottom: 1px solid #f9680f;
    background: white;
}

.data587{
    font-size: 17px;

    float: left;

    margin-top: 6px;
    margin-right: 25px;

    color: black;
}

.header118 .btn_y{
    margin-right: 6px;
}



.nmb2{
    top: 57px;
}

@media(max-width: 600px){
    .stolbs .stolb{
        float: none;

        width: 100%;
        margin-right: 0;
    }

    .locs4{
        top: calc(50% - 216px);
        left: calc(50% - 147px);

        width: 294px;
    }

    .data587{
        float: none;
    }

    .nmb2{
        top: 85px;
    }
}

.adrr1856{
    overflow-x: scroll;
}

.data496{
    font-size: 13px !important;
    font-weight: 300;
    line-height: 18.5px;

    position: relative;

    display: inline !important;

    color: black;
}
[data-order='icon']{
    cursor: pointer;
}
.b_catalog_item__order{
    font-size: 16px;
}
.b_cart__order_mess{
    font-size: 10px;

    width: 100%;

    text-align: center;
}
.bx_catalog_item_container .item_bottom_block{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.info147{
    font-size: 13px !important;

    position: absolute;
    z-index: 100;
    top: 20px;
    left: -95px;

    width: 231px;
    padding: 11px;

    color: white !important;
    background: #505050;
}

.info147 p{
    margin: 0;
    margin-top: -1px;
    padding-left: 4px;

    text-align: left;
    white-space: initial;
}

.info147 span{
    font-size: 13px !important;

    color: white !important;
}

.info147 a{
    font-size: 13px  !important;

    color: rgba(251, 119, 10, 1) !important;
}

.data497{
    position: absolute;
    top: -5px;
    left: 91px;
}

.data498{
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 5px;

    cursor: pointer;
}

.info149{
    display: inline !important;

    cursor: pointer;
}

#basket_items .info147{
    left: -142px;
}

.bx_ordercart_order_table_container,
.bx_ordercart_order_pay_right{
    overflow-x: visible !important;
    overflow-y: visible !important;
}

@media(max-width: 420px){
    .info147{
        left: -142px;
    }
}

@media(max-width: 530px){
    #basket_items .info147{
        left: -95px;
    }
}

.bx_ordercart_order_sum .info147{
    left: -195px;
}

.bx_ordercart_order_sum .data497{
    right: 24px;
}

.g458{
    width: 295px;
}

.klpm{
    margin-top: 35px;
}

#logictim_payfield_bonus{
    font-size: 22px;
}





.data1160{
    display: inline-block;

    width: 100%;
    margin-top: 22px;
}

.data1161{
    font-size: 22px;

    float: left;

    width: 50%;
    padding: 10px 0;

    cursor: pointer;
    text-align: center;

    color: #fb770a;
    border: 1px solid #fb770a;
}



.data1163{
    margin-top: 21px;
}



.tab11{
    display: inline-block;

    width: 100%;
}



.d-elem145{
    float: left;

    width: 33%;
    margin-top: 22px;
    margin-bottom: 26px;
}

.fl-lt154{
    float: left;

    width: 50px;
    max-width: 5;
}

.pic145{
    max-width: 50px;
}

.rl-456{
    float: left;

    width: calc(100% - 75px);
    margin-left: 15px;
}

.sec_tit4{
    font-size: 20px;

    color: black;
}

.cats_block4{
    /* display: block; */    margin-top: 8px;
}

.zr859{
    font-size: 16px;

    display: block;

    margin-top: 2px;

    color: #b8b8b8;
}



.razv4{
    font-size: 16px;

    display: inline-block;

    margin-top: 7px;
    padding-right: 14px;

    color: #fb770a;
    background: url(../../../images/ar564.png) no-repeat;
    background-position: 99% 8px;
}

.act784{
    color: white;
    background: #fb770a;
}

.data-hid{
    display: none;
}

.line754{
    display: none;

    width: 100%;
    height: 1px;
}

.line755{
    display: none;

    width: 100%;
    height: 1px;
}

@media(min-width: 901px){
    .line754{
        display: block;
        clear: both;
    }
}

.rever{
    background-image: url(../../../images/ar565.png);
}

@media(max-width: 900px) and (min-width: 601px){
    .d-elem145{
        width: 49%;
    }
    .line755{
        display: block;
        clear: both;
    }
}

@media(max-width: 600px){
    .d-elem145{
        width: 100%;
    }
    .data1161{
        width: 100%;
    }
}

.ard458{
    display: inline-block;

    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
}

.data_elem145{
    float: left;

    width: 33%;
    height: 60px;
    margin-top: 25px;
}

.rft1540{
    float: left;

    width: 60px;
}

.rgh751{
    max-width: 60px;
}

.rgty7754{
    font-size: 20px;

    float: left;

    width: calc(100% - 80px);
    height: 60px;/* display: table-cell; *//* vertical-align: middle; */
    margin-left: 16px;
}

.z4646{
    line-height: 20px;

    color: black;
}

.bh458{
    height: 60px;
}

.bh458 td{
    vertical-align: middle;
}

@media(max-width: 900px) and (min-width: 601px){
    .data_elem145{
        width: 49%;
    }
}

@media(max-width: 600px){
    .data_elem145{
        width: 100%;
    }
}

.text_up4{
    font-size: 14px;
    line-height: 14px;

    margin-top: 13px;
    margin-bottom: 19px;
}



.b_active__filter{
    padding: 2px 15px;

    text-align: center;

    color: #fe913c;
    border-radius: 20px;
    background-color: #f2f2f2;
}
.b_active__filter:after{
    content: none !important;
}
.b_active__filter img{
    margin-left: 7px;
}
.b_active__filter .close_filter{
    display: inline-block;
}
.b_active__filter .close_filter_active{
    display: none;
}
.b_active__filter:hover .close_filter{
    display: none;
}
.b_active__filter:hover .close_filter_active{
    display: inline-block;
}
.control_panel_catalog.tags_link_panel a:focus{
    text-decoration: none;
}

.b_reset__filter{
    display: flex;

    width: 100%;

    transition: all .2s ease-in-out;
    text-align: center;

    color: #f66823 !important;
    border: 1px solid #dcdcdc;
}
.b_reset__filter:hover{
    background-color: #f66823;
}
.b_reset__filter a{
    width: 100%;
    padding: 10px 0;

    transition: all .2s ease-in-out;

    color: #f66823 !important;
}
.b_reset__filter:hover a{
    color: white !important;
}
.b_reset__filter a:before,
.b_reset__filter a:after{
    content: unset !important;
}




.b_delivery__header{
    display: flex;

    cursor: pointer;

    align-items: baseline;
}
.b_delivery__header .h1{
    transition: all .2s ease-in-out;
}
.b_delivery__header:hover .h1{
    color: #ef770d;
}
.b_delivery__arrow{
    position: relative;
    top: -2.5px;

    width: 7px;
    height: 7px;
    margin-left: 15px;

    transition: all .2s ease-in-out;
    transform: rotate(225deg);

    border-top: 2px solid #ef770d;
    border-left: 2px solid #ef770d;
}
.b_delivery__header.open .b_delivery__arrow{
    transform: rotate(45deg);
}
.open-delivery{
    display: none;
}

.item_price [data-show='hide']{
    position: absolute;

    height: 0;

    opacity: 0 !important;
}


.b_bonus__container{
    box-sizing: border-box;
    width: max-content;
    margin-top: 15px;
    padding: 20px 15px;

    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    background: white;
}
.b_bonus__container strong{
    color: #333;
}
.b_bonus__block{
    display: flex;

    margin-top: 5px;

    color: #333;

    align-items: stretch;
}
.b_bonus__block input{
    font-size: 15px;

    padding: 5px 0;

    border: none;
    border-bottom: 1px solid #ee9200;
}
.b_bonus__block input:focus,
.b_bonus__block input:hover{
    outline: none;
}
.b_bonus__block .b_bonus__submit{
    font-size: 15px;

    display: flex;

    padding: 0 10px;

    cursor: pointer;

    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #ee9200;

    align-items: center;
}
.order_item{
    color: grey !important;
}
#bx-soa-region .bx-soa-reference{
    font-size: 14px;
    font-weight: 500;

    padding-bottom: 2px;

    color: #000;
}
@media(max-width: 991px){
    .b_bonus__block{
        flex-direction: column;
    }
}
@media(max-width: 699px){
    .b_bonus__container{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .b_bonus__block .b_bonus__submit{
        margin-top: 10px;
        padding: 5px 10px;

        border-radius: 5px;

        justify-content: center;
    }
}

.delm58{
    clear: both;

    width: 100%;
    margin-top: 10px;
}


.bx-soa-pp-company .bx-soa-pp-list li:last-child .bx-soa-pp-list-description{
    font-size: 16.5px !important;
}



.b-shop__gift-container{
    margin-top: 30px;
}
.b-shop__gift-section{
    position: relative;

    height: max-content;
    max-height: 115px;
    padding: 20px;

    border-radius: 7px;
    box-shadow: 0 3px 15px rgba(0,0,0,.25);
}
@media(max-width: 699px){
    .b-shop__gift-container .col-xs-12:not(:last-child) .b-shop__gift-section{
        margin-bottom: 15px;
    }
    .b-shop__gift-section{
        max-height: 125px;
    }
    .centered-block{
        width: 100%;
        max-width: unset;
        padding: 0 15px;
    }
}
/*@media(min-width: 991px){
    [data-gift="section-gift__small"]{
        padding-right: 40px;
    }
}*/
.b-shop__gift-section:not(:last-child){
    margin-right: 30px;
}
.b-shop__gift-section h3{
    margin-top: 0;
}
.b-shop__gift-text{
    position: relative;

    display: flex !important;

    transition: all .25s ease-in-out;

    opacity: 0;

    align-items: center;
}
[data-gift='yes-gift_big'],
[data-gift='yes-gift_small']{
    top: -40px;
}
.b-shop__gift-text.show{
    opacity: 1;
}
.b-shop__gift-text img{
    margin-right: 10px;

    transition: all .5s ease-in-out;
    transform: scale(.3);
}
[data-gift='section-gift__small'] .b-shop__gift-text.show img{
    transform: scale(1);
}
[data-gift='section-gift__big'] .b-shop__gift-text.show img{
    transform: scale(1.3);
}
.b-shop__gift-section{
    transition: all .45s ease-in-out;
    transform: scale(.7);

    opacity: 0;
}
.b-shop__gift-section.show{
    transform: scale(1);

    opacity: 1;
}
.b-shop__gift-container{
    display: none;

    margin-bottom: 30px;
}
.b-shop__gift-container[data-gift='true']{
    display: block;
}
.b-gift-text__name{
    font-size: 14px;
}
.b-gift-text__name span{
    font-weight: bold;
}






.b-item__img-wrap{
    position: relative;

    overflow: hidden;

    width: 100%;
    padding-top: 75%;

    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
}
.b-item__img-wrap .b-item__img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    transition: all .45s ease-in-out;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.service-item:hover .b-item__img{
    transform: scale(1.07);
}
.service-list{
    margin-bottom: 80px;
}

@media(max-width: 699px){
    .service-item{
        margin-bottom: 60px;
        padding-bottom: 30px;

        border-bottom: 1.5px dotted #ff5722a6;
    }
}





/*------------ Стили описания товаров в товарной карточке -----------*/
.locs4{
    box-shadow: 0 3px 15px rgba(0,0,0,0.25);
}
.b-elem-file__list .file__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.b-elem-file__list .file__item img{
    margin-right: 10px;
}
.b-elem-file__list .file__item .item__name{
    color: #333333;
    transition: all .45s ease-in-out;
    margin-bottom: 10px;
}
.b-elem-file__list .file__item .item__type{
    color: #AAAAAA;
}
.b-elem-file__list .file__item .item__name:hover{
    color: #FA6907;
}


.b-detail-article__list .article__item{
    position: relative;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #CFCFD3;
    margin-top: 40px;
}
.b-detail-article__list .article__item .item__header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.article__item .item__header img{
    width: 90px;
    height: auto;
    margin-right: 10px;
}
.article__item .item__header .item__name{
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;

    color: #000000;
}
.article__item .item__body{
    max-height: 54px;
    overflow: hidden;
    color: #606060;
    margin-bottom: 5px;
}
.article__item .item__footer .item__link{
    transition: all .45s ease-in-out;
    color: #FA6907;
}
#tabs_description img{
    margin: 10px 0 15px;
}
@media(max-width: 1199px){
    .article__item .item__header img{
        width: 60px;
    }
    .article__item .item__header .item__name{
        font-size: 14px;
    }
}
@media(max-width: 991px){
    .b-detail-article__list .article__item{
        padding-left: 160px;
        margin-bottom: 40px;
    }
    .article__item .item__header img{
        position: absolute;
        left: 15px;
        top: 20px;
        width: 130px;
    }
    .article__item .item__header .item__name{
        font-size: 15px;
    }
}
@media(max-width: 699px) {
    #tabs_description h3 {
        width: auto !important;
    }
    #tabs_description iframe{
        width: 100% !important;
        height: auto !important;
    }
}
@media(max-width: 768px) {
    .c_delivery .h3, .c_delivery form {
        display: block !important;
    }
}

@media(max-width: 765px){
     .b-detail-article__list .article__item{
        padding-left: 15px;
    }
    .article__item .item__header img{
        position: relative;
        display: none;
        width: 130px;
    }
}
/*------------ /Стили описания товаров в товарной карточке -----------*/

#tabs_description img {
    max-width: 100% !important;
}

.img458 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img459 {
   position: absolute;
   bottom: 0;
   left: 0; 
}

.img460 {
    position: absolute;
    bottom: 0;
    left: 9px;
}