.irs--modern {
    height: 33px
}

.irs--modern.irs-with-grid {
    height: 33px
}

.irs--modern .irs-line {
    top: 0;
    height: 8px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px
}

.irs--modern .irs-bar {
    top: 0;
    height: 8px;
    background: #ff4638;
}

.irs--modern .irs-bar--single {
    border-radius: 5px 0 0 5px
}

.irs--modern .irs-shadow {
    height: 1px;
    bottom: 21px;
    background-color: rgba(209, 214, 224, .5)
}

.irs--modern .irs-handle {
    top: -6px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: none;
    background: #ff4638;
    cursor: pointer;
    border: 5px solid #cd207e;

}

.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
    border-color: #cd207e;
    background: #fff
}

.irs--modern .irs-handle>i:nth-child(1),
.irs--modern .irs-handle>i:nth-child(2),
.irs--modern .irs-handle>i:nth-child(3) {
    display: none !Important
}

.irs--modern .irs-min,
.irs--modern .irs-max {
    top: 0;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    color: #fff;
    background-color: #d1d6e0;
    border-radius: 5px;
	display:none;
}

.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
    font-size: 10px;
    line-height: initial;
    text-shadow: none;
    padding: 0;
    background-color: none;
	background:none;
    color: #37313d;
    border-radius: 0;
	font-weight:300;
	top:19px;
}

.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
	display:none;
}

.irs--modern .irs-grid {
    height: 25px
}

.irs--modern .irs-grid-pol {
    background-color: #dedede
}

.irs--modern .irs-grid-text {
    color: silver;
    font-size: 13px
}

.irs-grid-pol {
    display: none
}

.irs-single {
    display: none
}