@media screen and (min-height:900px){
	
	.footer-to-bottom footer{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
	}
}	
@media screen and (max-height:768px){
	
	#preview .thumbnail .gallery .slide{
		height:500px;
	}
	#preview .info{
		padding:30px;
	}
	.thankspopup .fancybox-close-small, #fast-purchase .fancybox-close-small, #a2csuccess .fancybox-close-small, #preview .fancybox-close-small {
		right: -40px !important;
		top: -40px !important;
	}
}
@media screen and (min-width:992px) and (max-width:1820px){
	.front-block:before{
		width:100%;
		z-index:-1;
	}

	/*
	#a2csuccess .product-added{
		margin:0 0 7px;
		padding:0 0 7px;
	}
	#a2csuccess .popupform > .title{
		margin:0 0 10px;
	}
	*/
}
@media screen and (max-width:1200px){

	.front-block .front-pagination ul,
	.front-block .left .slide .slide-inner{
		max-width:548px;
	}
	
	.catalog .middle .filter-group{
		padding:20px;
	}
	.catalog .middle .filter-controls input{
		width:65px;
	}
	.product-detail .color-select .slide{
		margin:0 5px 0 0;
	}
	.reviews .comment-form .inner .form-controls .form-submit .btn{
		padding:13px 0;
		width:100%;
	}
	.reviews .comment-form .inner .form-controls .form-note {
		width: 32%;
		padding: 5px 0 0 18px;
	}
	.reviews .comment-form .inner .form-controls .form-note br{
		display:none;
	}
	.reviews .comment-form .inner .form-textarea{
		width:68%;
	}
	.reviews .comment-form .inner .forminline .form-input{
		width:36.2%;
	}
	.reviews .comment-form .inner .form-controls .form-file .left{
		width:54%;
	}
	.reviews .comment-form .inner .form-controls .form-file .right {
		padding: 20px 0 0 2px;
		width: 46%;
	}
	
	.page-404 .content *{
		position:relative;
		z-index:1;
	}
	
	.delivery-page .car-bg .car{
		right:-450px;
	}
	
	.exchange-page .exchange-has-thumb:after {
		right: calc(-100% - 219px);
	}
	
	.product .hover{
		display:none !important;
	}
	.product {
		min-height: 290px;
	}
}
@media screen and (max-width:991px){
	body {
		/*padding: 0 0 412px 0;*/
	}
	.product {
		min-height: 290px;
	}
	.front-block .left .slide {
		height: 365px;
	}

	.catalog .product .inner .title {
		margin: 0;
		padding: 0 10px;
	}
	header{
		padding:27px 0;
	}
	header .phone{
		display:none;
	}
	header .menu{
		width:75%;
		-webkit-box-pack:end;
		-ms-flex-pack:end;
        justify-content:flex-end;
	}
	header .menu a{
		font-size:12px;
		display:inline-block;
		margin-left:30px;
	}
	header .menu a:first-child{
		margin:0;
	}
	
	.shop-header .search-box{
		width:calc(100% - 136px);
	}
	.shop-header .minicart{
		width:56px;
	}
	.shop-header .favourite{
		width:80px;
	}
	.shop-header .minicart a{
		padding:0px 5px 0px 0px;
	}
	.shop-header .favourite p,
	.shop-header .minicart p{
		font-size:0;
		padding:4px 0 0 0;
		width:16px;
		height:16px;
	}
	
	.shop-header .favourite p .icon,
	.shop-header .minicart p .icon{
		display:block;
		margin:0;
		position:static;
	}
	.shop-header .favourite p .count,
	.shop-header .minicart p .count{
		padding:0;
		font-size: 8px;
		position: absolute;
		top: -3px;
		right: -8px;
		font-weight: 700;
		line-height: 14px;
		border-radius: 50%;
		width: 14px;
		text-align: center;
		background: #dd4545;
	}
	.shop-header .minicart p .count{
		right:-4px;
	}
	
	
	.search-box .menu-catalog ul li.parent > .submenu-overlay .submenu > li{
		width:140px;
	}
	.search-box .menu-catalog ul li.parent > .submenu-overlay .submenu > li > ul > li{
		margin:10px 0 0 0;
	}
	.search-box .menu-catalog .banner .boot{
		display:none;
	}
	.search-box .menu-catalog .banner .bg {
		left: -71px;
		height: 100%;
		object-fit: cover;
	}
	
	.front-block .d-flex{
		display:block !important;
	}
	.front-block .left .slide{
		display:block;
	}
	.front-block .front-pagination ul, 
	.front-block .left .slide .slide-inner{
		max-width:720px;
		margin:0 auto;
	}
	.front-block .right,
	.front-block .left{
		width:100%;
	}
	
	.front-block:before {
		width: 100%;
		height: 500px;
	}
	.front-block .left .slide .slide-content{
		height:360px;
		max-width: 720px;
		margin: 0 auto;
	}
	.front-block .container{
		max-width:100%;
		width:100%;
	}
	.front-block .front-pagination{
		width:100%;
	}
	.front-block .front-pagination ul{
		max-width:720px;
		margin:0 auto;
	}
	.front-block .right .top .inner,
	.front-block .right .bottom .inner{
		max-width:720px;
		margin:0 auto;
	}
	.front-block .right .bottom .bg, .front-block .right .top .bg{
		width:100%;
		height:100%;
	}
	.front-block .right .top a {
		text-align: left;
	}
	.front-block .right .bottom p, .front-block .right .top p{
		line-height:36px;
	}
	.front-block .right .bottom .boot {
		left: 50%;
		margin-left: -157px;
	}
	
	.product-slider .top .buttons button{
		margin:0 25px 0 0;
	}
	.product-slider .top .buttons button:last-child{
		margin:0 0px 0 0;
	}
	
	.frnt-slider.product-slider{
		padding: 50px 0 40px;
	}

	.front-offers{
		padding:45px 0;
	}
	
	.front-blog{
		padding:40px 0;
	}
	.article-list .title{
		padding:0 5px;
	}
	
	.front-delivery {
		padding: 50px 0 60px;
	}
	.front-delivery .item{
		position:relative;
		margin:0 0 20px;
	}
	.front-delivery .item img{
		position:absolute;
		right:0;
		bottom:0px;
	}
	.front-delivery .item:nth-child(2) img{
		bottom:237px;
		right: 20px;
	}
	.front-delivery .item:nth-child(1) img{
		bottom: auto;
		top: 38px;
		z-index: -1;
	}
	.front-delivery .item.item1 .span1{
		max-width:355px;
		display:inline-block;
	}
	.front-delivery .item.item2 .span2{
		max-width:325px;
		display:inline-block;
	}
	.front-delivery .item.item2 .span3 br{
		display:none;
	}
	.front-delivery .item.item3 .span4{
		max-width:425px;
		display:inline-block;
	}
	.front-delivery ul{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.front-delivery ul li{
		width:50%;
		margin:5px 0;
		max-width:235px;
	}
	footer .menu{
		margin-bottom:40px;
	}
	footer .menu ul{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	footer .menu ul li{
		width:50%;
	}
	footer .payment .methods .item{
		margin:0 10px 0 0;
	}
	.catalog .middle .filter{
		padding:0px;
		border:none;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.catalog .middle .filter-outer{
		display:none;
	}
	.catalog .middle .filter-group .slide-filter{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		        align-items:center;
		-ms-flex-wrap:wrap;
		    flex-wrap:wrap;
	}
	.catalog  .slide-filter .filter-controls{
		margin:0;
		width:30%;
	}
	.catalog  .slide-filter .filter-input{
		margin:0;
		width:70%;
		padding:25px 0 0 25px;
	}
	
	#filter-heading{
		font-size:16px;
		text-transform:uppercase;
		font-family:'Lisa';
		border-bottom:1px solid #f4f4f4;
		padding:35px 40px;
		position:relative;
		cursor:pointer;
	}
	#filter-heading:after {
		content:"";
		width:10px;
		height:5px;
		position:absolute;
		top:50%;
		right:30px;
		margin-top:-2.5px;
		-webkit-transform:none;
		-ms-transform:none;
        transform:none;
		background: url(../images/select-arr.png) no-repeat right center;
	}
	#filter-heading.active:after{
		-webkit-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		transform:rotate(180deg);
	}
	.catalog .middle .filter-group{
		border-right:0;
		padding:20px 40px;
	}
	.catalog .middle .filter-group.filter-1{
		width:100%;
	}
	.catalog .middle .filter-group.filter-2,
	.catalog .middle .filter-group.filter-4{
		width:34%;
	}
	.catalog .middle .filter-group.filter-3,
	.catalog .middle .filter-group.filter-5{
		width:66%;
	}
	.catalog .middle .filter-group.filter-3 .filter-boxes,
	.catalog .middle .filter-group.filter-5 .filter-boxes{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.catalog .middle .filter-group.filter-3 .filter-box,
	.catalog .middle .filter-group.filter-5 .filter-box{
		width:50%;
	}
	.catalog .middle .filter-controls-bottom{
		width:100%;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.catalog .middle .filter-controls-bottom .reset,
	.catalog .middle .filter-controls-bottom .apply{
		width:50%;
	}
	
	.catalog .middle .filter-boxes-color .filter-box{
		margin:7px 12px 7px 0;
	}
	.catalog .middle .filter-boxes-color .filter-box:nth-child(6n + 6){
		margin:7px 12px 7px 0;
	}
	.catalog .middle .filter-boxes-color .filter-box:nth-child(5n + 5){
		margin:7px 0px 7px 0;
	}
	.catalog-seo-text .text > div{
		padding:0 !important;
	}
	
	.subpage .shop-header{
		margin:0 0 30px;
	}
	.breadcrumbs{
		margin:30px 0
		
	}
	
	.product-detail .info{
		padding:45px;
	}
	.product-detail .thumbnail,
	.product-detail .info{
		max-width:100%;
		width:100%;
		flex:0 0 100%;
	}
	
	
	
	.detail-description .decr{
		padding-bottom:0;
	}
	.detail-description .char{
		padding-top:0;
	}
	.reviews{
		margin:0 0 50px;
	}
	.reviews .comment-form .inner .forminline .form-input .rating{
		-webkit-box-pack:end;
		-ms-flex-pack:end;
        justify-content:flex-end;
	}
	.reviews .comment-form .inner .forminline .form-input.form-rating{
		position: absolute;
		right: 15px;
		top: 34px;
		margin: 0;
		text-align: right;
	}
	.reviews .comment-form .inner .forminline{
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
        justify-content:space-between;
	}
	.reviews .comment-form .inner .forminline .form-input:not(.form-rating){
		width:calc(50% - 15px);
		margin:0 0 20px;
	}
	.reviews .comment-form .inner .form-textarea{
		width:100%;
	}
	.reviews .comment-form .inner .form-controls .form-submit,
	.reviews .comment-form .inner .form-controls .form-file .left{
		width:230px;
	}
	.reviews .comment-form .inner .form-controls .form-file{
		width:100%;
	}
	.input-file label{
		width:100%;
	}
	.reviews .comment-form .inner .form-controls .form-note{
		width:50%;
	}
	.reviews .comment-form .inner .form-controls .form-file .right {
		padding: 20px 0 0 21px;
	}
	
	.page-404 .bot404{
		text-align:center;
	}
	
	.page-404 .content .bg404{
		width:562px;
		height:454px;
		right: -203px;
		top: -135px;

		background-size:contain;
		z-index:0;
	}
	.page-404{
		padding:45px 0;
	}
	.page-404 .bot404 h2{
		margin:0 0 10px;
	}
	.page-404 .bot404  p{
		margin:20px 0;
	}
	.page-404 .top404{
		width:58%;
	}
	
	
	.cart .cart-table .cart-th .info,
	.cart .cart-table .cart-tr .info{
		width:68%;
	}
	.cart .cart-table .cart-th .controls{
		width:32%;
	}
	.cart .cart-table .cart-tr .controls{
		display:block;
		position:relative;
		width:32%;
	}
	.cart .cart-table .cart-tr .controls .remove{
		position:absolute;
		right:25px;
		top:50%;
		margin-top:-9px;
	}
	.cart .cart-table .cart-tr .controls .price{
		width:100%;
		margin:0 0 10px;
	}
	.cart .cart-table .cart-tr .controls .quantity{
		width:100%;
		
	}
	
	.cart .cart-controls .coupon .coupon-field{
		max-width:237px;
	}
	.cart .cart-controls .coupon .coupon-field input {
		padding: 24px 10px 23px 35px;
		text-align: left;
			font-size:14px;
			background-position:10px center !important;
	}
	
	.checkout-block .form-group .forminline{
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
        justify-content:space-between;
	}
	.checkout-block .form-group .form-input {
		width: calc(50% - 15px);
		margin: 0 0px 30px 0 !important;
	}
	
	.checkout-block .form-group-inline{
		display:block;
	}
	.checkout-block .form-group-inline .form-group:last-child,
	.checkout-block .form-group-inline .form-group:first-child{
		width:100%;
		margin:0 0 0px;
	}
	.checkout-block .form-group .form-input.form-textarea{
		width:100%;
	}
	.checkout-block .checkout-totals .discount{
		width:40%;
	}
	.checkout-block .checkout-totals .delivery-price{
		width:60%;
		text-align:left;
	}
	
	
	.contacts-page .item {
		padding: 40px 15px 0 15px !important;
	}
	.contacts-page .thumbnail{
		margin:0 auto 14px;
	}
	
	.delivery-page .heading{
		margin-bottom:35px;
	}
	.delivery-page .russia-delivery{
		margin-bottom:30px;
	}
	.delivery-page .heading .delivery-controls{
		-webkit-box-pack:start;
		-ms-flex-pack:start;
        justify-content:flex-start;
		margin:20px 0;
	}
	.delivery-page .heading .delivery-controls .button{
		margin:0 30px 0 0;
	}
	.delivery-page .sdek{
		padding:0;
		margin:0 0 30px;
	}
	.delivery-page .russia{
		padding:0;
	}
	
	.delivery-page .car-bg .car {
		right: -600px;
		top: -230px;
	}
	
	#a2csuccess .fancybox-close-small, 
	#fast-purchase .fancybox-close-small, 
	#preview .fancybox-close-small{
		right:0 !important;
		top:-50px !important;
	}
	 #preview,
	#a2csuccess{
		margin:50px 0;
	}
	
	#a2csuccess .popupform > .title{
		margin:0 0 10px;
	}
	
	.exchange-page{
		margin:0 0 40px;
	}
	.exchange-page .exchange-has-thumb:after {
		display:none;
	}
	.exchange-page .exchange-boot {
		width:301px;
		height:206px;
		background:url(../images/ex.png) no-repeat center / contain;
	}
	
	.favourite-page{
		padding:0;
	}
	.favourite-page .favourite-header{
		margin-bottom:30px;
	}
	
	
	
	.order-info .row > div:last-child{
		padding-left:0;
	}
	
	.bootstrap-datetimepicker-widget.dropdown-menu{
		width:100%;
	}
	.content-page .main-img {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content-page .main-text p {
		width: 70%;
	}
}
@media screen and (max-width:768px) {
	.content-page .main-text p {
		width: 70%;
	}
	.content-page .main-text img {
		position: absolute;
		right: 0;
		z-index: -1;
	}
}


@media screen and (max-width:767px){
	header .logo{
		width:100%;
		text-align:center;
	}
	header .menu{
		display:none;
	}
	.shop-header .search-box .search-placeholder{
		margin:-3.5px 0 0 0;
	}
	.shop-header .search-box form button.reset{
		margin-top:-2px;
	}
	.shop-header .search-box form button.submit{
		margin-top:5px;
	}
	.banners__list {
		flex-wrap: wrap;
	}
	.banners__item {
		width: 100%;
		margin-bottom: 20px;
		max-height: 360px;
	}
	.banners__item:last-child {
		margin-bottom: 0;
	}
	.shop-header .row{
		padding:0 10px;
	}
	.search-box .menu-catalog > ul{
		display:none;
	}
	.search-box .menu-catalog > .mobile-menu{
		display:block;
	}
	.product {
		min-height: initial;
	}
	.product-pagination .pagination .catalog-next a:after {
		margin-top: -4px;
	}
	.product-pagination .pagination .catalog-prev a:before {
		top: -4px;
	}
	/*
	.shop-header .search-box form button{
		top:-39px;
	}
	*/
	
	
	.shop-header .search-box form button.reset,
	.shop-header .search-box input,
	.shop-header .search-box .search-placeholder{
		/* display:none; */
	}
	.shop-header .search-box .search-placeholder{
		font-size:12px;
	}
	.shop-header .search-box input {
		padding: 37px 0px 27px 0;
	}
	.front-block .right {
		flex-wrap: wrap;
	}
	.front-block .right .top, .front-block .right .bottom {
		width: 100%;
	}
	.front-block .right .top {
		margin-bottom: 20px;
	}
	.shop-header .minicart a{
		padding:0 12px 0 0;
	}
	
	.front-block .left h1{
		font-size:24px;
		line-height:1.5;
	}
	.front-block:before{
		display:none;
	}
	.front-block .front-pagination ul,
	.front-block .left .slide .slide-content{
		max-width:540px;
	}
	.front-block .front-pagination{
		bottom:200px;
	}
	.front-block .left .slide {
		padding: 40px 0 0px 0;
		background:none !important;
	}
	.front-block .right .bottom p, .front-block .right .top p{
		font-size:18px;
	}
	.front-block .right .bottom p span, 
	.front-block .right .top p span{
		font-size:32px;
	}
	.front-block .left .slide .slide-inner {
		background-position: bottom right;
	}
	.front-block .right .bottom .bg, 
	.front-block .right .top .bg{
		object-fit:cover;
	}
	.front-block .right .top a{
		width: 100%;
	}
	.front-block .right .bottom .boot{
		width:170px;
		right:0;
		margin:0;
		left:auto;
		bottom:-15px;
	}
	
	.frnt-slider.product-slider {
		padding: 30px 10px 30px;
	}
	
	.front-offers {
		padding: 30px 10px;
	}
	.front-offers .top{
		margin-bottom:30px;
	}
	.front-blog {
		padding: 30px 10px;
	}

	.article-list .article{
		margin-bottom:15px;
	}
	.front-delivery .container,
	footer .container {
		padding: 0 10px;
	}
	
	.front-delivery .item img{
		position:static;
	}
	.front-delivery .item{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:reverse;
		-ms-flex-direction:column-reverse;
		flex-direction:column-reverse;
		-webkit-box-align: baseline;    -ms-flex-align: baseline;    align-items: baseline;
	}
	.front-delivery .inner{
		width:100%;
	}
	
	footer .payment{
		margin:0 0 30px;
	}
	.catalog h1{
		margin:0 0 5px;
	}
	.catalog .sortorder{
		text-align:left;
	}
	.catalog .slide-filter .filter-input,
	.catalog .slide-filter .filter-controls{
		width:100%;
		padding:0;
	}
	.catalog .slide-filter .filter-controls{
		margin:0 0 20px;
	}
	.catalog .middle .filter-group .slide-filter{
		display:block;
	}
	.catalog .middle .filter{
		display:block;
		height:390px;
		overflow:auto;
		overflow-y:scroll;
	}
	/* width */
	.catalog .middle .filter::-webkit-scrollbar {
	  width: 5px;
	}

	/* Track */
	.catalog .middle .filter::-webkit-scrollbar-track {
	  background: #fff; 
	}

	/* Handle */
	.catalog .middle .filter::-webkit-scrollbar-thumb {
	  background: #ff4638;
	  border-radius:5px;
	}
	
	.catalog .styledSelect {
		padding: 18px 20px 18px 0px;
	}
	.catalog .styledSelect:after {
		content:"";
		width:10px;
		height:5px;
		position:absolute;
		top:50%;
		right:60px;
		margin-top:-3.5px;
		background: url(../images/select-arr.png) no-repeat right center;
	}
	.catalog .styledSelect.active:after{
		right:30px;
	} 
	.catalog .styledSelect.active {
		padding: 18px 0px 18px 30px;
		background-color: #fff;
		text-align: left;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
	}
	.catalog .optionz{
		left:0;
	}
	
	
	
	
	
	
	
	.product .inner .info{
		padding:0 10px;
	}

	/* Handle on hover */
	.catalog .middle .filter::-webkit-scrollbar-thumb:hover {
	  background: #ff4638;
	}
	#filter-heading,
	.catalog .middle .filter-group.filter-1,
	.catalog .middle .filter-group.filter-2, 
	.catalog .middle .filter-group.filter-3, 
	.catalog .middle .filter-group.filter-4, 
	.catalog .middle .filter-group.filter-5{
		width:100%;
		padding:25px 30px;
	}
	
	.catalog .middle .filter-boxes-color .filter-box {
		margin: 7px 12px 7px 0 !important;
	}
	.catalog .middle .filter-group.filter-3 .filter-box, .catalog .middle .filter-group.filter-5 .filter-box{
		width:100%;
	}
	
	.product-pagination .pagination .catalog-prev a, .product-pagination .pagination .catalog-next a{
		font-size:0;
	}
	.product-pagination .pagination .catalog-next a:after,
	.product-pagination .pagination .catalog-next a:before{
		top:-7.5px;
	}
	
	.product-pagination{
		margin-bottom:30px;
	}
	.catalog .heading{
		margin-bottom:10px;
	}
	.catalog-seo-text h2{
		margin-bottom:20px;
	}
	.product-slider:not(.frnt-slider){
		padding:20px 0 40px;
	}
	.product .hover{
		width:100%;
		padding: 0px 10px 20px;
	}
	.product-slider .top{
		margin-bottom:20px;
	}
	
	.product-detail{
		margin:0 0 10px;
	}
	.product-detail .thumbnail .gallery-navigation .slide{
		height:100px;
		border-bottom:1px solid #f3f3f3;
	}
	.product-detail .thumbnail .gallery .slide{
		height:200px;
	}
	.product-detail .info{
		padding:25px;
	}
	.product-detail .props .left, .product-detail .props .right{
		width:100%;
		margin:0 0 15px;
	}
	.product-detail .props .right{
		width:100%;
		padding:0;
	}
	.product-detail .right .price{
		margin:0 0 7px;
	}
	.product-detail .right .discount span{
		margin:0 0 7px;
	}
	.product-detail .size-select{
		margin:0 0 20px;
	}
	.product-detail .props .right{
		padding-top:20px;
		border-top:1px solid #f3f3f3;
	}
	.detail-description .decr, .detail-description .char{
		padding:25px;
	}
	
	.detail-product-slider.product-slider .top .buttons{
		width:508px;
		padding:0 0 30px;
	}
	
	.page-404 {
		padding: 0 0 45px 0;
	}
	.page-404 h1{
		display:none;
	}
	.page-404 .content .bg404{
		position: relative;
		width: 340px;
		height: 303px;
		left: -62px;
		top: initial;
		margin-top:-20px;
	}
	.page-404 .bot404{
		text-align:left;
	}
	.page-404 .top404 {
		width: 100%;
		margin-top: -32px;
	}
	
	.blog-page h1{
		margin:0 0 20px;
	}
	
	.cart{
		padding:0 10px;
	}
	.cart h1, .cart h2{
		margin:0 0 20px;
	}
	.cart .cart-table .cart-th .info{
		width:100%;
	}
	.cart .cart-table .cart-th .controls{
		display:none;
	}
	.cart .cart-table .cart-tr{
		padding:20px 0;
		display:block;
		width:100%;
	}
	.cart .cart-table .cart-tr .info{
		display:block;
		margin:0;
		width:100%;
		padding:0  25px;
	}
	.cart .cart-table .cart-tr .info .description{
		margin:0 0 10px;
	}
	.cart .cart-table .cart-tr .info .thumbnail{
		margin:0 0 10px;
	}
	.cart .cart-table .cart-tr .info .description{
		width:100%;
	}
	.cart .cart-table .cart-tr .controls{
		width:100%;
		padding:0  25px;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
		margin:0;
	}
	.cart .cart-table .cart-tr .controls .price{
		width:100%;
	}
	.cart .cart-table .cart-tr .controls .quantity{
		width:200px;
	}
	.cart .cart-table .cart-tr .controls .remove {
		position:static;
	}
	
	.cart .cart-totals{
		display:block;
	}
	.cart .cart-totals .discount{
		margin:0 0 10px;
	}
	.cart .cart-totals .discount, .cart .cart-totals .discount-price{
		width:100%;
		text-align:left;
	}
	.cart .cart-controls{
		-webkit-box-orient:vertical;
		-webkit-box-direction:reverse;
		-ms-flex-direction:column-reverse;
		flex-direction:column-reverse;
		margin:0 0 30px;
	}
	.cart .cart-controls .checkout{
		margin:0 0 20px;
	}
	.cart .cart-controls .coupon, .cart .cart-controls .checkout{
		width:100%;
		text-align:center;
		display:block;
	}
	.cart .cart-controls .coupon .coupon-link{
		display:inline-block;
		margin:0 0 20px;
	}
	.cart .cart-controls .coupon .coupon-field{
		position:relative;
		left:auto;
		top:auto;
		bottom:auto;
		right:auto;
		max-width:100%;
		width:100%;
		margin:0;
	}
	.cart .cart-controls .coupon .coupon-field input{
		
		max-width:100%;
	}
	.cart .cart-controls .coupon .coupon-field:before {
		content: '';
		position: absolute;
		left: 50%;
		top: 0.5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 3.5px 7px 3.5px;
		border-color: transparent transparent #ffffff transparent;
		margin-left: -7px;
	}
	.cart .cart-controls .checkout a{
		max-width:100%;
	}
	.checkout-block{
		padding:40px 10px;
	}
	.checkout-block h2{
		margin:0 0 30px;
	}
	.checkout-block .form-group{
		margin:0;
	}
	/*
	.checkout-block .form-group h3{
		margin:0 0 15px;
	}
	*/
	.checkout-block .form-group .form-input{
		width:100% !important;
		margin:0 0 20px;
	}
	.checkout-block .checkout-totals {
		margin: 0px 0 30px 0;
		display:block;
	}
	.checkout-block .checkout-totals .discount{
		width:100%;
		margin:0 0 15px;
	}
	.checkout-block .checkout-totals .delivery-price{
		width:100%;
	}
	.checkout-block .checkout-totals .delivery-price .inner{
		padding:0;
		width:100%;
		/*
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		*/
	}
	.checkout-block .checkout-totals .delivery-price .delivery-title{
		display:inline-block;
	}
	.checkout-block .checkout-totals .delivery-price .inner:before{
		display:none;
	}
	.checkout-block .totals p span{
		display:block;
	}
	.checkout-block .controls .left, .checkout-block .controls .right{
		width:100%;
	}
	.checkout-block .controls .right{
		margin:20px 0 0 0;
	}
	.checkout-block .controls .btn-sbmorder{
		text-align:center;
		padding:22px 0 21px 0px
	}
	.checkout-block .checkout-note{
		text-align:center;
	}
	.delivery-page .delivery-contacts h2, .delivery-page .delivery-map h2{
		margin:0 0 25px;
	}
	.delivery-page .delivery-contacts,
	.delivery-page .delivery-description{
		margin-bottom:25px;
	}
	.delivery-page .car-bg .car {
		background-size:contain;
	    max-width: 100%;
		height: 242px;
		position:static;
	}
	.delivery-page .delivery-contacts .item {
		border-right: none;
		border-bottom: 1px solid #f3f3f3;
		padding: 25px 40px 0 25px !important;
	}
	
	#preview,
	#a2csuccess{
		padding:25px !important;
	}
	#a2csuccess .product-slider .product{
		width:250px;
		margin:0 10px;
		border:1px solid #f3f3f3;
	}
	#a2csuccess .product-added{
		display:block;
		margin:0 0 20px;
	}
	#a2csuccess .product-added .info{
		width:100%;
		margin:0 0 10px;
	}
	#a2csuccess .product-added .controls{
		width:100%;
	}
	#a2csuccess .product-added .controls .amount,
	#a2csuccess .product-added .controls .price{
		text-align:left;
	}
	
	.favourite-header .left{
		margin:0 0 15px;
	}
	.favourite-page .favourite-header .clear-page{
		text-align:left;
	}
	
	.catalog .product,
	.favourite-page .product{
		margin:5px 10px 5px 0;
		flex:0 0 calc(50% - 5px);
	}
	.catalog .product:nth-child(2n + 2),
	.favourite-page .product:nth-child(2n + 2){
		margin:5px 0px 5px 0;
	}
	
	
	.order-info .row .delivery-conditions{
		padding:0;
	}
	.order-info{
		padding:30px 0;
	}
	
	.thanks-heading .row > div h3{
		margin:0 0 10px;
	}
	
}



@media screen and (max-width:576px){
	body {
		/*padding: 0 0 677px 0;*/
	}
	.single-product > .container {
		padding: inherit;
	}
	.detail-description .char .prop{
		line-height: 24px;
	}
	.shop-header .search-box .search-placeholder span{
		display:none;
	}
	.shop-header .search-box form button.reset{
		right:15px;
	}
	.shop-header .search-box input {
		width: calc(100% - 38px);
	}
	.front-block .right .bottom, .front-block .right .top{
		height:140px;
	}
	.front-block .right .bottom p, .front-block .right .top p{
		font-size:15px;
		line-height:1.5;
	}
	.front-block .right .bottom p span, .front-block .right .top p span{
		font-size:22px;
	}
	.front-block .front-pagination ul, .front-block .left .slide .slide-content{
		padding:0 10px;
	}
	.product-slider .top .buttons button{
		margin:0 20px 0 0;
	}
	.product-slider .slick-slide.product{
		width:250px;
		margin:0 5px;
		min-height: 317px;
	}	
	.front-offers .slick-slide{
		width:250px;
		margin:0 10px;
	}	
	.front-offers .slick-list{
		margin:0;
	}
	.product-slider .top{
		overflow:auto;
		overflow-x:scroll;
		margin-bottom:25px;
		padding-bottom:20px;
	}
	.product-slider .top .buttons{
		width:500px;
	}
	.product-slider:not(.frnt-slider) .top{
		padding:0;
	}
	.product-slider:not(.frnt-slider) {
		padding: 20px 10px 40px;
	}
	.article-list .article{
		width:250px;
		max-width:100%;
		flex:0 0 250px;
	}
	.catalog .middle .filter-container{
		background:#fff;
	}
	.catalog .middle .filter-controls-bottom{
		display:block;
	}
	.catalog .middle .filter-controls-bottom .reset, .catalog .middle .filter-controls-bottom .apply{
		width:100%;
	}
	.catalog .middle{
		background:transparent;
	}
	.product-pagination,
	.catalog-seo-text,
	.catalog .middle,
	.catalog .heading{
		padding:0 10px;
	}
	.catalog .middle .filter-container{
		margin:0 0 5px;
	}
	#filter-heading{
		background:#fff;
	}
	.product-pagination > div{
		padding:0 25px;
		background:#fff;
	}
	.product-pagination{
		background:none;
		margin-toP:5px;
	}
	.breadcrumbs{
		padding:0 10px;
	}
	.product-detail .controls .left, .product-detail .controls .right{
		width:100%;
	}
	.product-detail .controls .right{
		padding:0;
		margin:20px 0 0;
	}
	.product-detail .delivery{
		padding:0;
		border:none;
	}
	.product-detail .right .price{
		margin:0 0 12px;
	}
	.product-detail .selected-props,
	.product-detail .right .discount{
		margin:0 0 18px;
	}
	.stars{
		padding:0 10px;
	}
	.stars .slide{
		margin:0 10px;
		width:240px;
	}
	.detail-description{
		margin:0 0 20px;
		padding:0 10px;
	}
	
	.detail-description .decr{
		padding-bottom:0;
	}
	.detail-description .char{
		/*padding-top:0;*/
	}
	
	
	.stars .top{
		margin-bottom:25px;
	}
	.reviews{
		padding:0 10px;
	}
	.reviews .container{
		padding:25px;
	}
	.reviews h2{
		margin:0;
	}
	.reviews .heading h2{
		margin:0 0 12px;
	}
	.reviews .meta{
		margin:0 0 12px;
	}
	.reviews .heading .comment{
		text-align:left;
		margin:10px 0 0 0;
	}
	.reviews .reviews-list .item {
		padding: 25px 15px;
	}
	.reviews-bottom{
		padding:20px 0 0 0;
	}
	
	.reviews .comment-form .inner .forminline{
		display:block;
	}
	
	.reviews .comment-form .inner .forminline .form-input:not(.form-rating){
		width:100%;
	}
	.reviews .comment-form .inner .forminline .form-input:not(.form-rating) input{
		max-width:100%;
	}
	.reviews .comment-form .inner .forminline .form-input .rating{
		-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;
		padding:0;
	}
	.reviews .comment-form .inner .forminline .form-input.form-rating{
		position:static;
		width:100%;
		margin:0 0 20px;
	}
	.reviews .comment-form .inner .form-controls .form-submit, .reviews .comment-form .inner .form-controls .form-file .left{
		width:100%;
	}
	.input-file label{
		text-align:center;
	}
	.reviews .comment-form .inner .form-controls .form-file .right{
		padding:0;
		width:100%;
		text-align:center;
		margin:0 0 15px;
	}
	.reviews .comment-form .inner .form-controls .form-note{
		padding:0;
		text-align:Center;
		width:100%;
		margin:10px 0 20px;
		font-size:12px;
	}
	.product-detail .meta > div{
		margin-bottom:10px !important;
	}
	
	
	.page-404 {
		padding: 0 10px 45px 10px;
	}
	
	.blog-page{
		padding:0 10px;
	}
	.blog-page.article-list .article {
		width: auto;
		max-width: 100%;
		flex: 0 0 50%;
	}
	
	.contacts-page{
		padding:0 10px;
	}
	.contacts-page h1{
		margin:0 0 25px;
	}
	.contacts-page .item{
		border:none;
		border-bottom:1px solid #f3f3f3;
	}
	.contacts-page h2,
	.contacts-page .contacts{
		margin-bottom:25px;
	}
	
	
	.delivery-page{
		padding:0 10px;
	}
	.delivery-page .heading .delivery-controls button{
		padding:25px 0;
		width:100%;
	}
	.delivery-page .heading .delivery-controls .button{
		margin:0 20px 0 0; 
		width:50%;
	}
	.delivery-page .heading .delivery-controls .button:last-child{
		margin:0;
	}
	
	
	.delivery-page .delivery-description{
		margin-bottom:0;
	}
	.delivery-page .car-bg .car {
		max-width: none;
		width: 340px;
		height: 208px;
		margin-left: -28px;
	}
	#delivery-map{
		height:300px;
	}
	
	#fast-purchase{
		padding:20px !Important;
	}
	#a2csuccess .product-added .info{
		display:block;
	}
	#a2csuccess .product-added .info .thumbnail{
		margin:0 0 10px;
	}
	.product .inner .thumbnail img{
		max-width:150px;
	}
	.product-slider .product .inner .thumbnail img{
		max-width:170px;
	}
	.product-slider .product .thumbnail{
		margin:0 0 25px;
	}
	.product-slider .product .inner .info{
		padding: 0px 25px 20px;
	}
	
	.exchange-page{
		padding:0 10px;
	}
	
	.favourite-page{
		padding:0 10px;
	}
	.favourite-page .product-pagination{
		padding:0;
	}
	
	.thanks-heading{
		padding:0 10px;
	}
	.order-info{
		padding:30px 10px;
	}
	.content-page {
		padding: 0 15px;
	}
	.content-page .main-img {
		/*margin-bottom: 10px;*/
	}
	.content-page .main-text {
		flex-wrap: wrap;
		justify-content: center;
	}
	.content-page .way-item {
		flex-wrap: wrap;
		justify-content: center;
	}
	.content-page .way-photo {
		margin-bottom: 20px;
	}
	.content-page .way-photo,
	.content-page .way-content {
		text-align: center;
	}
	.content-page .main-text p {
		display: block;
		width: 100%;
	}
	.content-page .main-text img {
		position: relative;
		right: 0;
		z-index: -1;
	}
	.front-block .front-pagination {
		display: none;
	}
	footer .row {
		margin: 0;
		padding-left: -15px;
		padding-right: -15px;
	}
	footer .col-lg-3.col-md-6 {
		padding: 0;
	}
}
@media screen and (max-width:476px){
	.front-delivery ul li{
		width:100%;
		max-width:100%;
	}
	.product-detail .thumbnail .gallery .slide img{
		max-width:190px;
	}
	.detail-description .char .prop{
		display:block;
		margin:10px 0;
	}
	.detail-description .char .prop span{
		display:block !Important;
		padding:0 !Important;
	}
	.detail-description .char .prop span:first-child:after{
		display:none;
	}
	.blog-page.article-list .article {
		flex: 0 0 100%;
	}
	
	/*
	.blog-page.article-list .bottom .btn{
		padding:50px 0 0 0;
		position:relative;
		background:none;
		color:#dd4545;
	}
	.blog-page.article-list .bottom .btn span{
		position:absolute;
		left:50%;
		top:0;
		background: url(../images/loading.png) no-repeat center;
		background-color:transparent;
		width:40px;
		border-radius:50%;
		height:40px;
		margin-left:-20px;
		transition:0.5s all ease;
		-webkit-transition:0.5s all ease;
		-moz-transition:0.5s all ease-;
		-ms-transition:0.5s all ease;
		-o-transition:0.5s all ease;
		
	}
	.blog-page.article-list .bottom .btn:hover span{
		box-shadow:0 10px 10px rgba(0,0,0,0.08);
		background-color:#fff;
	}
	*/
	
	
	.product .inner .thumbnail img{
		max-width:120px;
	}
	.catalog .product .inner .thumbnail a,
	.favourite-page .product .inner .thumbnail a{
		padding:20px 0;
	}
	.catalog .product .inner .info,
	.favourite-page .product .inner .info{
		padding:0px 0 20px 0;
	}
	.product .inner .price p.oldprice{
		margin:0 4px 0 0;
	}
	
}
@media screen and (max-width:376px){
	body {
		/*padding: 0 0 792px 0;*/
	}
	footer .menu ul li{
		width:100%;
	}
	.page-404 .top404{
		margin-top:-10px;
	}
	.page-404 .content .bg404{
		left:-10px;
	}
}
@media screen and (max-width:339px){
	.front-delivery .item.item3 .span5{
		display:block;
	}
}
@media screen and (max-width: 640px) {
	.bg_desktop {
		display: none;
	}
	.bg_mobile {
		display: block!important;
	}
	.front-block .left .slide .bg {
		position: relative;
		height: inherit;
	}
	.front-block {
		padding: 20px 0;
	}
	.front-block .right .bottom, .front-block .right .top {
		height: inherit;
	}
	.front-block .left .slide {
		height: inherit;
		padding: 0;
	}
	.front-block .left .slide .slide-content {
		height: inherit;
	}
}