body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
    overflow-x: hidden;
    font-size: 25px;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}
p {
    margin: 0;
    padding: 0;
}
.conteiner {
    margin: 0 auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.self {
    -ms-flex-item-align: start;

    align-self: flex-start;
}
/* MAIN SLIDER*/
.slider-all {
    margin-bottom: 50px;
    padding-top: 100px;
}
.main__slider {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: auto;
}
.main__slider .main__slider-item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: auto;
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 25%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
.slideText__desc {
    position: absolute;
    color: #fff;
    font-size: 25px;
    left: 25.5%;
    top: 85%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.slider-dots {
    position: absolute;
    top: -50px;
    left: 50%;
}
.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.main__slider .main__slider-item {
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s; */
    /* animation-name: fade; */
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.offers__other {
    display: block;
}

.title__other {
    width: 100%;
}

.type__desc {
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    background: #e8e8e8;

    padding: 0 97px 68px 60px;
}

.type__desc-title {
    padding-top: 65px;

    font-size: 25px;
    font-weight: 900;
}
/* HEADER */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: #fff;
    max-height: 100px;
}
.header__menu {
    padding-left: 65px;
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}
.header__burger {
    display: none;
}
.navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 23px;
}
.logo {
    z-index: 3;
}
.logo img {
    display: block;
    max-width: 100%;
}
.conteiner {
    margin: 0 auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header__list {
    font-family: "Montserrat";
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    z-index: 3;
}
.phone__call {
    display: none;
    z-index: 3;
    width: 20px;
    height: 20px;
}
.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: "";
    background: #ff5400;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.borderXwidth a:after {
    left: 0px;
    bottom: 0px;
}
.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}
.header__list > li {
    padding-right: 30px;
}
.header__list > li > a {
    position: relative;
    color: #111;
    text-decoration: none;
    letter-spacing: -0.01em;
    font-size: 17px;
    padding: 5px 0 5px 0;
}

/* MAIN OFFER*/
.main__offer {
    background: url(../image/main_page/main_bg.png) no-repeat center/cover;
    height: 900px;
    margin-top: 93px;
}
.main__offer__content {
    padding-top: 180px;
}
.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: #fff;
    width: 701px;
}
.title__desc {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    line-height: 30px;
    width: 647px;
    color: #fff;
}
.btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 335px;
    background-color: #ff5400;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    padding: 25px 0;
    border-radius: 25px;
    font-weight: 800;
    text-decoration: none;
    box-sizing: border-box;
}
.btn__border:hover {
    color: #ff5400;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/* OFFERS */
.offers {
    padding-top: 130px;
}
.offers_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 95px;
}
.offres_1__desc {
    padding-left: 46px;
}
.title__offers {
    color: #111;
    font-weight: 800;
    width: 629px;
}
.title__desc__offers {
    color: #111;
    width: 520px;
}
.btn__offers {
    width: 336px;
    background-color: #fff;
    color: #5badad;
    border: 4px solid #5badad;
    padding: 20px 0;
    margin-bottom: 26px;
}
.btn__offers:hover {
    background: #5badad;
    color: #fff;
}
.btn__offers__second {
    border: 4px solid #ff5400;
    color: #ff5400;
}
.btn__offers__second:hover {
    background: #ff5400;
    color: #fff;
}
.btn__offers a {
    color: #5badad;
}
.btn__offers__second a {
    color: #ff5400;
}
.line {
    padding-top: 25px;
}
/* SERVICES */
.services {
    background: url(../image/main_page/our_services_bg.png) no-repeat center/cover;
    padding-top: 130px;
    padding-bottom: 130px;
}
.title__services {
    text-align: center;
    width: 100%;
    padding-bottom: 90px;
}
.services__offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
.services__offers__item__desc__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.services__offers__item__desc {
    font-size: 35px;
    line-height: 40px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    padding-top: 45px;
}
/* WORK */
.work {
    padding-top: 50px;
}
.title__work {
    color: #111;
    text-align: center;
    width: 100%;
}
.work__line {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.work__items {
    position: relative;
    padding-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 536px 68px 536px;
    grid-template-columns: 536px 536px;
    -ms-grid-rows: 536px 70px 536px 70px 536px;
    grid-template-rows: 536px 536px 536px;
    gap: 70px 68px;
    padding-bottom: 130px;
}
.work__items > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.work__items > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.work__items > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.work__items > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.work__items > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.work__items > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}
.work__item__title {
    z-index: 50;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}
figure.imghvr-flip-horiz p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: color 0.35s, -webkit-transform 0.35s;
    transition: color 0.35s, -webkit-transform 0.35s;
    -o-transition: transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
/* TESTEMONIALS */
.testimonials {
    background: url(../image/main_page/our_services_bg.png) no-repeat center/cover;
    padding-top: 130px;
    padding-bottom: 130px;
}
.title__testimonials {
    width: 100%;
    text-align: center;
    padding-bottom: 90px;
}
.slider {
    position: relative;
    margin: 0 auto;
}
.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slider .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 10;
    font-size: 0px;
    width: 78px;
    height: 78px;
    border: 0px;
}
.slider .slick-arrow.slick-prev {
    left: -130px;
    background: url(../image/main_page/slider_Left_arrow.png) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: -130px;
    background: url(../image/main_page/slider_Right_arrow.png) 0 0 / 100% no-repeat;
}
.wrapper__slider {
    width: 1140px;
    background: #fff;
    padding-left: 50px;
    padding-top: 65px;
    padding-right: 80px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slider__content {
    padding-left: 50px;
}
.title__slider {
    color: #111;
    font-size: 24px;
    font-weight: 800;
}
.slider__coment {
    color: #7a7a7a;
    font-size: 23px;
    line-height: 25px;
    padding-top: 38px;
}
.slider__content__name {
    font-size: 34px;
    font-weight: 800;
    line-height: 26px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.slider__content__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* CONTACT FORM */
.contact__form {
    background: url(../image/main_page/contact_us_bg.png) no-repeat center top / cover;
    height: 1000px;
    padding-top: 50px;
}
.form__decor {
    width: 555px;
    background: #fff;
    padding: 60px 70px 60px 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
}
.title__form {
    color: #111;
    text-align: center;
    width: 100%;
}
input {
    background: #dddddd;
    border-radius: 25px;
    border: 0px;
    width: 438px;
    height: 63px;
    margin-bottom: 30px;
    padding: 30px 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 22px;
}
textarea {
    background: #dddddd;
    border-radius: 25px;
    border: 0px;
    width: 438px;
    height: 110px;
    resize: none;
    margin-bottom: 60px;
    padding: 25px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 22px;
}
.btn__form {
    height: 73px;
    margin: 0 auto;
    padding: 21px 0;
    font-weight: 800;
    cursor: pointer;
}
/* FOOTER */
.footer {
    background-color: #5badad;
    padding-bottom: 60px;
}
.footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 135px;
}
.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 100px;
}
.footer__navigation {
    padding-right: 160px;
}
.nav {
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
}
.footer__title {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    padding-bottom: 20px;
}
.footer__link {
    text-decoration: none;
    font-size: 27px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 20px;
}
.footer__link:hover {
    color: #ff5400;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.footer__img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.footer__link {
    padding-bottom: 20px;
}
.footer__title__social {
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.copyright {
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: 500;
}
.animated {
    opacity: 0;
}

/* Bathroom page */
.bathroom__offers {
    width: 670px;
}
.bold {
    font-weight: bold;
}
.bathroom__desc {
    width: 100%;
}
.bathroom__text {
    font-size: 25px;
    margin-top: 0px;
}
.bathroom__respect {
    font-size: 25px;
}
.bathroom__line {
    padding-bottom: 25px;
}
.bathroom__img {
    padding-top: 80px;
    padding-bottom: 80px;
}
.bathroom__collage {
    padding-top: 80px;
    padding-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
.bathroom__spec {
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
/* GALLERY PAGE */
.gallery__content {
    padding-top: 30px;
    padding-bottom: 130px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 360px 30px 360px 30px 360px;
    grid-template-columns: 360px 360px 360px;
    -ms-grid-rows: 360px 30px 360px 30px 360px 30px 360px 30px 360px 30px 360px 30px 360px 30px 360px 30px 360px 30px 360px 30px 360px 30px 360px 30px 360px;
    grid-template-rows: 360px 360px 360px 360px 360px 360px 360px 360px 360px 360px 360px 360px 360px;
    gap: 30px 30px;
}
.gallery__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(12) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(13) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(14) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(15) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(16) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(17) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(18) {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(19) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(20) {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(21) {
    -ms-grid-row: 13;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(22) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(23) {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(24) {
    -ms-grid-row: 15;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(25) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(26) {
    -ms-grid-row: 17;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(27) {
    -ms-grid-row: 17;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(28) {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(29) {
    -ms-grid-row: 19;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(30) {
    -ms-grid-row: 19;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(31) {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(32) {
    -ms-grid-row: 21;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(33) {
    -ms-grid-row: 21;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(34) {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(35) {
    -ms-grid-row: 23;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(36) {
    -ms-grid-row: 23;
    -ms-grid-column: 5;
}
.gallery__content > *:nth-child(37) {
    -ms-grid-row: 25;
    -ms-grid-column: 1;
}
.gallery__content > *:nth-child(38) {
    -ms-grid-row: 25;
    -ms-grid-column: 3;
}
.gallery__content > *:nth-child(39) {
    -ms-grid-row: 25;
    -ms-grid-column: 5;
}
/* Building Services */
.building__services__content {
    padding-top: 30px;
    padding-bottom: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 263px 30px 263px 30px 263px 30px 263px;
    grid-template-columns: 263px 263px 263px 263px;
    -ms-grid-rows: 320px 50px 320px 50px 320px 50px 320px 50px 320px;
    grid-template-rows: 320px 320px 320px 320px 320px;
    gap: 50px 30px;
}
.building__services__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.building__services__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.building__services__content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.building__services__content > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}
.building__services__content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.building__services__content > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.building__services__content > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}
.building__services__content > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}
.building__services__content > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.building__services__content > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}
.building__services__content > *:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}
.building__services__content > *:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}
.building__services__content > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}
.building__services__content > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}
.building__services__content > *:nth-child(15) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}
.building__services__content > *:nth-child(16) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
}
.building__services__content > *:nth-child(17) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}
.building__services__content > *:nth-child(18) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}
.building__services__content > *:nth-child(19) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
}
.building__services__content > *:nth-child(20) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
}
.building__services__content__card {
    width: 263px;
    height: 340px;
}
.self__buildimg__services {
    padding: 0;
}
.building__services__content__card__desc {
    text-align: center;
}
.building__line {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* GARDENROOM PAGE*/
.gardenroom__offers_1 {
    margin-bottom: 0px;
}
.gardenroom__level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
.btn__gardenroom {
    display: block;
    margin: 0 auto;
}
/* HOME IMPROVEMENT */
.home__improvement__ul {
    padding-top: 0px;
}
.home__improvement__text {
    width: 100%;
}
/* BLOG PAGE*/
.blog__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.blog__date__desc {
    color: #545454;
    padding-right: 40px;
}
.blog__like {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}
.blog__desc {
    padding-top: 15px;
    padding-bottom: 20px;
}
/* CONTACT */
.contact {
    padding-top: 150px;
    padding-bottom: 90px;
    height: 1200px;
}
.contact__display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contact__offer {
    width: 472px;
    padding-left: 75px;
}
.contact__page {
    float: inherit;

    -webkit-box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.6);
}
.contact__icon__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 30px;
}
.contact__numbers {
    padding-left: 20px;
}
.contact__map {
    padding-top: 100px;
}
/* KITCHEN */
/* NEW BUILD PAGE */
/* stretch page*/
.title__stretch {
    width: 100%;
    text-align: center;
}

/* MEDIA */
@media screen and (max-width: 1200px) {
    .conteiner {
        width: 960px;
    }
    .header__list {
        padding-top: 0px;
    }
    .header__list > li > a {
        font-size: 12px;
    }
    .title__offers {
        width: 100%;
    }
    .title__desc__offers {
        width: 100%;
    }
    .title__desc {
        font-size: 21px;
    }
    .title {
        font-size: 35px;
    }
    .work__items {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .work__items > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .work__items > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .work__items > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .work__items > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .work__items > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .work__items > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .footer__conteiner {
        display: block;
        padding-top: 75px;
    }
    .footer__img {
        margin: 0 auto;
        display: block;
        padding-bottom: 40px;
    }
    .gallery__content {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .contact__display {
        display: block;
    }
    .form__decor {
        margin: 0 auto;
    }
    .contact__offer {
        padding-top: 20px;
        margin: 0 auto;
    }
    .contact {
        height: 1750px;
    }
    .bathroom__img {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
    .bathroom__collage {
        width: 100%;
        display: block;
        text-align: center;
    }
    .building__services__content {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .building__services__content > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .building__services__content > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .building__services__content > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .building__services__content > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .building__services__content > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .building__services__content > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .building__services__content > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .building__services__content > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .building__services__content > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .building__services__content__card {
        -ms-grid-column-align: center;
        justify-self: center;
    }
    .gallery__content {
        text-align: center;
    }
    .offers_1 .bathroom__text {
        text-align: initial;
    }
    button .slick-next .slick-arrow {
        display: none;
    }
    button .slick-prev .slick-arrow {
        display: none;
    }
    .slider__content {
        padding: 0px;
        text-align: center;
    }
}
@media screen and (max-width: 992px) {
    .conteiner {
        width: 720px;
    }
    .navigation {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .title__desc {
        text-align: center;
        width: 100%;
    }
    .header__menu {
        padding-left: 10px;
    }
    .header__list > li {
        padding-right: 5px;
    }
    .header__list > li > a {
        font-size: 11px;
    }
    .offers_1 {
        display: block;
        text-align: center;
    }
    .title__offers {
        width: 100%;
    }
    .title__desc__offers {
        width: 100%;
    }
    .offres_1__desc {
        padding-left: 0px;
        padding-top: 20px;
    }
    .btn {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .services__offers {
        display: block;
    }
    .services__offers__item {
        padding-bottom: 20px;
    }
    .work__item__title {
        font-size: 40px;
    }
    .testimonials {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .wrapper__slider {
        display: block;
        padding: 20px;
    }
    .slider__image {
        display: block;
        text-align: center;
    }
    .form__decor {
        display: block;
        margin: 0 auto;
        float: none;
    }
    .footer__content {
        padding-left: 0px;
    }
    .contact__offer {
        width: 100%;
        padding-left: 0px;
    }
    .bathroom__offers {
        width: 100%;
    }
    .bathroom__collage {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
    .blog__date {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .building__services__content {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .gardenroom__level {
        display: block;
        text-align: center;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 768px) {
    .conteiner {
        width: 540px;
    }
    .header {
        height: 100px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #111111;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: "";
        background-color: #111;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #5badad;
        padding-top: 100px;
        overflow: auto;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
        padding: 0;
        position: relative;
        z-index: 2;
    }
    .navigation {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .wrapper .header__img_links {
        display: none;
    }
    .borderXwidth a:before,
    .borderXwidth a:after {
        display: none;
    }
    .header__list > li {
        padding-left: 0px;
        padding-top: 20px;
    }
    .header__list > li > a {
        font-size: 30px;
    }
    .header__burger.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    .header__burger.active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .title {
        font-size: 28px;
        width: 100%;
        text-align: center;
    }
    .title__desc {
        width: 100%;
        font-size: 21px;
    }
    .work__item__title {
        font-size: 32px;
    }
    .offers {
        padding-top: 50px;
    }
    .title__desc {
        width: 100%;
        font-size: 21px;
    }
    .slider__coment {
        color: #7a7a7a;
        font-size: 15px;
        line-height: 25px;
        padding-top: 10px;
    }
    .form__decor {
        width: 524px;
    }
    .footer__navigation {
        padding-right: 0px;
    }
    .footer__content {
        display: block;
        text-align: center;
    }
    .gallery__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .self {
        width: 100%;
    }
    .type__desc {
        border: 1px solid #e8e8e8;
        border-radius: 100px;
        background: #e8e8e8;
        padding: 0 25px 59px 25px;
    }
    .slideText {
        font-size: 20px;
    }
    .slideText__desc {
        font-size: 15px;
        left: 26.5%;
    }
}
@media screen and (max-width: 576px) {
    .building__services__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .building__services__content > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .building__services__content > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .building__services__content > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    button .slider .slick-arrow .slick-prev {
        display: none;
    }
    button .slider .slick-arrow .slick-next {
        display: none;
    }
    .conteiner {
        width: 100%;
    }
    .form__decor {
        width: 100%;
    }
    input {
        width: 100%;
        font-size: 15px;
    }
    textarea {
        width: 100%;
        font-size: 15px;
    }
    .btn {
        width: 100%;
        font-size: 24px;
    }
    .offers_1 > img {
        width: 100%;
    }
    .work__items {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .work__items > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .work__items > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .work__items > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .slider__content__bottom {
        display: block;
    }
    .footer__link {
        font-size: 20px;
    }
    .header__list > li {
        padding-right: 0px;
    }
    .header__list > li > a {
        font-size: 20px;
    }
    .header__list > li {
        padding-left: 0px;
        padding-top: 20px;
        width: 100%;
    }
    .contact__icon__tel {
        text-align: initial;
    }
    .bathroom__spec {
        display: block;
        text-align: center;
    }
    ul.bathroom__text {
        list-style: none;
        padding-left: 0px;
    }
    .slider .slick-arrow.slick-prev {
        display: none;
    }
    .slider .slick-arrow.slick-next {
        display: none;
    }
    .slideText {
        font-size: 15px;
    }
    .slideText__desc {
        font-size: 12px;
        left: 28.5%;
    }
    .slider-dots {
        display: none;
    }
    .phone__call {
        display: block;
    }
    .phone__call__img {
        width: 125%;
    }
}

@media screen and (max-width: 320px) {
    .slider .slick-arrow.slick-prev {
        display: none;
    }
    .slider .slick-arrow.slick-next {
        display: none;
    }
}