.slider-list {
	max-width:600px;
}

.slider-list .flex-control-paging li a {
	width: auto;
	text-indent: 0;
	background: #fff;
	box-shadow: none;
	border: 1px solid #e1e1e1;
	padding: 0px 5px;
	height: auto;
	border-radius: 4px;
	text-decoration: none;
	line-height: 26px;
	color: #1E7BE5;
	
}
.slider-list .flex-control-paging li a:hover {
	background-color: #fff5ed;
}
.slider-list .flex-control-paging li a.flex-active {
	background-color: #ff8827;
	cursor: default;
	color: #FFF;
}