/* @font-face {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Heavy', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy'),
    url('../fonts/Gilroy-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
} */
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-LightItalic.woff') format('woff'),
        url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
        url('../fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ThinItalic.woff') format('woff'),
        url('../fonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
        url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
        url('../fonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
        url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BoldItalic.woff') format('woff'),
        url('../fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
        url('../fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLightItalic.woff') format('woff'),
        url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
        url('../fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
        url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
        url('../fonts/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url('../fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-HeavyItalic.woff') format('woff'),
        url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
        url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Thin.woff') format('woff'),
        url('../fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%
}

a {
    text-decoration: none
}

* {
    outline: 0;
    box-sizing: border-box
}

body {
    /* height: 1000vh; */
    font-family: 'Gilroy', sans-serif;
}

.wrap {
    max-width: 1520px;
    margin: 0 auto;
}

.fa-angle-double-down {
    position: fixed;
    bottom: 20%;
    left: 50%;
    font-size: 5rem;
    transform: translateX(-50%);
    -webkit-animation-name: bounce;
            animation-name: bounce;
}

.header {
    padding-top: 45px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
}

.header.out {
    transform: translateY(-100%);
}

.header a {
    color: white;
}

.header-drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    font-family: 'Montserrat',
    sans-serif;
    display: flex;
    position: relative;
    z-index: 3;

}

.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

.mobile-logo, .remove-logo {
    display: none;
}

.add-logo {
    display: block;
}
/* .borderXwidth a:before {
    left: 0px;
    top: 0px;
} */

.borderXwidth a:after {
    left: 0px;
    bottom: 0px;
}

/* .borderXwidth a:hover:before{ */
.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}
.header__list>li {
    padding-left: 55px;
}

.header__list>li>a {
    position: relative;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.header-change {
    z-index: 99999;
    background: #fff;
    padding: 15px 0;
    box-shadow: 1px 5px 5px -4px rgba(17, 17, 17, 0.2);
}

.header-change .header__list>li>a {
    font-family: 'Gilroy', sans-serif;
    color: #111;
}

.header-change .borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #111;
    transition: all 0.3s;
}

.header-change .borderXwidth a:after:hover {
    opacity: 1;
    width: 100%;
}

/*MAIN SCREEN*/

.main-screen {
    padding-top: 277px;
    background: url(../img/main-bg.jpg) center center/cover no-repeat;
    height: 990px;
}

.main-screen__title {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    max-width: 50%;
}

.main-screen__time {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
}

.call-btn {
    margin-top: 75px;
    padding: 20px 40px;
    background: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #0E3175;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    transition: all ease 0.7s;
}

.call-btn:hover {
    transform: scale(1.1);
}

.call-btn__img {
    margin-right: 15px;
}

.main-detail {
    position: absolute;
    width: 380px;
    left: 165px;
    bottom: -120px;
}

/* ADVANTAGES */

.advantages {
    background: url(../img/advantages-bg.png) center center/contain no-repeat;
    padding: 150px 0;
}

.advantages-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #002A48;
    /* margin-top: 150px; */
    margin-bottom: 0;
}

.advantages-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.advantages-content__item {
    margin-top: 65px;
}

.advantages-content__item-desc {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #002A48;
    width: 410px;
    margin: 40px 0 0 0;
}

/* Services */

.services {
    background: url(../img/services-bg.jpg) top center/cover no-repeat;
    padding: 150px 0;
    position: relative;
}

.services-item {
    width: 130px;
    position: absolute;
    right: 50px;
    top: 0;
}

.services .services-title {
    margin-top: 0;
}

.services-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
}

.services-content {
    display: flex;
    justify-content: space-between;
}

.services-content__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-content__item-count {
    font-weight: 900;
    font-size: 72px;
    line-height: 90px;
    color: #C3D1FF;
    margin-right: 40px;
}

.services-content__item-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #EFEFEF;
    max-width: 400px;
}

/* Prices */

.prices {
    padding: 150px 0;
    background: url(../img/price-bg.png) top center/contain no-repeat;
}

.prices .advantages-title {
    margin-bottom: 90px;
    margin-top: 0;
}

.prices__content-img {
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
}

.about .advantages-title {
    margin-top: 150px;
    margin-bottom: 35px;

}

.prices__content {
    position: relative;
}

.prices-item1 {
    width: 230px;
    position: absolute;
    top: 18%;
    right: -10%;
}

.prices-item2 {
    width: 390px;
    position: absolute;
    bottom: -15%;
    left: -10%;
}

.about {
    position: relative;
}

.about__content {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.about__content-right,
.about__content-left {
    display: flex;
}

.big-num {
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 242px;
    color: #033387;
    margin-right: 18px;
}

.about__content-left__content-title,
.about__content-right__content-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 15px;
}

.about__content-left__content-desc,
.about__content-right__content-desc {
    max-width: 430px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #3D3E3F;
}

.btn-hide {
    display: none;
}

/* Partners */

.partners {
    position: relative;
    padding: 75px 0 100px;
    background: #F9F9F9;
}

.partners-item {
    position: absolute;
    width: 150px;
    left: 8%;
    top: 20%;
}

.partners .advantages-title {
    margin-top: 0;
    margin-bottom: 100px;
}

.partners__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 100px 20px;
    align-items: center;
    justify-items: center;
}

/* Contact */

.contact {
    display: flex;
}

.contact__content {
    position: relative;
    background: #001F55;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
    padding: 0px 75px;
}

.contact-item {
    position: absolute;
    width: 180px;
    right: 0;
    top: -10%;
}

.contact__content>.services-title {
    text-align: left;
    margin-bottom: 100px;
}

.contact__content-text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 35px;
}
 
.contact__content-text-icon {
    display: flex;
    align-items: center;
    font-weight: 300;
}

.contact__content-text-icon>a {
    color: #fff;
}

.contact__content-text-icon>img {
    margin-right: 35px;
}

.map {
    max-height: 100%;
}

.mobile-detail {
    display: none;
}   



/* MEDIA QUERY */

@media screen and (max-width: 1520px) {
    .wrap {
        max-width: 1320px;
    }
    .partners-item,
    .prices-item1,
    .prices-item2 {
        display: none;
    }

    .main-detail {
        bottom: -40%;
    }
    .about__content {
        display: block;
        width: 100%;
    }
    .about__content-left__content-desc,
    .about__content-right__content-desc {
        max-width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .wrap {
        max-width: 1140px;
    }
    .main-detail {
        display: none;
    }
    .main-screen {
        height: auto;
    }
    .call-btn {
        margin: 50px 0;
    }
}

@media screen and (max-width: 1200px) {
    .wrap {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .wrap {
        max-width: 720px;
    }
    .header {
        height: 100px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.5s ease 0s;
    }

    .header-change .header__burger span {
        position: absolute;
        background-color: #002A48;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.5s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
    }

    .header-change .header__burger:before,
    .header-change .header__burger:after {
        content: '';
        background-color: #002A48;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding-top: 20%;
        overflow: auto;
        transition: all 0.5s ease;
        overflow: hidden;
        text-align: center;
        z-index: -3;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
        padding: 0;
        position: relative;
        z-index: 2;
    }

    .wrap .header__img_links {
        display: none;
    }

    .borderXwidth a:before,
    .borderXwidth a:after {
        display: none;
    }

    .header__list>li {
        padding-left: 0px;
        padding-top: 35px;
    }

    .lock {
        overflow: hidden;
    }

    .header__list>li>a {
        font-size: 30px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__list>li>a {
        color: #002A48;
    }
    .header__burger.active:before,
    .header__burger.active:after {
        background-color: #002A48;
    }
    .main-screen {
        background: url(../img/mobile-bg.jpg) center center/cover no-repeat;
    }
    .main-screen__title,
    .main-screen__time {
        max-width: 100%;
        text-align: center;
    }
    .main-screen__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mobile-detail {
        display: block;
        width: 450px;
        margin: 0 auto;
    }
    .btn {
        text-align: center;
    }
    .advantages-content__item {
        flex-basis: 50%;
    }
    .advantages-content__item-desc {
        max-width: 410px;
        width: 100%;
    }
    .services-content {
        display: block;
    }
    .prices__content {
        display: none;
    }
    .btn-hide {
        display: block;
    }
    .btn-price {
        color:#fff;
        background:#001F55;
    }
    .btn-price .call-btn__img {
        width: 25px;
    }
    .contact {
        flex-direction: column-reverse;
    }
    .contact__content>.services-title,
    .contact__content {
        text-align: center;
    }
    .map {
        min-height: 250px;
    }
    .about__content-right,
    .about__content-left {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .wrap {
        max-width: 540px;
        padding: 0 20px;
    }
    
    #main-logo {
        width: 150px;
    }
    .main-screen {
        padding-top: 250px;
    }
    .main-screen__title {
        font-size: 48px;
        margin-bottom: 0;
    }
    .main-screen__time {
        margin: 5px 0 0 0;
    }
    .mobile-detail {
        margin-top: 50px;
    }
    .advantages-content__item-img {
        max-width: 200px;
    }
    .advantages-content__item {
        flex-basis: 48%;
    }
    .advantages-content__item-desc {
        max-width: 100%;
        font-size: 22px;
    }
    .partners__content {
        display: block;
        text-align: center;
    }
    .partners__content>img {
        margin-bottom: 50px;
    }
    .partners__content>img:last-child {
        margin-bottom: 0;
    }
    .contact__content-text {
        font-size: 24px;
    }
    .contact__content>.services-title {
        margin-bottom: 25px;
        font-size: 42px;
    }
}

@media screen and (max-width: 576px) {
    .wrap {
        max-width: 100%;
    }
    .advantages-title,
    .main-screen__title,
    .services-title {
        font-size: 32px;
        line-height: 42px;
    }

    .partners .advantages-title,
    .prices .advantages-title {
        margin-bottom: 30px;
    }

    .about .advantages-title {
        margin-top: 50px;
    }
    
    .prices,
    .services,
    .advantages {
        padding: 50px 0;
    }


    .main-screen {
        padding-top: 200px;
    }

    .main-screen__time {
        font-size: 18px;
        line-height: 14px;
    }

    .mobile-detail {
        width: 260px;
    }

    .contact__content {
        padding: 0 20px;
    }

    .contact-item,
    .services-item {
        display: none;
    }

    .advantages-content__item-img {
        max-width: 140px;
    }

    .advantages-content__item-desc {
        font-size: 15px;
        line-height: 18px;
    }
    .services-content__item-desc {
        font-size: 14px;
        line-height: 16px;
        width: 60%;
        max-width: 100%;
    }
    
    .services-content__item-count {
        font-size: 36px;
        line-height: 45px;
    }

    .btn-price {
        margin: 10px 0;
    }
    .big-num {
        font-size: 100px;
        margin-right: 0;
        line-height: 121px;
    }
    .about__content-left__content-title,
    .about__content-right__content-title {
        font-size: 18px;
        line-height: 21px;
    }
    .about__content-left__content-desc,
    .about__content-right__content-desc {
        font-size: 14px;
        line-height: 16px;
    }
    .contact__content-text {
        font-size: 15px;
        line-height: 18px;
    }
    .contact__content-text-icon {
        text-align: left;
    }
    .contact__content-text-icon>img {
        max-width: 20px;
    }
    .advantages-content__item-desc {
        margin-top: 10px;
    }
    .advantages-content__item {
        margin-top: 35px;
    }
}