.form-group.not_active {
    display: none;
}

.sms-reg {
    margin-top: 30px;
}

.sms-reg .form-control,
.sms-reg .form-group label {
    transition: all .45s ease-in-out;
}

.sms-reg .form-control.error {
    border: 1px solid red;
}

.sms-reg .form-group label.error {
    color: red;
}

.form-group .form__allert {
    opacity: 0;
    visibility: hidden;
    transition: all .45s ease-in-out;
}

.form-group .form__allert.show {
    opacity: 1;
    visibility: visible;
}

.form-group .form__allert[data-error="false"] {
    color: green;
}

.form-group .form__allert[data-error="true"] {
    color: red;
}

.form__notif {
    margin: 30px 0;
}


/*---------- Стили формы -----------*/
.modal__form {
    padding: 5px;
    background-color: white;
    max-width: 350px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #000000;
}

.modal__form .modal__header {
    text-align: center;
    margin-bottom: 15px;
}

.modal__header .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal__header .subtitle {
    font-size: 1.3rem;
    line-height: 140%;
    color: #515151;
}

.modal__body .form__item {
    display: flex;
    flex-direction: column;
}

.modal__body .form__item.quantity {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.modal__body .form__item:not(:last-child) {
    margin-bottom: 10px;
}

.modal__body .form__item label {
    font-size: 1.2rem;
    font-weight: normal;
    color: #989898;
    transition: all .45s ease-in-out;
}

.modal__body .form__item input {
    border: 1px solid transparent;
    transition: all .45s ease-in-out;
    background-color: #EAEAEA;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    padding: 10px 15px;
    outline: unset !important;
    text-decoration: unset !important;
    font-size: 1.4rem;
}

.modal__body .form__item input::placeholder {
    transition: all .45s ease-in-out;
    color: #A8A8A8;
}

.modal__body .form__item input:focus {
    border: 1px solid #FF7B2D;
}

.modal__body .form__item input.error {
    border: 1px solid red;
}

.modal__body .form__item label.error {
    color: red;
}


.modal__body .form__item .number__list {
    position: relative;
    width: 110px;
}

.modal__body .submit {
    margin-top: 15px;
    margin-bottom: 10px;
}

.modal__body .submit input {
    width: 100%;
    border: unset;
    outline: unset !important;
    padding: 10px 20px;
    text-align: center;
    background: linear-gradient(180deg, #FCA03E 0%, #FB6C2B 100%);
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    transition: all .45s ease-in-out;
}

.modal__body .submit:hover input {
    box-shadow: 0 3px 15px #f78f38b8;
}

.modal__footer {
    position: relative;
    min-height: 35px;
}

.modal__footer .text {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .45s ease-in-out;
    text-align: center !important;
    font-size: 1.2rem;
    line-height: 140%;
    color: #969696;
}

.modal__footer .text.notshow {
    opacity: 0;
    visibility: hidden;
}

.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 80px;
    height: 35px;
    line-height: 23px;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid red;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #5B5B5B;
    font-weight: 600;
    border: 1px solid #F2F2F2 !important;
    background-color: white !important;
}

.quantity input:focus {
    outline: 0;
}

.quantity-button {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    background-color: white;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: all .45s ease-in-out;
}

.quantity-button:hover {
    background-color: #FF7B2D;
}

.quantity-button rect {
    transition: all .45s ease-in-out;
}

.quantity-button:hover rect {
    fill: white;
}

.quantity-button.quantity-up {
    right: -35px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
}

.quantity-button.quantity-down {
    left: 5px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__form .form__allert {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: all .45s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.modal__form .form__allert.show {
    opacity: 1;
    visibility: visible;
}

.modal__form .form__allert[data-error="true"] {
    color: red;
}

.modal__form .form__allert[data-error="false"] {
    color: green;
}

.cheap__block{
    text-align: center;
    margin-top: 15px;
}
.cheap__block .fancybox {
    transition: all .45s ease-in-out;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;

    color: #2B2724;
    border-bottom: 1px solid #FA6907;
}

.cheap__block .fancybox:hover {
    border-bottom: 1px solid transparent;
}






.city-list__section{
    max-width: 575px;
    font-size: 14px;
    font-family: Roboto;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
}
.city-list__header{
    padding: 30px 20px 15px;
    background-color: white;
}
.city-list__body{
    padding: 20px 20px 30px;
    background-color: #F8F8F8;
}
.city-list__section .title{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 15px;
    color: #333333;
}
.city-list__section .subtitle{
    font-size: 12px;
    color: #6D6D6D;
    margin-bottom: 15px;
}
.city-list__section .city-search__block{
    position: relative;
}
.city-list__section .city-search__block img{
    position: absolute;
    top: 14px;
    right: 13px;
}
.city-list__section .city__search{
    outline: unset !important;
    text-decoration: unset !important;
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 13px 40px 13px 15px;
    margin-bottom: 15px;
}
.city-list__section .city__search::placeholder{
    color: #949494;
}
.city-list__section .popular__list .popular__item{
    text-decoration: unset !important;
    color: #FA6907;
    display: inline-flex;
    margin-bottom: 5px;
}
.city-list__section .popular__list .popular__item:not(:last-child){
    margin-right: 20px;
}
.city-list__section [data-scroll]{
    max-height: 330px;
    overflow-y: auto;
}
.city-list__section .cities__list{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.city-list__section .cities__list .cities__item:not(:last-child){
    margin-right: 10px;
}
.city-list__section .regions__list .regions__item:not(:last-child),
.city-list__section .cities__list .cities__item:not(:last-child){
    margin-bottom: 10px;
}
.city-list__section .regions__item,
.city-list__section .cities__item{
    text-decoration: unset !important;
    outline: unset !important;
    cursor: pointer;
    transition: all .35s ease-in-out;
    color: black;
}
.city-list__section .regions__item:hover,
.city-list__section .cities__item:hover,
.city-list__section .regions__item.active{
    color: #FA6907;
}
.city-list__section .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #FA6907 !important;
}
.city__search-result .result__item{
    text-decoration: unset !important;
    outline: unset !important;
    display: block;
    color: black;
    cursor: pointer;
}
.city__search-result .result__item:not(:last-child){
    margin-bottom: 10px;
}
.city__search-result .result__item span{
    color: #FA6907;
}
[data-ajax="city-search__result"]{
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: all .35s ease-in-out;
    top: 65px;
    left: 0;
    width: 100%;
    position: absolute;
    background-color: #F9F9F9;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
    z-index: 99;
    padding: 20px 15px;
}
[data-ajax="city-search__result"].active{
    opacity: 1;
    visibility: visible;
    top: 50px;
}
[data-ajax="region-cities__result"]{
    opacity: 0.3;
    transition: all .35s ease-in-out;
    pointer-events: none;
}
[data-ajax="region-cities__result"].active{
    opacity: 1;
    pointer-events: all;
}
.fancybox-inner{
    width: max-content !important;
    overflow: unset !important;
}
.button__orange{
    font-size: 15px;
    float: left;
    margin-left: 13px;
    padding: 7.4px 23px;
    color: #f9680f;
    border: 1px solid #f9680f;
    border-radius: 3px;
}

.search-page.theme-blue .search-title b{
    color: #FB770A !important;
}

@media(max-width: 699px){
    [data-ajax="city-search__result"] {
        position: relative;
        top: 0 !important;
        box-shadow: unset;
        background-color: white;
        padding: 0;
        padding-bottom: 20px;
    }
    .fancybox-wrap{
        width: 85% !important;
    }
    .fancybox-inner{
        width: 100% !important;
    }
}
@media(max-width: 375px){
    .fancybox-wrap{
        width: 90% !important;
    }
}
#smart-title-search{
    margin: 0;
    width: 350px;
}
.title-search-result{
    max-height: 350px;
    overflow: auto !important;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15) !important;
}
.bx-searchtitle .bx-input-group .bx-form-control{
    height: unset !important;
    padding: 14px 13px !important;
}
.bx-searchtitle .bx-input-group-btn button{
    height: 50px !important;
    width: 52px !important;
}
@media(min-width: 1499px){
    .header-menu__submenu{
        left: -170px !important;
    }
}

.bx_ordercart .bx_ordercart_order_pay_right,
.bx_ordercart .bx_ordercart_order_pay_right table{
    width: 100% !important;
}
.bx_ordercart .bx_ordercart_order_sum tr td.custom_t1{
    width: 85% !important;
}

.b-pop-cats__block{
    margin: 40px 0;
}
.b-pop-cats__title{
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #141414;
    margin-bottom: 17px;
}
.b-pop-cats__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.b-pop-cats__list a.b-pop-cat__item{
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    padding: 10px 20px;
    background: #EEEEEE;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    transition: all .35s ease-in-out;
}
.b-pop-cats__list a.b-pop-cat__item:hover{
    background-color: #FB7709;
    color: white;
}
.deliveryBlock__delivery-info .data496 .info147{
    left: -175px;
}
.deliveryBlock__delivery-info .data497{
    left: 171px;
}
.bx_item_detail .deliveryBlock__price .bonus_container{
    margin: 5px 0;
}
.descriptionContent__info .descriptionContent__text{
    max-height: 135px;
}
.descriptionContent__more_moreRead:after {
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 72.4%);
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 16px;
    z-index: 5;
    left: 0;
}
.descriptionContent__info.active .descriptionContent__more_moreRead:after {
    display: none;
}
.img458{
    max-width: 65px;
}
.b-catalog-section__big-item{
    z-index: 99;
}
.b-catalog-section__big-item .info147 {
    top: 10px;
    left: -65px;
}
.b-catalog-section__big-item img{
    max-height: unset;
}
.b-catalog-section__big-item .info147 p {
    padding-right: 10px;
}
.b-catalog-detail__big-item {
    left: -110px;
    bottom: 0;
}
.bx_item_detail .item_info_section{
    align-content: flex-start;
}
#basket_items .b-catalog-section__big-item .info147{
    left: 0;
}
#basket_items .b-catalog-section__big-item .data497{
    left: 20px;
}
@media(max-width: 991px) and (min-width: 768px) {
    #basket_items .b-catalog-section__big-item .img458{
        max-width: 35px;
        left: -10px;
        bottom: -10px;
    }
}
@media(max-width: 767px) {
    .b-catalog-detail__big-item {
        left: -140px;
    }
    .b-catalog-detail__big-item .info147{
        left: 0;
    }
    .b-catalog-detail__big-item .data497{
        left: 20px;
    }
}
@media(max-width: 320px) {
    .b-catalog-detail__big-item {
        left: -120px;
    }
}

#bx-soa-total .bx-soa-cart-total.bx-soa-cart-total-fixed{
    top: 70px;
}
.bx-soa-cart__big-item{
    border: 1px solid rgb(232 233 235);
    border-radius: 3px;
    margin-top: 15px;
    padding: 20px;
    font-weight: 700;
}
.bx-soa-cart__big-item.bx-soa-cart-total-fixed {
    position: fixed;
    top: 10px;
}
#bx-soa-order .bx-soa-sidebar{
    height: unset;
}