body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

p {
    margin: 0;
    padding: 0;
}

aside {
    box-sizing: border-box;
    width: 510px;
    padding-left: 150px;
    position: absolute;
    background: #E5E5E5;
    height: 258%;
}

.logo {
    width: 300px;
    height: 100px;
    margin: 50px 0;
}

.left_banner {
    background: rgb(166, 239, 255);
    background: linear-gradient(335deg, rgba(166, 239, 255, 1) 0%, rgba(0, 137, 181, 1) 26%);
    position: absolute;
    left: 150px;
    z-index: 2;
    width: 800px;
    padding: 50px 45px;
    box-sizing: border-box;
    border-radius: 0 0 100px 0;
}

.banner__bottom {
    color: #000;
    position: relative;
    top: 430px;

}

.left_title,
.left_desc {
    color: #fff;
    font-family: 'Montserrat',
        sans-serif;
}

.left_title {
    font-size: 60px;
    font-weight: bold;
}

.left_desc {
    margin-top: 20px;
    font-size: 17px;
}

.about_us {
    position: relative;
    margin: auto 0;
    padding-left: 510px;
}

.title {
    font-size: 40px;
    color: #3EB6D0;
    font-weight: bold;
    line-height: 1.2em;
    margin: 60px 0;
}

.about_us_items {
    display: flex;
}

.about_use_items-img {
    position: absolute;
    left: -200px;
}

::marker {
    font-size: 25px;
    color: #3EB6D0;
}

.about_us_item-title {
    font-size: 24px;
    font-weight: bold;
}


.right_banner {
    background: #3EB6D0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    position: absolute;
    margin-top: 60px;
    width: 1210px;
    height: 159px;
    z-index: 12;
    left: 385px;
    align-items: center;
    padding: 50px 274px 50px 174px;
    box-sizing: border-box;
    line-height: 1.5em;
    border-radius: 0 100px 0 0;
}

.main {
    margin-bottom: 300px;
}

.wrapper {
    /* width: 1413px; */
    padding-left: 50px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

}

.main__slider {
    position: relative;
    height: 690px;
    margin: auto 0;
    padding-left: 510px;
}

.slider-item img {
    width: 100%;
    height: 690px;
    -o-object-fit: cover;
    object-fit: cover;
}



.content {
    display: flex;
    padding-bottom: 41px;
}





.footer {
    background: #727271;
    position: relative;

}

.footer__copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}

.hide {
    display: none;
}


@media screen and (max-width: 1500px) {
    aside {
        display: none;
    }

    .main__slider,
    .about_us {
        padding-left: 0;
    }

    .hide {
        display: block;
    }

    .phone__logo {
        text-align: center;
        display: block;
        padding: 50px 0;
    }

    .logo {
        margin: 0 auto;
    }

    .right_banner {
        left: 0;
        width: 100%;
        border-radius: 50px 50px 0 0;
        text-align: center;
        position: relative;
        padding: 50px;
    }

    .main {
        margin-bottom: 0;
    }

    .left_banner {
        position: relative;
        width: 100%;
        left: 0;
        border-radius: 0;
    }

    .left_desc {
        font-size: 22px;
    }

    .about_us_item-title {
        font-size: 30px;
    }

    li {
        font-size: 24px;
        line-height: 1.5em;
    }

    .about_use_items-img {
        position: relative;
        left: 0;
        margin-bottom: 60px;
        width: 300px;
    }

    .wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }

    .about_us_items {
        flex-direction: column;
        align-items: center;
    }

    .none {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }
}


@media screen and (max-width: 992px) {
    aside {
        display: none;
    }

    .main__slider,
    .about_us {
        padding-left: 0;
    }

    .main__slider,
    .slider-item img {
        height: 260px;
    }

    .left_title {
        font-size: 52px;
    }

    .title {
        font-size: 28px;
    }

}

@media screen and (max-width: 576px) {
    .right_banner {
        font-size: 18px;
        padding: 20px;
    }

    .left_banner {
        padding: 20px 25px;
    }

    .left_title {
        font-size: 35px;
    }
}