body {
    max-width: 800px;
    margin: 0 auto;
  }
div {
  display: block;
} 
.files{
    margin: 20px 20px;
    background: #fff;
    padding: 20px 30px 20px;
    border: 1px #111  solid;
  }
 .t1 {
    color: #000;
    font-size: 1.6em;
    margin-bottom: 24px;
 }
 .filefield-file {
  float: left;
  clear: left;
 }