/* catalog.viewed.products */
.bx_item_list_you_looked_horizontal {
    position: fixed;
    bottom: -5px;
    left: 2%;
    width: 96%;
    /* border-top: 3px solid #fd923a;
    border-left: 3px solid #fd923a;
    border-right: 3px solid #fd923a; */
    border: 3px solid #fd923a;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    -webkit-box-shadow: 0px -1px 16px #898989;
            box-shadow: 0px -1px 16px #898989;
    padding: 15px 30px 20px;
    z-index: 500;
    -webkit-transition:all 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition:all 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition:all 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.bx_item_list_you_looked_horizontal.ease_in_out_back {
    -webkit-transition:all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition:all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bx_item_list_you_looked_horizontal .bx_viewed_item{
    position:relative;
    float:left;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background:#fff;
    -webkit-transition:none;
    -o-transition:none;
    transition:none;
    margin-top: 10px;
}

.popup-window-buttons .bx_item_list_you_looked_horizontal {
    border: none !important;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item{
    border-radius:5px;
    border: 1px solid #bbb;
    background:#fff;
    width: 192px !important; 
    position: relative;
    padding: 10px 20px 75px;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item:hover {
    border: 1px solid #fd923a;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item .bx_viewed_item_container {
    min-height: 325px;
}

@keyframes borderview {from {border:1px solid #fdfdfd;-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0);} to {border:1px solid #d3d3d3;-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.18);box-shadow:0 2px 5px 0 rgba(0,0,0,.18);}}
@-webkit-keyframes borderview {from {border:1px solid #fdfdfd;-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0);} to {border:1px solid #d3d3d3;-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.18);box-shadow:0 2px 5px 0 rgba(0,0,0,.18);}}

.bx_item_list_you_looked_horizontal .bx_viewed_item_articul{
    color:#a5a5a5;
    font-size:13px;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_title{
    font-size: 13px;
    line-height: 1.2;
    overflow: hidden;
    height: 49px;
    position: relative;
    text-align: center;
    padding-bottom: 5px;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item:hover .bx_viewed_item_title{
    overflow:visible;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_title a{
    text-decoration:none;
    font-size:13px;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item:hover .bx_viewed_item_title a{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;
    display: block;
}

.bx_item_list_you_looked_horizontal .bx_viewed_item_price .bx_price{
    color: #333;
    font-size: 21px;
    padding-bottom: 5px;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_price .red_price {
    color: #d41d24;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_price span.little_price_text{
    font-size: 14px;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_price b {
    font-size: 12px;
    white-space: nowrap;
    text-decoration: line-through;
    color: #333;
    padding-left: 41px;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_controls{
    padding-top:10px;
    text-align:center;
}

.bx_item_list_you_looked_horizontal .bx_viewed_item_controls .bx_viewed_item_controls_blockone{
    width:100%;
    white-space:nowrap;
    text-align:center;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_controls .bx_viewed_item_controls_blockone span{
    color:#3f3f3f;
    font-size:13px;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_controls .bx_viewed_item_controls_blockone .bx_notavailable{
    text-align:left;
    font-size:12px;
    line-height:30px;
    font-weight:bold;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_controls .bx_viewed_item_controls_blocktwo{
    width:100%;
    text-align:center;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_controls .bx_viewed_item_controls_blocktwo a,
.bx_item_list_you_looked_horizontal .bx_viewed_item a.btn_preorder {
    margin:1%;
    width: 100%;
    line-height: 28px;
    height: 30px;
    font-size: 18px;
}

@media (max-width:640px) {
    .bx-touch .bx_item_list_you_looked_horizontal .bx_viewed_item_controls .bx_viewed_item_controls_blockone{display:none;}
    .bx-touch .bx_item_list_you_looked_horizontal .bx_viewed_item_controls .bx_viewed_item_controls_blocktwo{float:none;width:100%;text-align:center;}
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_controls input[type=text]{border:none;}
.bx-touch .bx_item_list_you_looked_horizontal .bx_viewed_item_controls,
.bx_item_list_you_looked_horizontal .bx_viewed_item:hover .bx_viewed_item_controls{opacity:1}
.bx_item_list_you_looked_horizontal .bx_cnt_desc{
    text-align:left;
    position:absolute;
    right:-45px;
    top:2px;
    width:40px;
}
@media (min-width:641px) and (max-width:960px){

}
.bx_item_list_you_looked_horizontal .bx_viewed_item_controls a{margin-bottom:10px;}
.bx_item_list_you_looked_horizontal .bx_viewed_item_images_double,
.bx_item_list_you_looked_horizontal .bx_viewed_item_images{
    position:relative;
    z-index:3;
    display:block;
    padding-top:105%;
    width:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}
.bx_item_list_you_looked_horizontal .bx_viewed_item_images_double{
    z-index:900;
    margin-top:-135%;
    opacity:0;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item.double:hover .bx_viewed_item_images{
    opacity:0;
    -webkit-animation:rotateimgfirst 0.5s;
    animation:rotateimgfirst 0.5s;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item.double:hover .bx_viewed_item_images_double{
    opacity:1;
    -webkit-animation:rotateimglast 0.5s;
    animation:rotateimglast 0.5s;
}
@keyframes rotateimgfirst {from {opacity:1;} to {opacity:0;}}
@-webkit-keyframes rotateimgfirst {from {opacity:1;} to {opacity:0;}}
@keyframes rotateimglast  {from {opacity:0;} to {opacity:1;}}
@-webkit-keyframes rotateimglast  {from {opacity:0;} to {opacity:1;}}

.bx_item_list_you_looked_horizontal .bx_viewed_item       .bx_viewed_item_articul,
.bx_item_list_you_looked_horizontal .bx_viewed_item       .bx_viewed_item_scu{display:none}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item:hover .bx_viewed_item_controls,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item:hover .bx_viewed_item_articul,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item:hover .bx_viewed_item_scu{display:block}
.bx_item_list_you_looked_horizontal .bx_viewed_item       .bx_viewed_item_scu{padding-top:10px}
.bx_item_list_you_looked_horizontal .bx_viewed_item:hover .bx_viewed_item_scu>div{margin:0 auto}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item .bx_viewed_item_controls.touch,
.bx-touch    .bx_item_list_you_looked_horizontal .bx_viewed_item .bx_viewed_item_controls.no_touch{display:none !important;}

/* Stickers */
.bx_item_list_you_looked_horizontal .bx_stick{
    position:absolute;
    width:123px;
    height:35px;
    background:url(images/stick.png) left center no-repeat;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 0 #ba3434;
    line-height:35px;
    white-space:nowrap;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
       text-overflow:ellipsis;
}
.bx_item_list_you_looked_horizontal .bx_stick.short {font-weight: bold;font-size:18px}
.bx_item_list_you_looked_horizontal .bx_stick.average {font-weight: bold;font-size:13px}
.bx_item_list_you_looked_horizontal .bx_stick.long{font-weight:normal;font-size:11px}
.bx_item_list_you_looked_horizontal .bx_stick_disc{
    position:absolute;
    width:72px;
    height:74px;
    background:url(images/stick_disc.png) no-repeat center;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 0 #ba3434;
    font-weight:bold;
    font-size:23px;
    line-height:74px;
}
.bx_item_list_you_looked_horizontal .bx_stick.left,
.bx_item_list_you_looked_horizontal .bx_stick_disc.left{left:-2px;}
.bx_item_list_you_looked_horizontal .bx_stick.right,
.bx_item_list_you_looked_horizontal .bx_stick_disc.right{right:0;}
.bx_item_list_you_looked_horizontal .bx_stick.top,
.bx_item_list_you_looked_horizontal .bx_stick_disc.top{top:15px;}
.bx_item_list_you_looked_horizontal .bx_stick.bottom,
.bx_item_list_you_looked_horizontal .bx_stick_disc.bottom{bottom:5px;}
.bx_item_list_you_looked_horizontal .bx_stick.middle,
.bx_item_list_you_looked_horizontal .bx_stick_disc.middle{top:49%;}


/* buttons */
.bx_item_list_you_looked_horizontal .bx_bt_button,
.bx_item_list_you_looked_horizontal .bx_bt_button_type_2{
    display:inline-block;
    border-radius:3px;
    text-align:center;
    text-decoration:none;
    font-size:14px;
    cursor:pointer;
    white-space:nowrap;
}

.bx_item_list_you_looked_horizontal .bx_bt_button_type_2                {
    border:1px solid #e9e9e9;
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#fcfcfc),to(#f1f1f1));
    background-image:-webkit-linear-gradient(#fcfcfc 0%,#f1f1f1 100%);
    background-image:     -o-linear-gradient(#fcfcfc 0%,#f1f1f1 100%);
    background-image:        -webkit-gradient(linear,left top, left bottom,from(#fcfcfc),to(#f1f1f1));
    background-image:        linear-gradient(#fcfcfc 0%,#f1f1f1 100%);
    color:#656565;
    text-shadow:0 1px 0 #fff;
}
.bx_item_list_you_looked_horizontal .bx_bt_button_type_2:hover{background:#fff;}
.bx_item_list_you_looked_horizontal .bx_bt_button_type_2:active     {
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#f1f1f1),to(#fcfcfc));
    background-image:-webkit-linear-gradient(#f1f1f1 0%,#fcfcfc 100%);
    background-image:     -o-linear-gradient(#f1f1f1 0%,#fcfcfc 100%);
    background-image:        -webkit-gradient(linear,left top, left bottom,from(#f1f1f1),to(#fcfcfc));
    background-image:        linear-gradient(#f1f1f1 0%,#fcfcfc 100%);
    -webkit-box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.05);
            box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.05);
}
.bx_item_list_you_looked_horizontal .bx_bt_button               {
    border-radius: 5px;
    background-color: #fc770a;
    color: #fff;
    text-align: center;
}

.bx_item_list_you_looked_horizontal .bx_bt_button:hover {
    background-color: #fd923a;
}
.bx_item_list_you_looked_horizontal .bx_bt_button:active {
    background-color: #ff6800;
}

.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button{
    display:inline-block;
    min-width:20px;
    line-height:20px;
}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2{
    display:inline-block;
    min-width:18px;
    line-height:18px;
}

.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2       {}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2:hover     {}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2:active    {}


.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button {
    padding:0 13px;
    height:25px;
    line-height:25px;
}
.popup-window-buttons {padding: 10px 0;}
.popup-window-buttons .bx_medium.bx_bt_button {margin: 5px !important;}
.popup-window-buttons .popup_message_btn .bx_medium.bx_bt_button {
    padding:0 25px;
    height:35px;
    line-height:35px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #d41d24;
    color: #fff;
    display: inline-block;
    cursor: pointer;
} 
.popup-window-buttons .popup_message_btn .bx_medium.bx_bt_button:hover{
    background-color: #e34045;
}
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2      {
    padding:0 13px;
    height:23px;
    font-weight:bold;
    line-height:23px;
}

.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button,
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2      {}
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2:hover  {}
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2:active {}

.bx_item_list_you_looked_horizontal .bx_col_input{
    display:inline-block;
    width:40px;
    text-align:center;
}

/* scu_detail_size */
.bx_item_list_you_looked_horizontal .bx_item_detail_size{
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%;
}

/*----*/

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_item_section_name_gray{
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
}

/*----*/

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size_scroller_container{position: relative}

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size{
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}
.bx-touch    .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size{overflow-x: auto;}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}
.bx-touch   .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size ul{margin-left: 0 !important;}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li{
    position: relative;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 25px;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li .cnt{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 2px;
    left:2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;

    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
}
.bx-touch   .bx_item_list_you_looked_horizontal .bx_item_detail_size ul li .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border.png) 2 stretch;
    -o-border-image: url(images/x2border.png) 2 stretch;
    border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover .cnt{border: 1px solid #006cc0}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:active .cnt,
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li.bx_active .cnt{
    border: 2px solid #006cc0;
}
.bx-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size ul li.bx_active .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border_active.png) 2 stretch;
    -o-border-image: url(images/x2border_active.png) 2 stretch;
    border-image: url(images/x2border_active.png) 2 fill stretch;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size ul li.bx_missing>i{
    cursor: not-allowed;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
    bottom: 2px;
    left:2px;
    z-index:11;
    background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}
/*----*/

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_slide_left,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_slide_right       {opacity:0.8}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_slide_left:hover,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_slide_right:hover {opacity:1.0}

.bx_item_list_you_looked_horizontal .bx_item_detail_size.full .bx_slide_left,
.bx_item_list_you_looked_horizontal .bx_item_detail_size.full .bx_slide_right{
    position: absolute;
    top: 0;
    bottom:4px;
    width :5%;
    max-width:11px;
    cursor: pointer;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat left  center;background-size: 100% auto}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat right center;background-size: 100% auto}
.bx-touch    .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y left  center;background-size: 100% auto}
.bx-touch    .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y right center;background-size: 100% auto}

/* scu_detail_scu */
.bx_item_list_you_looked_horizontal .bx_item_detail_scu{
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%
}

/*----*/

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_item_section_name_gray{
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
}

/*----*/

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu_scroller_container{position: relative}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu{
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.bx-touch    .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu{overflow-x: auto}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap
}
.bx-touch   .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul{margin-left: 0 !important}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li{
    position: relative;
    display: block;
    float: left;
    height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li .cnt{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 4px;
    left:2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;
    z-index:10;
}
.bx-touch   .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border.png) 2 stretch;
    -o-border-image: url(images/x2border.png) 2 stretch;
    border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li:hover .cnt{border: 1px solid #006cc0}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li:active .cnt,
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
    padding: 3px;
    border: 2px solid #006cc0;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li.bx_missing>i{
    cursor: not-allowed;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
    bottom: 4px;
    left: 2px;
    z-index:11;
    background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}

.bx-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border_active.png) 2 stretch;
    -o-border-image: url(images/x2border_active.png) 2 stretch;
    border-image: url(images/x2border_active.png) 2 fill stretch;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item{
    position: absolute;
    top:   6%;
    right: 6%;
    bottom:6%;
    left:  6%;
    background-size:contain;
    background-repeat: no-repeat;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item img{
    width: auto;
    height: 25px;
}

/*----*/

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_left,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_right      {opacity:0.8}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_left:hover,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_right:hover{opacity:1.0}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu.full .bx_slide_left,
.bx_item_list_you_looked_horizontal .bx_item_detail_scu.full .bx_slide_right{
    position: absolute;
    top: 0;
    bottom:4px;
    width :5%;
    max-width:11px;
    cursor: pointer;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat   left  center;background-size: 100% auto}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat   right center;background-size: 100% auto}
.bx-touch    .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y   left  center;background-size: 100% auto}
.bx-touch    .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y   right center;background-size: 100% auto}


.bx_item_list_you_looked_horizontal .bx_item_list_title {
    color: #fd9239;
    cursor: pointer;
}
.bx_item_list_you_looked_horizontal .bx_item_list_title span{
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    border-bottom: 1px dotted;
}
.bx_item_list_you_looked_horizontal .bx_item_list_title i.fa {
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.bx_item_list_you_looked_horizontal .bx_item_list_section .bx_item_list_slide {
    /*height: auto !important;*/
}
.bx_item_list_you_looked_horizontal .bx_item_list_section {
    padding-top: 15px;
    margin-bottom: 15px;
}
.bx_item_list_you_looked_horizontal .hidden_bx_viewed_block {display: none;}
.bx_item_list_you_looked_horizontal .hidden_bx_viewed_block.first_show_slider {display: block; height: 0;overflow: hidden;}
.bx_item_list_you_looked_horizontal .bx_viewed_item_container.no-imgs > a {
    background-image: none !important;
}

.bx_item_list_you_looked_horizontal .btn_viewed_close {
    position: absolute;
    right: -11px;
    top: -13px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.bx_item_list_you_looked_horizontal .btn_viewed_close i{
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
} 
.bx_item_list_you_looked_horizontal .btn_viewed_close:hover i{
    color: #d41d24;
} 

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_viewed_item .bx_viewed_item_container .viewed_item_bottom_block {
    position: absolute; 
    bottom: 15px;
    width: 100%;
    padding: 0 20px;
    left: 0;
}

.icon_left_info {
    padding-left: 35px;
    line-height: 14px;
    position: relative;
    margin: 5px 0;
}
.icon_left_info i.fa {
    position: absolute;
    color: #fd923a;
    left: 0;
    top: 0;
}

.bx_item_list_you_looked_horizontal .bx_item_list_section .flex-direction-nav .flex-next,
.bx_item_list_you_looked_horizontal .bx_item_list_section .flex-direction-nav .flex-prev{
    font-size: 0px;
    height: 55px;
    opacity: 0.7;
    text-align: center;
    margin-top: -35px;
}
.bx_item_list_you_looked_horizontal .bx_item_list_section .flex-direction-nav .flex-prev{
    left: -40px !important;
}
.bx_item_list_you_looked_horizontal .bx_item_list_section .flex-direction-nav .flex-next{
    right: -40px !important;
}
.bx_item_list_you_looked_horizontal .bx_item_list_section .flex-direction-nav .flex-next:before,
.bx_item_list_you_looked_horizontal .bx_item_list_section .flex-direction-nav .flex-prev:before{
    font-family: FontAwesome;
    font-size: 50px;
}
.bx_item_list_you_looked_horizontal .bx_item_list_section .flex-direction-nav .flex-next:before {
    content: '\f105';
}
.bx_item_list_you_looked_horizontal .bx_item_list_section .flex-direction-nav .flex-prev:before {
    content: '\f104';
}

.bx_item_list_you_looked_horizontal .not_available_red p {
    color: red;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
}