/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ----- Specifications ----- */
@-webkit-keyframes pulsing {
    0% {
      -webkit-transform: scale(0.9, 0.9);
              transform: scale(0.9, 0.9)
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
    }
    100% {
      -webkit-transform: scale(0.9, 0.9);
              transform: scale(0.9, 0.9);
    }
  }
@keyframes pulsing {
    0% {
      -webkit-transform: scale(0.9, 0.9);
              transform: scale(0.9, 0.9)
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
    }
    100% {
      -webkit-transform: scale(0.9, 0.9);
              transform: scale(0.9, 0.9);
    }
  }
.puls{
    -webkit-animation: pulsing 2s infinite;
            animation: pulsing 2s infinite;
}
.hidden{
    display: none !important
}
.rock{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    bottom: 0;
}
.rock img{
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}
.opacity{
    opacity: 0;
    height: 20px;
}
canvas{
    width: 100%;
}
body {
    position: relative;
	font-family: 'Riffic-700', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 40px;
	color: #fff;min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 44px;
    width: 450px;
    margin: 0px auto;
    position: relative;
	text-transform: uppercase;
}

h1:before {
    content: "Play for free earn real cash!";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-text-stroke: 12px #6a2c00;
    z-index: -1;
}

.offer-title-yellow {
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa300), to(#f6b815));
    background-image: -o-linear-gradient(top, #ffa300, #f6b815);
    background-image: linear-gradient(180deg, #ffa300, #f6b815);
    z-index: 1;
}

.offer-title-mango {
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcc802), to(#f7e809));
    background-image: -o-linear-gradient(top, #fcc802, #f7e809);
    background-image: linear-gradient(180deg, #fcc802, #f7e809);
    z-index: 1;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	display: block;
}

p {
	margin: 0;
}

a, input, button {
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	color: inherit;
}

a:hover {
	text-decoration: none;
}


input, button {
	outline: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	padding: 0; 
}

button {
	cursor: pointer;
}

.d-flex {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.jс-space-between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.al-it-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.sick {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 692px;
	width: 100%;
	margin: 0 auto;
}

/* ----- Header ----- */

.header {
	position: relative;
	background: url(../img/before/header.png) no-repeat center center / cover;
	text-align: center;
	padding: 20px 0 20px 0;
	z-index: 2;
}

.header:before {
    content: "";
    display: block;
    width: 1929px;
    height: 129px;
    background: url(../img/before/bef-1.png) no-repeat center center / cover;
    position: absolute;
    top: -3%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
}

.offer__text {
	font-size: 20px;
    text-transform: uppercase;
    margin-top: 14px;
}

.offer__text span {
	color: #fbee38;
}

/* ----- Section-Game ----- */

.section-game {
	background-color: #4e1c00;
	position: relative;
	z-index: 3;
    padding: 50px 0 0 0;
}

.section-game:before {
    content: "";
    display: block;
    width: 190px;
    height: 382px;
    background: url(../img/img/men.png) no-repeat center center / cover;
    position: absolute;
    top: 23%;
    left: 63.7%;
    z-index: 8;
}

.wrapper {
	position: relative;
    margin: 0 45px;
}

.wrapper:before {
    content: "";
    display: block;
    width: 178px;
    height: 66px;
    background: url(../img/logo/logo.png) no-repeat center center / cover;
    position: absolute;
    top: -15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 8;
}

.wrapper__bac {
    content: "";
    display: block;
    width: 1904px;
    height: 484px;
    background: url(../img/before/fon-1.png) no-repeat center center / cover;
    position: absolute;
    top: -15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
}

.wrapper__img {
    max-width: none;
    width: 615px;
    margin: -50px 0 0 39px;
    z-index: 4;
}

.frame-1, 
.frame-2, 
.frame-3, 
.frame-4, 
.frame-5 {
    display: inline-block;
    background: url(../img/before/frame.png) no-repeat center center / cover;
    width: 126px;
    height: 128px;
    position: absolute;
    top: -3%;
    left: 4.4%;
    z-index: 2;
}

.ice-1, 
.ice-2, 
.ice-3, 
.ice-4, 
.ice-5 {
    display: inline-block;
    background: url(../img/before/ice.png) no-repeat center center / cover;
    width: 104px;
    height: 106px;
    position: absolute;
    opacity: .8;
    top: 0%;
    left: 6.4%;
    z-index: 1;
}

.frame-2 {
    top: -3.3%;
    left: 22.7%;
}

.ice-2 {
    top: -0.3%;
    left: 24.7%;
}

.frame-3 {
    top: -3.3%;
    left: 58.7%;
}

.ice-3 {
    top: -0.3%;
    left: 60.7%;
}

.frame-4 {
    top: -3.3%;
    left: 77%;
}   

.ice-4 {
    top: -0.3%;
    left: 78.7%;
}

.frame-5 {
    top: 31%;
    left: 41%;
}

.ice-5 {
    top: 34%;
    left: 43%;
}

.wrapper-number {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: auto;
    margin: -53px auto 0 auto;
    text-align: center;
    z-index: 1;
}

.wrapper-number:before {
    content: "";
    display: block;
    width: 201px;
    height: 66px;
    background: url(../img/before/pim.png) no-repeat center center / cover;
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
}

.wrapper-number:after {
    content: "";
    display: block;
    width: 211px;
    height: 73px;
    background: url(../img/before/bam.png) no-repeat center center / cover;
    position: absolute;
    top: 9%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -2;
}

.wrapper-number__games {
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1c52e), to(#f3cb30));
    background-image: -o-linear-gradient(top, #f1c52e, #f3cb30);
    background-image: linear-gradient(180deg, #f1c52e, #f3cb30);
    margin-top: 22px;
    font-size: 20px;
    margin-left: 4px;
}

.wrapper-number__games:before {
	content: "3";
	display: inline-block;
  	position: absolute;
  	left: 0;
  	right: 0;
  	-webkit-text-stroke: 6px #6a2c00;
  	z-index: -1;
}

.wrapper-number__text {
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2c62e), to(#e79423));
    background-image: -o-linear-gradient(top, #f2c62e, #e79423);
    background-image: linear-gradient(180deg, #f2c62e, #e79423);
    font-size: 19px;
    margin-left: 4px;
    margin-top: -3px;
    height: 31px;
}

.wrapper-number__text:before {
	content: "free games";
	display: inline-block;
  	position: absolute;
  	left: 0;
  	right: 0;
  	-webkit-text-stroke: 6px #6a2c00;
  	z-index: -1;
}

.wrapper-start {
	display: inline-block;
    margin: 27px 0 0 41%;
}

.wrapper-start img {
    width: 130px;
}

.par-1 {
    display: inline-block;
    width: 163px;
    height: 196px;
    background: url(../img/parallax/par-1.png) no-repeat center center / cover;
    position: absolute;
    left: 0.45%;
    z-index: 125;
    bottom: 40.6%;

}

.par-2 {
    display: inline-block;
    width: 117px;
    height: 153px;
    background: url(../img/parallax/par-2.png) no-repeat center center / cover;
    position: absolute;
    bottom: 10.6%;
    right: 20.45%;
    z-index: 120;
}

/* ----- Prize ----- */

.section-prize {
    position: relative;
    min-height: 100px;
    padding: 19px 0 89px 0;
    z-index: 20;
}

.prize {
    position: relative;
    font-size: 27px;
    text-transform: uppercase;
    height: 100%;
    text-align: center;
    z-index: 1000;
    padding-top: 7px;
}

.prize:before {
    content: "";
    display: block;
    background: url(../img/before/bef-bad.png) no-repeat center center / cover;
    width: 100%;
    height: 94px;
    position: absolute;
    top: -5.3%;
    left: 49%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
}

.prize__text {
	position: relative;
	color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf539), to(#f6d732));
    background-image: -o-linear-gradient(top, #fcf539, #f6d732);
    background-image: linear-gradient(180deg, #fcf539, #f6d732);
}



.prize__text_better {
	position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeb42a), to(#e79523));
    background-image: -o-linear-gradient(top, #eeb42a, #e79523);
    background-image: linear-gradient(180deg, #eeb42a, #e79523);
    margin-top: 8px;
}



.prize__link {
    position: relative;
    max-width: 191px;
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
    color: #6A3913;
    border: 3px solid #eba928;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf439), to(#e79423));
    background: -o-linear-gradient(top, #fcf439, #e79423);
    background: linear-gradient(180deg, #fcf439, #e79423);
    text-transform: uppercase;
    height: 100%;
    z-index: 1;
    margin: 37px 0 0 0;
    border-radius: 100px;
    display: inline-block;
    padding: 18px 41px 14px 41px;
    letter-spacing: 0px;
}

.prize__link span {
	position: relative;
    z-index: 1;
}

.prize__link span:before {
	content: "GRAB THE PRIZE";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-text-stroke: 7px #e79523;
    z-index: -1;
}

/* ----- Arcticmodal ----- */

.arcticmodal-overlay {
    background: rgb(0 0 0 / .8) !important;
    opacity: 8 !important;
}

.box-modal {
    position: relative;
    width: auto;
    background-color: #340f00;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 38px 40px 38px 40px;
    z-index: 20;
    text-align: center;
}

.box-modal__close {
    position: absolute;
    top: 5%;
    right: 3%;
    width: 50px;
    cursor: pointer;
}

.box-modal__title {
    width: 406px;
    margin: 0 auto;
    font-size: 33px;
    text-transform: uppercase;
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf539), to(#f6d732));
    background-image: -o-linear-gradient(top, #fcf539, #f6d732);
    background-image: linear-gradient(180deg, #fcf539, #f6d732);
}

.box-modal__title:before {
    content: "Congratulations, you won €20!";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-text-stroke: 12px #6a2c00;
    z-index: -1;
}

.box-modal__title span {
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeb42a), to(#e79523));
    background-image: -o-linear-gradient(top, #eeb42a, #e79523);
    background-image: linear-gradient(180deg, #eeb42a, #e79523);
    z-index: 1;
}

.box-modal__link {
    width: 434px;
    margin: 25px auto 0 auto;
    line-height: 1.4em;
}

.box-modal__link a {
    position: relative;
    display: inline-block;
}

.box-modal__link a:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 11%;
    left: 0;
}

.box-modal__text {
    width: 438px;
    margin: 30px auto 0 auto;
}

.box-modal__btn {
    position: relative;
    max-width: 303px;
    width: 100%;
    text-transform: uppercase;
    font-size: 26px;
    color: #6a3914;
    border: 4px solid #eba928;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf439), to(#e79423));
    background: -o-linear-gradient(top, #fcf439, #e79423);
    background: linear-gradient(180deg, #fcf439, #e79423);
    text-transform: uppercase;
    height: 100%;
    z-index: 1;
    margin-top: 33px;
    border-radius: 133px;
    display: inline-block;
    padding: 19px 13px 15px 13px;
    letter-spacing: 0px;
}

.box-modal__btn span {
    position: relative;
    z-index: 1;
}

.box-modal__btn span:before {
    content: "TAKE MY WINNINGS";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-text-stroke: 8px #e79523;
    z-index: -1;
}