/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ----- Media Queries ----- */

@media only screen and (min-width : 1922px) and (max-width : 2560px) {

	.wrapper__bac {
		width: 200vh;
    	height: 959px;
	}

	.wrapper__img {
    	max-width: none;
    	width: 1193px;
    	margin: -78px 0 0 -243px;
	}
}

@media only screen and (min-width : 1922px) and (max-width : 2560px) {

	.header:before {
		left: 50%;
    	-webkit-transform: translateX(-50%);
    	    -ms-transform: translateX(-50%);
    	        transform: translateX(-50%);
	}

	.section-game {
    	padding: 146px 0 0 0;
	}

	.wrapper__bac {
	    width: 200vh;
	    height: 800px;
	    top: -15%;
	}

	.wrapper__img {
    	width: 973px;
    	margin: -65px 0 0 -144px;
	}

	.frame-1, 
	.frame-2, 
	.frame-3, 
	.frame-4, 
	.frame-5 {
    	width: 202px;
    	height: 202px;
    	left: -22.6%;
	}

	.ice-1, 
	.ice-2, 
	.ice-3, 
	.ice-4, 
	.ice-5 {
    	width: 169px;
    	height: 169px;
    	left: -19.6%;
	}

	.frame-2 {
		top: -3.3%;
    	left: 6.7%;
	}

	.ice-2 {
		top: -0.3%;
	    left: 9.7%;
	}

	.frame-3 {
		top: -3.3%;
	    left: 63.7%;
	}

	.ice-3 {
	    top: -1.3%;
	    left: 66.7%;
	}

	.frame-4 {
		top: -3.3%;
	    left: 92%;
	}	

	.ice-4 {
		top: -1.3%;
	    left: 94.7%;
	}

	.frame-5 {
	    top: 31%;
	    left: 34%;
	}

	.ice-5 {
	    top: 34%;
	    left: 37%;
	}

}

@media only screen and (min-width : 1921px) and (max-width : 2671px) {

	.header {
		padding: 26px 0 38px 0;
	}

	.wrapper__bac {
        width: 218vh;
    	height: 834px;
    	top: -19%;
	}

}

@media only screen and (min-width : 1600px) and (max-width : 1870px) {

	

}

@media only screen and (min-width : 200px) and (max-width : 1600px) {

	.container {
		width: 1080px; 	
	}

	.header {
		padding: 13px 0 20px 0;
	}

	.header:before {
    	width: 1600px;
    	height: 107px;
	}

	h1 {
   	 	font-size: 42px;
    	width: 428px;
	}

	.offer__text {
		font-size: 18px;
	}

	.section-game {
    	padding: 0px 0 0 0;
	}

	.section-game:before {
    	width: 155px;
    	height: 312px;
    	top: 26%;
    	left: 68.7%;
	}

	.wrapper:before {
    	width: 157px;
    	height: 57px;
			top: -15px;
	}
	.wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
	}
	canvas {
    margin: auto;
    width: 90%;
    padding-top: 20px;
}
	.wrapper-start {
		margin: 14px 0 0 42%;
	}

	.wrapper-start img {
    	width: 119px;
	}

	.wrapper__bac {
	    width: 1600px;
    	height: 390px;
    	top: 0;
	}

	.wrapper__img {
    	width: 531px;
    	margin: -52px 0 0 82px;
	}

	.frame-1, 
	.frame-2, 
	.frame-3, 
	.frame-4, 
	.frame-5 {
    	width: 114px;
    	height: 107px;
    	top: -3%;
    	left: 10.4%;
	}

	.ice-1, 
	.ice-2, 
	.ice-3, 
	.ice-4, 
	.ice-5 {
        width: 91px;
    	height: 94px;
    	top: 0%;
    	left: 12.4%;
	}

	.frame-2 {
	    top: -3.3%;
	    left: 25.7%;
	}

	.ice-2 {
	    top: -0.3%;
	    left: 27.7%;
	}

	.frame-3 {
	    top: -3.3%;
	    left: 57.7%;
	}

	.ice-3 {
	    top: -0.3%;
	    left: 59.7%;
	}

	.frame-4 {
	    top: -3.3%;
	    left: 73%;
	}   

	.ice-4 {
	    top: -0.3%;
	    left: 74.7%;
	}

	.frame-5 {
	    top: 31%;
	    left: 42%;
	}

	.ice-5 {
	    top: 34%;
	    left: 44%;
	}

	.wrapper-number:after {
    	width: 185px;
    	height: 67px;
	}

	.wrapper-number:before {
    	width: 176px;
    	height: 57px;
	}

	.wrapper-number__games {
		margin-top: 22px;
    	font-size: 18px;
	}

	.wrapper-number__text {
		font-size: 17px;
	}

	.par-1 {
		margin-top: 355px;
   	 	bottom: -24%;
	}

	.par-2 {
		bottom: -59.6%;
	}

	.prize__link {
		margin: 34px 0 0 0;
	}

	.section-prize:before {
		width: 1600px;
	}

}

/* 992-1200 */
@media  screen and (max-width: 1200px) {

	.container {
		width: 900px; 	
	}

}

/* 768-992 */
@media  screen and (max-width: 992px) {

	.container {
		width: 700px;	
	}
}

/* 576-768 */
@media  screen and (max-width: 768px) {

	.container {
		width: 540px;
	}

	.header:before {
    	width: 778px;
    	height: 80px;
	}

	h1 {
    	font-size: 34px;
    	width: 340px;
	}

	h1:before {
		-webkit-text-stroke: 9px #6a2c00;
	}

	.offer__text {
	    margin-top: 7px;
	}

	.section-game {
    	padding: 0 0 0 0;
	}

	.section-game:before {
    	width: 135px;
   	 	height: 270px;
	}

	.wrapper:before {
	    width: 137px;
    	height: 48px;
			top: -8px;
	}
	canvas {
    margin: auto;
    width: 80%;
    padding-top: 40px;
}
	.wrapper__bac {
    	width: 769px;
    	height: 310px;
	}

	.wrapper__img {
    	width: 370px;
    	margin: -58px 0 0 82px;
	}

	.frame-1, 
	.frame-2, 
	.frame-3, 
	.frame-4, 
	.frame-5 {
	    width: 73px;
    	height: 76px;
    	left: 14.7%;
	}

	.frame-2 {
		left: 28.7%;
	}

	.frame-3 {
		left: 56.2%;
	}

	.frame-4 {
		left: 70.7%;
	}

	.frame-5 {
	    top: 31.7%;
    	left: 42.9%;
	}

	.ice-1, 
	.ice-2, 
	.ice-3, 
	.ice-4, 
	.ice-5 {
	    width: 64px;
    	height: 62px;
    	left: 15.4%;
	}

	.ice-2 {
		left: 29.4%;
	}

	.ice-3 {
		left: 56.9%;
	}

	.ice-4 {
		left: 71.4%;
	}

	.ice-5 {
	    top: 34.7%;
    	left: 43.9%;
	}

	.section-prize:after {
    	width: 778px;
    	height: 164px;
	}

	.wrapper-number:before {
	    width: 165px;
    	height: 53px;
    	top: 21%;
	}

	.wrapper-number:after {
    	width: 173px;
    	height: 61px;
    	top: 17%;
	}

	.wrapper-number__games {
    	font-size: 18px;
    	margin-top: 33px;
	}

	.wrapper-number__text {
    	font-size: 16px;
    	height: 66px;
	}

	.wrapper-start {
    	margin: 3px 0 0 38%;
	}

	.prize {
    	font-size: 28px;
	}

	.prize:before {
	    width: 768px;
    	height: 95px;
    	top: -6%;
	}

	.par-1 {
    	width: 110px;
    	height: 130px;
    	margin-top: 550px;
    	bottom: 8%;
	}

	.par-2 {
    	width: 90px;
    	height: 115px;
	}

	.section-prize {
		padding: 19px 0 79px 0;
	}

	.section-prize:before {
		height: 248px;
	}

	.prize__link {
	    font-size: 24px;
    	max-width: 195px;
	}

	.box-modal {
    	font-size: 15px;
    	border-radius: 40px;
    	padding: 38px 30px 38px 30px;
	}

	.box-modal__close {
    	width: 54px;
	}

	.box-modal__title {
    	font-size: 28px;
    	width: 335px;
	}

	.box-modal__title:before  {
		-webkit-text-stroke: 9px #6a2c00;
	}

	.box-modal__link {
    	width: 373px;
	}

	.box-modal__text {
    	width: 371px;
	}

	.box-modal__btn {
	    font-size: 26px;
    	max-width: 268px;
	}

}

/* 320-576 */
@media  screen and (max-width: 576px) {
	canvas {
    width: 100%; 
		padding-top: 0;
}
	.container {
		width: 310px;
	}

	.header {
		padding: 33px 0 33px 0;
	}

	.header:before {
		background: url(../img/before/bef-1.png) no-repeat center center / cover;
    	width: 577px;
    	height: 46px;
	}

	h1 {
		width: 225px;
    	margin: 0 auto;
    	font-size: 25px;
	}

	h1:before {
		-webkit-text-stroke: 6px #6a2c00;
	}

	.offer__text br {
		display: none;
	}

	.offer__text {
    	font-size: 14px;
    	margin-top: 16px;
	}

	.section-game {
    	padding: 0 0 0 0;
	}

	.section-game:before {
        width: 80px;
    	height: 158px;
    	top: 26%;
    	left: 74.7%;
	}

	.wrapper:before {
	    width: 70px;
    	height: 27px;
	}

	.wrapper__bac {
    	width: 577px;
    	height: 195px;
    	top: -17%;
	}

	.wrapper__img {
    	width: 235px;
    	height: 137px;
    	margin: -71px 0 0 34px;
	}

	.frame-1, 
	.frame-2, 
	.frame-3, 
	.frame-4, 
	.frame-5 {
	    width: 48px;
	    height: 48px;
	    top: -3.3%;
	    left: 9.7%;
	}

	.frame-2 {
		left: 24.7%;
	}

	.frame-3 {
		left: 56.2%;
	}

	.frame-4 {
		left: 71.7%;
	}

	.frame-5 {
	    top: 31.7%;
    	left: 40.9%;
	}

	.ice-1, 
	.ice-2, 
	.ice-3, 
	.ice-4, 
	.ice-5 {
	    width: 41px;
    	height: 41px;
    	left: 11.4%;
	}

	.ice-2 {
		left: 25.4%;
	}

	.ice-3 {
		left: 57.9%;
	}

	.ice-4 {
		left: 73.4%;
	}

	.ice-5 {
	    top: 34.7%;
    	left: 41.9%;
	}

	.wrapper-number {
	    width: auto;
	    margin: -16px auto 0 auto;
    	height: 57px;
	}

	.wrapper-number:before {
        width: 105px;
    	height: 33px;
    	top: 14%;
	}

	.wrapper-number:after {
   	    width: 110px;
    	height: 40px;
    	top: 7%;
	}

	.wrapper-number__games,
	.wrapper-number__text {
		font-size: 12px;
	}

	.wrapper-number__games {
		margin: 13px 0 0 0;
	}

	.wrapper-number__text:before {
    	-webkit-text-stroke: 4px #6a2c00;
	}

	.wrapper-number__games:before {
    	-webkit-text-stroke: 4px #6a2c00;
	}

	.wrapper-start {
		margin: 6px 0 0 35%;
	}

	.wrapper-start img {
    	width: 91px;
	}

	.par-1 {
		width: 45px;
		height: 55px;
		margin-top: 194px;
		bottom: 40%;
	}

	.par-2 {
	    width: 40px;
    	height: 54px;
    	bottom: -9.6%;
    	margin-top: 347px;
	}

	.section-prize {
	    padding: 32px 0 0 0;
	}

	.section-prize:before {
    	height: 419px;
		bottom: -88%;
	}

	.section-prize:after {
		background: url(../img/before/bef-2.png) no-repeat center center / cover;
    	background-size: 100vw;
	}

	.prize {
    	font-size: 15px;
			padding-top: 10px;
	}

	.prize:before {
	    width: 576px;
    	height: 62px;
    	top: -9.9%;
	}

	.prize__text_better {
		margin-top: 2px;
	}

	.prize__text:before {
	    -webkit-text-stroke: 4px #6a2c00;
	}

	.prize__link {
        font-size: 16px;
    	max-width: 131px;
    	border: 3px solid #eba928;
    	margin-top: 51px;
    	padding: 15px 21px 10px 21px;
	}

	.prize__link span:before {
    	-webkit-text-stroke: 4px #e79523;
	}

	.arcticmodal-container_i2 {
    	padding: 5px;
	}

	.box-modal {
    	font-size: 12px;
    	padding: 38px 20px 50px 20px;
	    border-radius: 30px;
	    padding: 20px;
	}

	.box-modal_close {
		width: 100%;
		position: absolute;
    	top: 0;
    	left: 1%;
    	z-index: 10099;
	}

	.box-modal__close {
    	width: 35px;
	}

	.box-modal__title {
    	font-size: 22px;
	    width: 255px;
	}

	.box-modal__title:before {
	    -webkit-text-stroke: 6px #6a2c00;
	}

	.box-modal__link,
	.box-modal__text {
    	width: 256px;
	}

	.box-modal__link {
		margin: 15px auto 0 auto;
	}

	.box-modal__text {
		margin: 15px auto 0 auto;
	}

	.box-modal__link br {
		display: none;
	}

	.box-modal__btn {
        font-size: 17px;
    	max-width: 172px;
   	 	margin-top: 13px;
	    border: 3px solid #eba928;
	}

	.box-modal__btn span:before {
    	-webkit-text-stroke: 3px #e79523;
	}

}