#small_basket_header .sale_basket_small {
	display: block;
	color: #030303;
	background-color: #f7e9d5;
	font-size: 15px;
	padding: 7px 15px 6px 35px;
  line-height: 1.2;
	letter-spacing: 0.3px;
	background-image: url("images/cart-header.png");
	background-repeat: no-repeat;
	background-position: left 5px top 8px;
}

.sale_basket_small_title {
	font-weight: 700;
}