.filter_letters_wrapper {
    position: relative;
}

.filter_letters {
    position: absolute;
    right: 0;
    bottom: -21px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: right;
}

.filter_letters a {
    color: #336699;
    padding: 0 2px;
}

.filter_letters a.active {
    color: #ff8827;
}