div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {position: absolute;top: 5px;right: 20px;background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(https://www.coffee-butik.ru/local/templates/.default/components/bitrix/main.register/cb_reg/images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(https://www.coffee-butik.ru/local/templates/.default/components/bitrix/main.register/cb_reg/images/sec-unlocked.png);}
.to_register_link{
    padding: 10px !important;
    width: 100%;
    color: #fff !important;
    font-size: 12px !important;
    border-radius: 4px !important;
    background: #ff952b !important;
    background: -moz-linear-gradient(90deg,#ff952b 0,#ff701f 100%) !important;
    background: -webkit-linear-gradient(90deg,#ff952b 0,#ff701f 100%) !important;
    background: -o-linear-gradient(90deg,#ff952b 0,#ff701f 100%) !important;
    background: -ms-linear-gradient(90deg,#ff952b 0,#ff701f 100%) !important;
    background: linear-gradient(180deg,#ff952b 0,#ff701f 100%) !important;
}
.div_to_register_link{
    margin-top: 20px;
}
