@media screen and (max-width: 768px) {
  .leftImg{display:none;}
  .rightImg{display:none;}
  .CentralImg{
    width: 140%;
    top: 50%;
    left: 45%;
  }
  .swiper-slide h1{font-size: 90px;}

  footer{
    width: 300px;}
}

@media screen and (max-width: 425px){
  .CentralImg{
    width: 160%;
    top: 50%;
    left: 40%;
  }
  .mobile{display: flex;}
  .swiper-slide h1{font-size: 55px;}
  .navigation{display: none;}
    .hr{width: 80px; background-color: rgba(123,4,0,100%);}

  }
