body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px; 
	color: #fff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__hide {
  display: none;
}
.nav__link {
  text-decoration: none;
  color: #fff;
}
.nav__link:nth-child(2) {
  padding: 0 26px;
}
.nav__link:hover {
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 50px;
  right: 10%;
  z-index: 1000;
}

.intro {
  width: 100%;
  max-height: 891px;
  background: url('../image/main-bg.png') no-repeat center;
  background-size: cover;
}
.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.intro__logo img {
  width: 100%;
}
.intro__title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 46px;
  padding-top: 41%;
}
.intro__subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding-top: 8%;
  margin-bottom: 50px;
}

.description {
  color: #484848;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.description__text-top {
  padding-top: 57px;
}
.description__text-bottom {
  padding-top: 55px;
}
.description__features-title {
  padding: 34px 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
}

.features {
  background-color: #547FC2;
}
.features__inner {
  text-align: center;
}
.features__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 59px;
  padding-top: 48px;
}
.features__items {
  max-width: 1150px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 62px 0 55px 0;
}
.features__item {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.features__item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  padding-top: 16px;
}

.footer {
  background: #727271;
  text-align: center;
}
.footer__text {
  padding: 15px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}


@media screen and (max-width: 920px) {
  .header {
    right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    right: 20px;
    top: 35px;
  }
  .features__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
  }
  .features__item {
    flex: 1 1;
  }
  .description {
    margin: 0 5px;
  }
  .features {
    padding: 0 5px;
  }
}
@media screen and (max-width: 660px) {
  .nav {
    flex-direction: column;
    display: none;
  }
  .nav__hide {
    display: flex;
    flex-direction: column;
  }
  .nav__link {
    font-size: 16px;
    line-height: 22px;
  }
  .nav__link:nth-child(2) {
    padding: 5px 0;
  }
  .features__item {
    flex: 1 1 25%;
  }
}
@media screen and (max-width: 414px) {
  .intro__logo img {
    width: 80%;
  }
  .intro__title {
    padding-top: 10%;
  }
  .header {
    right: 10px;
    top: 25px;
  }
  .nav {
    flex-direction: column;
  }
  .nav__link:nth-child(2) {
    padding: 5px 0;
  }
}
@media screen and (max-width: 376px) {
  .header {
    right: 15px;
    top: 15px;
  }
  .intro__title {
    font-size: 15px;
    line-height: 22px;
    padding: 23px 0;
  }
  .intro__subtitle {
    background-color: #727271;
    padding: 10px 5px;
    margin: 0;
  }
  .intro__logo img {
    width: 60%;
  }
  .description {
    margin: 0 10px;
  }
  .description__text-top {
    font-size: 15px;
    line-height: 23px;
  }
  .description__text-bottom {
    font-size: 15px;
    line-height: 23px;
    padding-top: 35px;
  }
  .description__features-title {
    font-size: 21px;
    line-height: 26px;
  }
  .features__title {
    font-size: 32px;
    line-height: 36px;
  }
  .features__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
  }
  .features__item {
    flex: 1 1 170px;
  }
  .features__item:last-child {
    text-align: center;
    margin: 0 auto;
  }
  .features__item-subtitle {
    text-overflow: auto;
  }
}

@media screen and (max-width: 321px) {
  .features__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 14px;
  }
}